.compare-page {
  &__title {
    font-size: 20px;
  }
  &__help-link {
    font-size: 12px;
    font-weight: 700;
    color: $base;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 16px;
    @media all and (min-width: 1024px) {
      margin: 0;
    }
  }
  &__header {
    margin: 40px 0 20px;
    .compare-page__title {
      margin: 0;
    }
    @media all and (min-width: 1024px) {
      @include flex($flex-direction: row-reverse, $align-items: center);
      margin: 40px 0;
    }
  }
  &__chart-img {
    max-width: 100%;
  }
  &__chart {
    margin: 24px -16px 40px;
    background: $white;
    padding: 20px 16px;
    @media all and (min-width: 1024px) {
      margin: 40px 0 80px;
      background: none;
      padding: 0;
    }
  }
  &__items {
    margin-bottom: 40px;
    @media all and (max-width: 1023px) {
      margin: 0 -18px 30px;
    }
  }
  &__item {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}