.landing-page {
  &__people {
    .search-card__items {
      padding: 0;
    }
  }
  &__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    color: #898D93;

    img {
      float: left;
      padding-right: 10px;
    }
  }
  &__declarants-table {
    th {
      @media (min-width: 1024px) {
        white-space: nowrap;
      }
    }
  }
  &__declarants-table-flags {
    color: #FF6B69;
    &:not(:empty)::after {
      content: '';
      background: url('../images/icon/flag-fill.svg');
      display: inline-block;
      height: 16px;
      vertical-align: text-top;
      width: 16px;
    }
  }
  &__declarants-table-amount {
    white-space: nowrap;
  }
  &__export {
    text-transform: uppercase;
    &::after {
      content: '';
      background: url('../images/icon/file-excel.svg');
      display: inline-block;
      height: 14px;
      margin-left: 8px;
      vertical-align: bottom;
      width: 14px;
    }
  }
}
.trend {
  &--minus {
    color: #FF6B69;
  }
  &--plus {
    color: #56B8AD;
  }
}

#tablo {
  width: 100%;
  height: 400px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
