.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.chatbot-menu {
  display: none;
  position: fixed;
  left: 10px;
  bottom: 50px;
  width: 5em;
  height: 5em;

  @media (min-width: 768px) {
    display: block;
  }

  .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #05a7ef;
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transform: translateX(0);

    &.question {
      background: $decl-red;
    }

    .fa {
      @extend .absolute-center;
      font-size: 3em;
      transition: color 0.3s;
    }

    &:hover .fa {
      color: white;
    }

    &.trigger {
      opacity: 1;
      z-index: 100;
      cursor: pointer;
      transition: transform 0.3s;
      @include blueGradient;
      box-shadow: 0px 0px 0px 8px rgba(5,167,239,0.3);

      i {
        color: white;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
  }

  .icons {
    .btn {
      width: 40px;
      height: 40px;
      padding: 0;
      font-size: 24px;
      color: white;

      .fa {
        font-size: 24px;
      }
    }
  }

  > span {
    display: none;
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 150px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    padding: 3px 7px;
    background: #eee;
    border-radius: 3px;
  }

  &.active {
    .btn-icon {
      opacity: 1;
      z-index: 50;
    }

    .trigger {
      .line {
        height: 0px;
        top: 45%;

        &:before {
          transform: rotate(45deg);
          width: 110%;
        }
        &:after {
          transform: rotate(-45deg);
          width: 110%;
        }
      }
    }

    > span {
      display: block;

    }
  }
}

$numOfElems: 8;

@for $i from 1 through $numOfElems {
  $deg: 360deg / $numOfElems;
  .rotater:nth-child(#{$i}) {
    transform: rotate(22 + $deg/-2 + $deg * ($i - 1));
  }

  .chatbot-menu.active {
    .rotater:nth-child(#{$i}) .btn-icon {
      transform: translateY(-3em) rotate($deg/2 - $deg * ($i - 1));
    }
  }
}
