#navbar {
  border: none;
  background: none;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-toggle {
    margin-right: 0;

    .glyphicon-remove {
      color: $decl-blue;
      display: none;
      opacity: 1;
      width: 22px;
      text-align: center;
    }

    &.open {
      .glyphicon-remove {
        display: inline-block;
      }

      .icon-bar {
        display: none;
      }
    }

    &:hover {
      span {
        color: white;

        &.icon-bar {
          background-color: white;
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    ul {
      margin-top: 25px;
    }

    &.in,
    &.collapsing {
      width: 100%;

      ul {
        margin: 0;
      }
    }
  }
}

#joinus {
  margin-top: 12px;
  margin-bottom: 0;

  @media (max-width: $joinus-bp) {
    display: none;
  }
}

#navbar {
  li {
    margin-right: 40px;

    &.joinus {
      @media (min-width: $joinus-bp+1) {
        display: none;
      }
    }
  }
}

#navbar li:first-child a {
  padding-left: 0;
}

#navbar li a {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  //font-family: 'ws';
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0;
  border-bottom: 2px white solid;
}

#navbar li a:hover,
#navbar li a:active {
  border-bottom: 2px $decl-blue solid;
  color: $decl-blue;
}

.navbar-inverse .navbar-toggle {
  border-color: $decl-blue;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $decl-blue;
  border-color: $decl-blue;
}

.navbar-inverse .navbar-toggle {
  border-color: $decl-blue;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: $decl-blue;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #fff;
  border-color: #fff;
}

.nav-block {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

#block-sociallinksblock {
  margin-top: 35px;

  ul {
    margin-left: 0;
    padding-left: 0;
    text-align: right;

    li {
      list-style: none;
      display: inline-block;
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  .fa {
    color: $bg;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .fa-facebook,
  .fa-vk {
    background: #4e71a8;
  }

  .fa-twitter {
    background: #1cb7eb;
  }

  .fa-youtube-play {
    background: #e13f4c;
  }

  .fa-telegram {
    font-size: 32px;
    color: #1cb7eb;
  }

  .fa-rss {
    background: #e13f4c;
  }
}