#ex-search-form,
#front-searchbox {
  font-weight: 300;

  ::-webkit-input-placeholder { font-weight: 300; }
  ::-moz-placeholder { font-weight: 300; }
  :-ms-input-placeholder { font-weight: 300; }
  input:-moz-placeholder { font-weight: 300; }

  .search-name{
    background-image: none;
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: 2px;
  }
}