#breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  padding: 8px 0;

  @media(min-width:768px) {
    float: left;
  }

  .breadcrumb {
    background: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}

#donate {
  color: #808080;
  font-size: 12px;
  margin-top: $pad * 2;
  margin-bottom: $pad * 2;

  .media-left {
    padding-right: $pad * 2;
  }
}

#block-sociallinksblock {
  margin-top: 15px;

  ul {
    margin-left: 0;
    padding-left: 0;
    text-align: right;

    li {
      list-style: none;
      display: inline-block;
      margin-left: 10px;
    }
  }

  .fa {
    color: $bg;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .fa-facebook,
  .fa-vk {
    background: #4e71a8;
  }

  .fa-twitter {
    background: #1cb7eb;
  }

  .fa-youtube-play {
    background: $bihus-red;
  }

  .fa-telegram {
    font-size: 32px;
    color: #1cb7eb;
  }

  .fa-rss {
    background: $bihus-red;
  }
}

.pagination {
  > li > a,
  > li > span {
    color: $decl-green;
  }

  > .active > a,
  > .active > span,
  > .active > a:hover,
  > .active > span:hover,
  > .active > a:focus,
  > .active > span:focus {
    background-color: $decl-green;
    border-color: $decl-green;
  }
}

$wbw: 250px;

.watching-block {
  margin-top: $pad20;

  @media (min-width: 767px) {
    position: absolute;
    top: 0;
    right: $pad;
    width: $wbw;

    p {
      text-align: right;
    }
  }

  @media (min-width: 992px) and (max-width: 1030px) {
    right: 35px;
  }
}

.breadcrumbs-container {
  @media (min-width: 767px) {
    margin-right: $wbw;
  }
}

.watching-block,
.breadcrumbs-container {
  .btn {
    @media (min-width: 767px) {
      float: right;
    }
  }
}

//decl-preview box
.search-results,
.compare-list,
.decl-compare-modal {
  .item {
    margin-top: 20px;
    margin-bottom: 20px;

    &.list-group-item {
      height: auto !important;
      float: none;
      width: 100%;
      overflow: visible;

      img {
        float: left;
      }

      &:before,
      &:after {
        display: table;
        content: " ";
      }

      &:after {
        clear: both;
      }
    }

    @media (min-width: 992px) {
      &:nth-child(2n+1) {
        clear: both;
      }
    }

    @media (min-width: 1200px) {
      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;

      li {
        display: inline;
        margin-right: 10px;
      }
    }

    h3 {
      margin-top: 0;
      font-size: 18px;
    }

    .box {
      transition: all linear 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: none;
      }
    }

    .sub-header,
    ul {
      font-size: 13px;
      font-weight: normal;

      .date,
      .type {
        display: block;
        font-size: 13px;
        font-weight: normal;
      }

      span.glyphicon {
        font-size: 10px;
        margin-right: 10px;
        opacity: 0.7;
        padding-right: 0;
      }
    }
  }
}

.decl-compare-modal {
  .item .box:hover {
    border: gray 1px dashed
  }
}



