.radio-box {
  @include flex($flex-wrap: wrap, $justify-content: flex-start, $align-items: center);
  @media all and (min-width: 350px) {
    flex-wrap: nowrap;
  }
  &__label {
    margin-right: 37px;
    color: $white;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 5px;
    @media all and (min-width: 350px) {
      width: auto;
      margin-bottom: 0;
    }
  }
  &__item {
    margin-right: 27px;
    &:last-child {
      margin: 0;
    }
  }
}