.youcontrol__dossier {
  .youcontrol__dossier-title {
    @media (max-width: 1023px) {
      display: none;
    }
  }
  .youcontrol__dossier-title--mobile {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.youcontrol__dossier--option-a {
  border: 1px solid #56B8AD;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 8px;
  @media (max-width: 1023px) {
    box-sizing: border-box;
    padding: 6px 8px;
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  .search-page &,
  .compare-popup & {
    @media (min-width: 1024px) {
      float: right;
      margin-top: -3px;
    }
  }
  svg {
    position: relative;
    top: 2px;
  }
}

.youcontrol__check-person--option-a {
  &.youcontrol__check-person--lg {
    border: 1px solid #56B8AD;
    border-radius: 2px;       
    box-sizing: border-box;
    font-size: 12px;
    padding: 8px 9px 9px;
    text-align: center;
    
    @media (max-width: 1023px) {
      text-transform: uppercase;
    }
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  .youcontrol__check-person-icon--mobile {
    vertical-align: middle;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  &.youcontrol__check-person--sm {
    .youcontrol__check-person-icon {
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}

.youcontrol__check-person--option-b {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  svg {
    vertical-align: middle;
  }
}

.youcontrol__check-person--option-c,
.youcontrol__dossier--option-c {
  svg {
    vertical-align: middle;
  }
}

.card-actions__action--youcontrol {
  @media (max-width: 1023px) {
    display: none;
  }   
}

.youcontrol-tooltip__trigger {
  position: relative;
  cursor: pointer;
}

.tooltipster-base {
  position: absolute;
}

.youcontrol-tooltip__contents {
  background: $white;
  border: 1px solid #EEEFF2;
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 7px 16px;
  white-space: nowrap;
  color: #898D93;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  transition: opacity 0.3s linear;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 10px;
    height: 10px;
    background: red;
    background: $white;
    transform: rotate(45deg);
    margin-left: -6px;
    border: 1px solid #EEEFF2;
    z-index: 8;
  }
  &:after {
    content: "";
    position: absolute;
    right: 2px;
    bottom: 1px;
    height: 8px;
    left: 2px;
    background: $white;
    z-index: 9;
  }
}

.youcontrol__check-person--option-a,
.youcontrol__check-person--option-b,
.youcontrol__check-person--option-c,
.youcontrol__check-person--option-d,
.youcontrol__dossier--option-a,
.youcontrol__dossier--option-b,
.youcontrol__dossier--option-c,
.youcontrol__dossier--option-d {
  display: none;
}

.body--yc-option-a {
  .youcontrol__check-person--option-a,
  .youcontrol__dossier--option-a {
    display: inline-block;
  }

  .youcontrol__check-person--option-a.youcontrol__check-person--lg {
    display: inline-block;
  }

  .compare-popup .action-icon.youcontrol__check-person--option-a {
    display: none;
  }

  .personal-info__name .youcontrol__check-person--option-a {
    display: none;
  }

  .compare-popup .search-card__name .youcontrol__check-person--option-a {
    display: inline-block;
    margin-top: 2px;
  }

  .search-card__name .youcontrol__check-person--option-a {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.body--yc-option-b {
  .youcontrol__check-person--option-b,
  .youcontrol__dossier--option-b {
    display: block;
    margin-top: 7px;
  }

  .search-card--collapsed {
    .youcontrol__check-person--option-a,
    .youcontrol__check-person--option-b {
      display: none;
    }  
  }
}

.body--yc-option-c {
  .youcontrol__check-person--option-c,
  .youcontrol__dossier--option-c {
    display: inline-block;
  }
}

.body--yc-option-d {
  .youcontrol__check-person--option-d,
  .youcontrol__dossier--option-d {
    display: inline-block;
  }
}
