.pager {
  @include flex($justify-content: flex-start, $align-items: center);
  &__item {
    margin: 0 4px;
    @media all and (min-width: 1024px) {
      margin: 0 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &_desktop {
      display: none;
      @media all and (min-width: 1024px) {
        display: block;
      }
    }
  }
  &__link, &__dots {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    @media all and (min-width: 1024px) {
      width: 48px;
      height: 48px;
    }
  }
  &__prev, &__next {
    cursor: pointer;
    width: 24px;
    height: 32px;
    @media all and (min-width: 1024px) {
      height: 48px;
    }
    @include flex($justify-content: center, $align-items: center);
    &:hover {
      path { fill: $green; }
    }
  }
  &__link{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: $base;
    line-height: 32px;
    @media all and (min-width: 1024px) {
      line-height: 48px;
    }
    &:hover {
      color: $green;
    }
    &_active {
      background: $green;
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  &__dots {
    @include flex($justify-content: center, $align-items: center)
  }
  &__dot {
    display: block;
    width: 3px;
    height: 3px;
    background: $base;
    border-radius: 50%;
    margin: 0 1px;
  }
  &__arrow {
    width: 20px;
    height: 20px;
    @media all and (min-width: 1024px) {
      width: 24px;
      height: 24px;
    }
  }
}