.project-description-block {
  max-width: 490px;
  @media all and (min-width: 1024px) {
    margin-bottom: -6px;
  }
  &__logo {
    margin-bottom: 24px;
    display: block;
  }
  &__text {
    color: #C9C9C9;
    @media all and (min-width: 1024px) {
      font-size: 16px;
    }
  }
}