.project-menu {
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid $white;
    padding-bottom: 16px;
    margin-bottom: 17px;
  }
  &__items {
    @include flex($flex-wrap: wrap, $justify-content: flex-start);
  }
  &__link {
    color: $white;
    font-size: 16px;
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 0.8;
    }
  }
  &__item {
    width: 50%;
    box-sizing: border-box;
    padding: 8px 0;
    @media all and (min-width: 1024px) {
      width: 33.3%;
    }
  }
}