Django==1.10.5
django-jinja==2.2.2
social-auth-app-django==1.1.0
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
Jinja2==2.9.5
MarkupSafe==0.23
python-dateutil==2.4.0
gunicorn==19.2.1
django-pipeline==1.6.11
psycopg2
wagtail==1.8.1
rpy2==2.5.6
dpath==1.4.0
parsel==1.0.3
glob2==0.5
translitua==1.2.2
raven==6.0.0
XlsxWriter==0.9.6
pyjwt==1.5.0
cryptography==1.8.1
jmespath==0.9.2
python-telegram-bot==10.0.1
pyquery==1.4.0