Django==1.10.5
django-jinja==2.2.2
elasticsearch==5.0.1
elasticsearch-dsl==5.1.0
Jinja2==2.9.5
MarkupSafe==0.23
python-dateutil==2.4.0
urllib3==1.10.2
futures==2.2.0
gunicorn==19.2.1
django-pipeline==1.6.11
psycopg2==2.6.2
wagtail==1.8.1
rpy2==2.5.6
dpath==1.4.0
parsel==1.0.3
glob2==0.5
translitua==1.2.2
raven==6.0.0