#footer {
  padding-top: $pad20 * 2;
  background: #292929;
  color: #c8c8c8;

  a {
    color: #c8c8c8;

    &.more-link {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  .inline-logo,
  .inline-logo svg {
    height: 115px;
    width: 100px;

    &.bihis-inverse svg {
      max-width: 100%;
      width: 260px;
      height: 90px;
    }
  }

  .inline-logo {
    &.no-logo svg {
      opacity: 0.5;
    }
  }

  .col > i {
    font-size: 30px;
    color: white;
    padding: 0 10px;
    font-weight: 300;

    @media(min-width:768px) {
      font-size: 24px;
    }

    @media(min-width:1200px) {
      font-size: 34px;
    }
  }

  .fa {
    font-size: 60px;
    color: white;
  }

  .footer-desc-text {
    font-size: 12px;
    font-weight: 500;
    margin-top: $pad20;
    margin-bottom: $pad20 * 2;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: $pad20 * 2;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .media {
    p {
      font-size: 12px;
      font-weight: 300;
    }

    &.project-list {
      .inline-logo svg {
        height: 80px;
        width: 70px;
      }
    }

    &.wh100,
    &.tom14 {
      .media-body {
        vertical-align: middle;
      }
    }
  }

  .bihusinfo-subblock {
    margin-bottom: $pad20 * 2;
  }

  .copyrights {
    margin-top: 30px;
    padding-top: 30px;
    border-top: #3e3e3e 1px solid;

    p {
      font-size: 10px;
      font-weight: 300;
      font-style: italic;
      line-height: 12px;
    }
  }

  .clogos_cs svg {
    width: 40px;
    height: 50px;
  }

  .clogos_ok svg {
    width: 55px;
    height: 50px;
  }

  .clogos_slab svg {
    width: 60px;
    height: 50px;
  }

}

.copyrights-logos {
  overflow: hidden;

  @media (max-width: 991px) {
    margin-bottom: $pad20;
  }
}

.cl-block {
  float: left;
  margin-right: 10px;
  margin-bottom: $pad;

  .svg-image,
  .clogos {
    height: 49px;
    float: left;
    margin-right: 20px;
  }

  .clogos {
    display: block;
    text-indent: -9999px;
  }
}

.ctext {
  display: block;
  float: left;
  font-size: 12px;
  width: 100px;
  line-height: 14px;
}