.bi-analytics-page {
  background: white;

  #block-sociallinksblock {
    display: none;
  }

  .nav > li.bi-toggle-search {
    display: block;
  }

  #navbar {
    margin-top: 0;

    .logo {
      margin-top: 0;

      svg {
        width: 40px;
        height: 36px;
      }
    }

    .navbar-collapse ul {
      margin-top: 5px;
    }
  }

  #page {
    padding-bottom: 0;
  }

  .nav-search {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;

    &.open {
      height: auto;
      opacity: 1;
      padding-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }

  .bi-frame {
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .thank-to {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;

    li {
      display: inline-block;
      float: left;
      margin-right: 40px;

      a {
        display: block;
        width: 70px;
        height: 70px;

        &.rbc {
          background: url('../images/logo-rbc.png') no-repeat center center;
          background-size: contain;
        }

        &.brdo {
          background: url('../images/logo_brdo.png') no-repeat center center;
          background-size: contain;
          width: 140px;
        }

        &.wh100 {
          span {
            height: 100%;
          }
        }
      }
    }
  }

  #cta {
    height: 30px;
    margin-top: 0;
    padding: 6px 30px;
  }
}