.comparedata-section {
  margin-bottom: 100px; //tmp

  h2 {
    text-align: center;
    margin-bottom: 20px; //tmp
  }
}

.compare-page {
  .page-content {
    .add2compare-list {
      display: none;
    }
  }
}