#nav-search {
  @include greenGradient();
  padding-top: $pad20;
  padding-bottom: $pad20;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#front-searchbox {
  @media (max-width: 460px) {
    margin-bottom: 45px;
  }

  #search_scope {
    @media (max-width: 460px) {
      display: block;
      position: absolute;
      left: 0;
      top: 40px;
      margin-left: 0;
      padding-left: 0;
      width: auto;
    }

    span {
      display: inline-block;
      //font-family: 'arsenalbold';
      font-size: 10px;
      text-transform: uppercase;
      color: black;
      margin-left: 5px;
    }
  }

  .checkbox .checkbox-material:before {
    top: 0;
    left: 5px;
  }

  .input-group-btn {
    padding-left: 10px;
    padding-right: 0;
  }

  .btn {
    padding: 8px 20px;
    border-left: 2px $decl-green solid;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 0;

    .glyphicon {
      top: 3px;
    }
  }

  input {
    margin-bottom: 0;
    margin-left: 10px;
    padding-right: 10px;
  }
}

#front-searchbox form {
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);

}

#front-searchbox .form-control-wrapper input {
  margin-top: 5px;
}

#front-searchbox .form-control-wrapper .form-control::-webkit-input-placeholder {
  color: #CFCFCF;
}

#front-searchbox .form-control-wrapper .form-control:-moz-placeholder {
  color: #CFCFCF;
}

#front-searchbox .form-control-wrapper .form-control::-moz-placeholder {
  color: #CFCFCF;
}

#front-searchbox .form-control-wrapper .form-control:-ms-input-placeholder {
  color: #CFCFCF;
}


/////////////
#navbar {
  float: none;

  .navbar-collapse ul {
    float: none;
    width: 100%;
    margin-top: 0;

    li {
      display: inline-block;
      float: none;
      margin-left: 20px;
      margin-right: 20px;
      vertical-align: middle;

      &.left-item {
        margin-right: 0;
        margin-left: 20px;
      }

      &.right-item {
        margin-right: 20px;
        margin-left: 0;
      }

      a {
        color: #535353;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 0;
        transition: all 0.3s linear;
        padding: 10px;

        &:hover {
          color: $decl-blue;
        }
      }

      a, img {
        display: inline-block;
      }

      .logo {
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
      }
    }
  }
}

.nav-block {
  .about-text {
    color: #585858; //todo
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
  }
}

#block-sociallinksblock {
  text-align: center;
  margin-top: 10px;

  ul {
    text-align: center;
  }
}

