.nav-block {

}

.nav-search {
  padding-top: $pad20 * 2;
  padding-bottom: $pad20;
}

#joinus {
  @include gradient-animation(left, #02aab0, #00ccac, 0.25s );
}

#block-sociallinksblock {
  @media (max-width: 1199px) {
    margin-top: 0;
  }
}