.page-404 {
  &__title {
    font-family: Formular;
    font-size: 20px;
    margin: 40px 0 20px;
    text-align: center;
    @media all and (min-width: 1024px) {
      font-size: 44px;
      margin: 80px 0 20px;
    }
  }
  &__text {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    @media all and (min-width: 1024px) {
      font-weight: 700;
      font-size: 20px;
    }
  }
  &__home-link {
    font-weight: 700;
    font-size: 12px;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 13px;
      vertical-align: middle;
      margin-left: 7px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      background-image: url('../images/icon/right-green.svg');
    }
  }
  &__promo {
    margin: 56px -16px;
    @media all and (min-width: 1024px) {
      margin: 80px 0 0;
    }
  }
  &__link-block {
    margin-top: 16px;
    text-align: center;
  }
}