{% if not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
                <tr>
                    <th class="doc-num-row-col">№</th>
                    <th>_('table_header_common_info')</th>
                    <th>_('table_header_address_info')</th>
                    <th>_('table_header_step3_costDate')</th>
                    <th>_('table_header_costAssessment_info')</th>
                    <th>_('table_header_sources_info')</th>
                </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td>{# № #}
                        {{ loop.index }}
                    </td>
                    <td>
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _('objectType') }}</span>
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            {% if data_item.otherObjectType %}
                                <div class="col-12">
                                    <span class="color-1">{{ _('otherObjectType') }}</span>
                                    <span>{{ display_val(data_item.otherObjectType) }}</span>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <span class="color-1">{{ _('owningDate') }}</span>
                                <span>{{ display_val(data_item.owningDate) }}</span>
                            </div>
                            <div class="col-12">
                                <span class="color-1">{{ _('totalArea') }}</span>
                                <span>{{ display_val(data_item.totalArea) }}</span>
                            </div>
                            <div class="col-12">
                                {% if data_item.objectType and data_item.objectType == _( 'land_plot' ) %}
                                    <span class="color-1">{{ _('cadasterNumber') }}</span>
                                {% else %}
                                    <span class="color-1">{{ _('regNumber') }}</span>
                                {% endif %}
                                <span>{{ display_val(data_item.regNumber) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if not data_item.country or data_item.country != 1 %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _('country') }}</span>
                                    <span>{{ display_val(data_item.country) }} {# todo: Dima #}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('ua_postCode') }}</span>
                                    <span>{{ display_val(data_item.ua_postCode) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('ua_cityType') }}</span>
                                    <span>{{ display_val(data_item.ua_cityType) }}</span>
                                </div>
                                {% if data_item.ua_streetType %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _('ua_streetType') }}</span>
                                        <span>{{ display_val(data_item.ua_streetType) }}</span>
                                    </div>
                                {% endif %}
                                {% if data_item.ua_street %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _('ua_street') }}</span>
                                        <span>{{ display_val(data_item.ua_street) }}</span>
                                    </div>
                                {% endif %}
                                {% if data_item.ua_houseNum %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _('ua_houseNum') }}</span>
                                        <span>{{ display_val(data_item.ua_houseNum) }}</span>
                                    </div>
                                {% endif %}
                                {% if data_item.ua_housePartNum %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _('ua_housePartNum') }}</span>
                                        <span>{{ display_val(data_item.ua_housePartNum) }}</span>
                                    </div>
                                {% endif %}
                                {% if data_item.ua_apartmentsNum %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _('ua_apartmentsNum') }}</span>
                                        <span>{{ display_val(data_item.ua_apartmentsNum) }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _('country') }}</span>
                                    <span>{{ display_val(data_item.country) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('postCode') }}</span>
                                    <span>{{ display_val(data_item.postCode) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('loc_engLivingAddress') }}</span>
                                    <span>{{ display_val(data_item.loc_engLivingAddress) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('loc_ukrLivingAddress') }}</span>
                                    <span>{{ display_val(data_item.loc_ukrLivingAddress) }}</span>
                                </div>
                            </div>
                        {% endif%}
                    </td>
                    <td>
                        {{ display_val(data_item.costDate) }}
                    </td>
                    <td>
                        {{ display_val(data_item.costAssessment) }}
                    </td>
                    <td>
                        {% include 'steps/_rights.jinja' with context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ step_data['empty'] }}
{% endif %}