{% if step_data and not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
                <tr>
                    <th class="doc-num-row-col">№</th>
                    <th>{{ _("Загальна інформація") }}</th>
                    <th>{{ _( 'table_header_emitent_info' ) }}</th>
                    <th>{{ _( 'table_header_v3_amount_info' ) }}</th>
                    <th>{{ _( 'table_header_v3_nominal_value_info' ) }}</th>
                    <th>{{ _("Вартість на дату набуття") }}</th>
                    <th>{{ _( 'Інформація про джерело' ) }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td>{# № #}
                        {{ loop.index }}
                    </td>
                    <td>
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _("Вид паперів: ") }}</span>
                                {% if data_item.typeProperty %}
                                    <span>{{ display_val(data_item.typeProperty) }}</span>
                                {% endif %}
                                {% if data_item.otherTypeProperty %}
                                    <span>{{ display_val(data_item.otherTypeProperty) }}</span>
                                {% endif %}
                                {% if data_item.subTypeProperty1 %}
                                    <span>{{ display_val(data_item.subTypeProperty1) }}</span>
                                {% endif %}
                                {% if data_item.subTypeProperty2 %}
                                    <span>{{ display_val(data_item.subTypeProperty2) }}</span>
                                {% endif %}
                            </div>
                            <div class="col-12">
                                <span class="color-1">{{ _("Дата набуття права: ") }}</span>
                                <span>{{ display_val(data_item.owningDate) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row mb-2 mr-1">
                            {% if data_item.emitent %}
                                {% set emitent_info = personal_info %} {# todo: where is this data? #}
                                    {% if emitent_info %}
                                        {% if realty_item.subjectRelation %} {# todo: where is this data? #}
                                            <div class="col-12">
                                              <span>{{ display_val(realty_item.subjectRelation) }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Прізвище: ") }}</span>
                                            <span>{{ display_val(emitent_info.lastname) }}</span>
                                        </div>
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Ім'я: ") }}</span>
                                            <span>{{ display_val(emitent_info.firstname) }}</span>
                                        </div>
                                        <div class="col-12">
                                            <span class="color-1">{{ _("По батькові: ") }}</span>
                                            <span>{{ display_val(emitent_info.middlename) }}</span>
                                        </div>
                                    {% endif%}
                            {% else %}
                                {% if data_item.emitent_type %}
                                    <div class="col-12">
                                        <span>{{ display_val(data_item.emitent_type) }}</span>
                                    </div>
                                {% endif %}

                                {% if data_item.emitent_type == _("Юридична особа, зареєстрована в Україні") %}
                                    {% if data_item.emitent_ua_company_name %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Найменування: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_company_name) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_company_code %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Код в Єдиному державному реєстрі юридичних осіб, фізичних осіб – підприємців та громадських формувань: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_company_code) }}</span>
                                        </div>
                                    {% endif %}
                                {% elif data_item.emitent_type == _("Іноземний громадянин") %}
                                    {% if data_item.emitent_eng_lastname or data_item.emitent_eng_lastname_extendedstatus %}
                                        {% if data_item.emitent_eng_lastname %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("Прізвище англійською: ") }}</span>
                                                <span>{{ display_val(data_item.emitent_eng_lastname) }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data_item.emitent_ukr_lastname %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("Прізвище українською: ") }}</span>
                                                <span>{{ display_val(data_item.emitent_ukr_lastname) }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data_item.emitent_eng_firstname %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("Ім'я англійською: ") }}</span>
                                                <span>{{ display_val(data_item.emitent_eng_firstname) }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data_item.emitent_ukr_firstname %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("Ім'я українською: ") }}</span>
                                                <span>{{ display_val(data_item.emitent_ukr_firstname) }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data_item.emitent_eng_middlename %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("По батькові англійською: ") }}</span>
                                                <span>{{ display_val(data_item.emitent_eng_middlename) }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data_item.emitent_ukr_middlename %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("По батькові українською: ") }}</span>
                                                <span>{{ display_val(data_item.emitent_ukr_middlename) }}</span>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if data_item.emitent_eng_fullname %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("Повне ім'я (англійською): ") }}</span>
                                                <span>{{ display_val(data_item.emitent_eng_fullname) }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data_item.emitent_ukr_fullname %}
                                            <div class="col-12">
                                                <span class="color-1">{{ _("Повне ім'я (українською): ") }}</span>
                                                <span>{{ display_val(data_item.emitent_ukr_fullname) }}</span>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if data_item.emitent_eng_birthday %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Дата народження: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_eng_birthday) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_eng_taxNumber %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Ідентифікаційний номер: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_eng_taxNumber) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_eng_regAddress %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Місце проживання (англійською): ") }}</span>
                                            <span>{{ display_val(data_item.emitent_eng_regAddress) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ukr_regAddress %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Місце проживання (українською): ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ukr_regAddress) }}</span>
                                        </div>
                                    {% endif %}

                                {% elif data_item.emitent_type == _("Юридична особа, зареєстрована за кордоном") %}
                                    {% if data_item.emitent_eng_company_name %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Найменування (англійською): ") }}</span>
                                            <span>{{ display_val(data_item.emitent_eng_company_name) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ukr_company_name %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Найменування (українською): ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ukr_company_name) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_eng_company_code %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Ідентифікаційний код: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_eng_company_code) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_eng_company_address %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Місцезнаходження (англійською): ") }}</span>
                                            <span>{{ display_val(data_item.emitent_eng_company_address) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ukr_company_address %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Місцезнаходження (українською): ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ukr_company_address) }}</span>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if data_item.emitent_ua_lastname %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Прізвище: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_lastname) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_firstname %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Ім'я: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_firstname) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_middlename %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("По батькові: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_middlename) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_birthday %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Дата народження: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_birthday) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_taxNumber %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Податковий номер: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_taxNumber) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_regAddress %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Зареєстроване місце проживання: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_regAddress) }}</span>
                                        </div>
                                    {% endif %}
                                    {% if data_item.emitent_ua_regAddress %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Місце фактичного проживання: ") }}</span>
                                            <span>{{ _("збігається з зареєстрованим місцем проживання") }}</span>
                                        </div>
                                    {% elif data_item.emitent_ua_sameRegLivingAddress %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Місце фактичного проживання: ") }}</span>
                                            <span>{{ display_val(data_item.emitent_ua_actualAddress) }}</span>
                                        </div>
                                    {% endif %}
                                {% endif%}
                            {% endif%}
                        </div>
                    </td>
                    <td>
                        {{ display_val(data_item.amount) }}
                    </td>
                    <td>
                        {{ display_val(data_item.cost) }}
                    </td>
                    <td>
                        {{ display_val(data_item.costDate) }}
                    </td>
                    <td>
                        {% include 'cf_steps/_sources.jinja' with context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ _("У суб'єкта декларування чи членів його сім'ї відсутні об'єкти для декларування в цьому розділі.") }}
{% endif %}