.footer {
  background: $base;
  color: $white;
  &__inner {
    padding-top: 40px;
    padding-bottom: 24px;
    @media all and (min-width: 1024px) {
      padding-bottom: 40px;
    }
  }
  &__medium {
    padding-bottom: 34px;
    border-bottom: 1px solid rgba($white, 0.2);
    margin: 70px 0 20px;
    @media all and (min-width: 1024px) {
      @include flex($justify-content: space-between, $align-items: flex-end);
      margin: 100px 0 25px;
    }
  }
  &__bottom {
    @media all and (min-width: 1024px) {
      @include flex($justify-content: space-between, $align-items: flex-end);
    }
  }
  &__subscription {
    @media all and (max-width: 1023px) {
      margin-top: 25px;
    }
  }
  &__copyright {
    @media all and (max-width: 1023px) {
      border-top: 1px solid rgba($white, 0.2);
      padding-top: 24px;
    }
  }
}