@import '../../animate';

.header {
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    @include flex($align-items: center);
    padding: 16px 20px;
  }
  &__column {
    @include flex($justify-content: flex-start, $align-items: center);
    @media all and (max-width: 1023px) {
      width: 33.3%;
      &:nth-child(2) { @include flex($justify-content: center); }
      &:nth-child(3) { @include flex($justify-content: flex-end); }
    }
  }
  &__menu {
    padding: 0 40px;
  }
  &__lang-switch {
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
      margin: 0 30px 0 25px;
    }
  }
  &__lang-switch-mobile {
    margin: 0 20px;
  }
  &__account {
    margin-left: 25px;
  }
  &__compare {
    @include transparent-button;
  }
  &__support {
    display: none;
    .n-btn {
      display: block;
    }
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__mobile {
    @media all and (min-width: 1024px) {
      display: none;
    }
  }
}
