{% for person in data_item.person_who_care %}
    {% if person and not person.person|string == "1" %}
        {% set relative = declaration.resolve_relative(person.person) %}
        {% if relative %}
            <div class="row mb-2 mr-1">
                <div class="col-12">
                    <span>{{ display_val(relative.subjectRelation) }}</span>
                </div>
                {% if relative.lastname %}
                    <div class="col-12">
                        <span class="color-1">{{ _('Прізвище: ') }}</span>
                        <span>{{ display_val(relative.lastname) }}</span>
                    </div>
                {% endif %}
                {% if relative.firstname %}
                    <div class="col-12">
                        <span class="color-1">{{ _('Ім\'я: ') }}</span>
                        <span>{{ display_val(relative.firstname) }}</span>
                    </div>
                {% endif %}
                {% if relative.middlename %}
                    <div class="col-12">
                        <span class="color-1">{{ _('По батькові (за наявності): ') }}</span>
                        <span>{{ display_val(relative.middlename) }}</span>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <div class="row mb-2 mr-1">
            {% if personal_info.lastname %}
                <div class="col-12">
                    <span class="color-1">{{ _('Прізвище: ') }}</span>
                    <span>{{ display_val(personal_info.lastname) }}</span>
                </div>
            {% endif %}
            {% if personal_info.firstname %}
                <div class="col-12">
                    <span class="color-1">{{ _('Ім\'я: ') }}</span>
                    <span>{{ display_val(personal_info.firstname) }}</span>
                </div>
            {% endif %}
            {% if personal_info.middlename %}
                <div class="col-12">
                    <span class="color-1">{{ _('По батькові (за наявності): ') }}</span>
                    <span>{{ display_val(personal_info.middlename) }}</span>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <div class="row mb-2 mr-1">
        {% if personal_info.lastname %}
            <div class="col-12">
                <span class="color-1">{{ _('Прізвище: ') }}</span>
                <span>{{ display_val(personal_info.lastname) }}</span>
            </div>
        {% endif %}
        {% if personal_info.firstname %}
            <div class="col-12">
                <span class="color-1">{{ _('Ім\'я: ') }}</span>
                <span>{{ display_val(personal_info.firstname) }}</span>
            </div>
        {% endif %}
        {% if personal_info.middlename %}
            <div class="col-12">
                <span class="color-1">{{ _('По батькові (за наявності): ') }}</span>
                <span>{{ display_val(personal_info.middlename) }}</span>
            </div>
        {% endif %}
    </div>
{% endfor %}