{% for item in data_item.rights %}
    {% set rights_item = data_item.rights[item] %}
    <div class="row mb-2 mr-1">
        {% if rights_item.ownershipType %}
            <div class="col-12">
                <span class="color-1">{{ _("Тип права: ") }}</span>
                <span>{{ display_val(rights_item.ownershipType) }}</span>
            </div>
        {% endif %}
        {% if rights_item.otherOwnership %}
            <div class="col-12">
                <span class="color-1">{{ _("Інший тип: ") }}</span>
                <span>{{ display_val(rights_item.otherOwnership) }}</span>
            </div>
        {% endif %}
        {% if rights_item['percent-ownership']  %}
            <div class="col-12">
                <span class="color-1">{{ _("Відсоток, %%: ") }}</span>
                <span>{{ rights_item['percent-ownership'] }}</span>
            </div>
        {% endif %}
        {% if rights_item.citizen %}
            <div class="col-12">
                <span>{{ display_val(rights_item.citizen) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_lastname  %}
            <div class="col-12">
                <span class="color-1">{{ _('Прізвище: ') }}</span>
                <span>{{ display_val(rights_item.ua_lastname) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_firstname  %}
            <div class="col-12">
                <span class="color-1">{{ _('Ім\'я: ') }}</span>
                <span>{{ display_val(rights_item.ua_firstname) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_middlename  %}
            <div class="col-12">
                <span class="color-1">{{ _('По батькові (за наявності): ') }}</span>
                <span>{{ display_val(rights_item.ua_middlename) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_livingAddressFull  %}
            <div class="col-12">
                <span class="color-1">{{ _("Місце фактичного проживання: ") }}</span>
                <span>{{ display_val(rights_item.ua_livingAddressFull) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_regAddressFull  %}
            <div class="col-12">
                <span class="color-1">{{ _("Зареєстроване місце проживання: ") }}</span>
                <span>{{ display_val(rights_item.ua_regAddressFull) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_sameRegLivingAddress %}
            <div class="col-12">
                <span class="color-1">{{ _("збігається з зареєстрованим місцем проживання") }}</span>
                <span>{{ display_val(rights_item.ua_sameRegLivingAddress) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ua_taxNumber %}
            <div class="col-12">
                <span class="color-1">{{ _('Податковий номер: ') }}</span>
                <span>{{ display_val(rights_item.ua_taxNumber) }}</span>
            </div>
        {% endif %}
        {% if rights_item.eng_company_name %}
            <div class="col-12">
                <span class="color-1">{{ _("Найменування (англійською): ") }}</span>
                <span>{{ display_val(rights_item.eng_company_name) }}</span>
            </div>
        {% endif %}
        {% if rights_item['percent-ownership_extendedstatus'] %}
            <div class="col-12">
                <span class="color-1">{{ _('percent-ownership_extendedstatus') }}</span>
                <span>{{ display_val(rights_item['percent-ownership_extendedstatus']) }}</span>
            </div>
        {% endif %}
        {% if rights_item.eng_company_address %}
            <div class="col-12">
                <span class="color-1">{{ _("Місцезнаходження (англійською): ") }}</span>
                <span>{{ display_val(rights_item.eng_company_address) }}</span>
            </div>
        {% endif %}
        {% if rights_item.eng_company_code %}
            <div class="col-12">
                <span class="color-1">{{ _("Ідентифікаційний код: ") }}</span>
                <span>{{ display_val(rights_item.eng_company_code) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ukr_company_address %}
            <div class="col-12">
                <span class="color-1">{{ _("Місцезнаходження (українською): ") }}</span>
                <span>{{ display_val(rights_item.ukr_company_address) }}</span>
            </div>
        {% endif %}
        {% if rights_item.ukr_company_name %}
            <div class="col-12">
                <span class="color-1">{{ _("Найменування (українською): ") }}</span>
                <span>{{ display_val(rights_item.ukr_company_name) }}</span>
            </div>
        {% endif %}
    </div>
{% endfor %}
