{% if not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">{{ _('№') }}</th>
                <th>{{ _( 'table_header_generalInformation' ) }}</th>
                <th>{{ _( 'table_header_emitent' ) }}</th>
                <th>{{ _( 'table_header_sizeObligation' ) }}</th>
                <th>{{ _( 'table_header_infoGuarantor' ) }}</th>
                <th>{{_( 'table_header_person_who_care_info') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td class="doc-num-row-col">{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# ЗАГАЛЬНА ІНФОРМАЦІЯ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _('objectType_step13') }}</span>
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            {% if data_item.otherObjectType %}
                                <div class="col-12">
                                    <span class="color-1">{{ _('otherObjectType_step13') }}</span>
                                    <span>{{ display_val(data_item.otherObjectType) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('dateOrigin') }}</span>
                                    <span>{{ display_val(data_item.dateOrigin) }}</span>
                                </div>
                            {% endif %}
                        </div>

                        {% if data_item.objectType == 'Отримані кредити' or data_item.objectType == 'Отримані позики' %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'credit_rest' ) }}</span>
                                    <span>{{ display_val(data_item.credit_rest) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'credit_paid' ) }}</span>
                                    <span>{{ display_val(data_item.credit_paid) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'credit_percent_paid' ) }}</span>
                                    <span>{{ display_val(data_item.credit_percent_paid) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('dateOrigin') }}</span>
                                    <span>{{ display_val(data_item.dateOrigin) }}</span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.person) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row mb-2 mr-1">
                            {% if data_item.emitent_citizen == 'Юридична особа, зареєстрована в Україні' %}
                                <div class="col-12">
                                    <span>{{ display_val(data_item.emitent_citizen) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('emitent_ua_company_name') }}</span>
                                    <span>{{ display_val(data_item.emitent_ua_company_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _('emitent_ua_company_code') }}</span>
                                    <span>{{ display_val(data_item.emitent_ua_company_code) }}</span>
                                </div>
                            {% elif data_item.emitent_citizen == 'Юридична особа, зареєстрована за кордоном' %}
                                <div class="col-12">
                                    <span>{{ display_val(data_item.emitent_citizen) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'emitent_eng_company_name' ) }}</span>
                                    <span>{{ display_val(data_item.emitent_eng_company_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'emitent_ukr_company_name' ) }}</span>
                                    <span>{{ display_val(data_item.emitent_ukr_company_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'emitent_eng_company_code' ) }}</span>
                                    <span>{{ display_val(data_item.emitent_eng_company_code) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'emitent_eng_company_address' ) }}</span>
                                    <span>{{ display_val(data_item.emitent_eng_company_address) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'emitent_ukr_company_address' ) }}</span>
                                    <span>{{ display_val(data_item.emitent_ukr_company_address) }}</span>
                                </div>
                            {% else %}
                                {# todo: not sure #}
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _('sizeObligation') }}</span>
                                <span>{{ display_val(data_item.sizeObligation) }}</span>
                            </div>
                            <div class="col-12">
                                <span class="color-1">{{ _('currency') }}</span>
                                <span>{{ display_val(data_item.currency) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row mb-2 mr-1">
                            {# todo: not sure #}
                            {{ display_val(data_item.guarantor) }}
                        </div>
                        <div class="row mb-2 mr-1">
                            {# todo: not sure #}
                            {{ display_val(data_item.guarantor_realty) }}
                        </div>
                    </td>
                    <td>
                        {# todo: check #}
                        {{ display_val(data_item.person_who_care) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ step_data['empty'] }}
{% endif %}