{% if step_data %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">{{ _('№') }}</th>
                <th>{{ _('table_header_common_info') }}</th>
                <th>{{ _('table_header_properties') }}</th>
                <th>{{ _('table_header_costDateUse_v3') }}</th>
                <th>{{ _('table_header_step5_rights') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td class="doc-num-row-col">{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# ЗАГАЛЬНА ІНФОРМАЦІЯ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _('objectType_step5') }}</span>
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            {% if data_item.otherObjectType %}
                                <div class="col-12">
                                    <span class="color-1">{{ _('otherObjectType_step5') }}</span>
                                    <span>{{ display_val(data_item.otherObjectType) }}</span>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <span class="color-1">{{ _('dateUse') }}</span>
                                <span>{{ display_val(data_item.dateUse) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ХАРАКТЕРИСТИКА #}
                    </td>
                    <td>{# ВАРТІСТЬ НА ДАТУ НАБУТТЯ У ВЛАСНІСТЬ, ВОЛОДІННЯ ЧИ КОРИСТУВАННЯ #}
                    </td>
                    <td>{# ІНФОРМАЦІЯ ЩОДО ПРАВ НА МАЙНО #}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}