{% if step_data and not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">{{ _('№') }}</th>
                <th>{{ _("Загальна інформація") }}</th>
                <th>{{ _("Опис об'єкта права") }}</th>
                <th>{{ _("Вартість на дату набуття або за останньою грошовою оцінкою") }}</th>
                <th>{{ _("Інформація щодо права на об'єкт") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td class="doc-num-row-col">{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# ЗАГАЛЬНА ІНФОРМАЦІЯ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _("Вид об'єкта: ") }}</span>
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            {% if otherObjectType %}
                                <div class="col-12">
                                    <span class="color-1">{{ _("Інший вид об'єкта: ") }}</span>
                                    <span>{{ display_val(data_item.otherObjectType) }}</span>
                                </div>

                                {% if otherObjectType == 'Криптовалюта' %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'countObject_step10' ) }}</span>
                                        <span>{{ display_val(data_item.countObject) }}</span>
                                    </div>
                                {% endif%}
                            {% endif %}
                            <div class="col-12">
                                <span class="color-1">{{ _("Дата набуття права: ") }}</span>
                                <span>{{ display_val(data_item.owningDate) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ОПИС ОБ'ЄКТА ПРАВА #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.descriptionObject) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ВАРТІСТЬ АКТИВУ НА ДАТУ ВИНИКНЕННЯ ПРАВА #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.costDateOrigin) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ІНФОРМАЦІЯ ЩОДО ПРАВА НА ОБ'ЄКТ #}
                        {% include 'steps/_rights.jinja' with context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ _("У суб'єкта декларування чи членів його сім'ї відсутні об'єкти для декларування в цьому розділі.") }}
{% endif %}