{% if step_data %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">{{ _('№') }}</th>
                <th>{{ _('table_header_incomeSource') }}</th>
                <th>{{ _('table_header_step11_objectType') }}</th>
                <th>{{ _('table_header_sizeIncome') }}</th>
                <th>{{ _('table_header_person_who_care_info') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td class="doc-num-row-col">{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# ДЖЕРЕЛО ДОХОДУ #}
                        {% if data_item.revenue_source %}
                            {# todo: not sure what to do. Dima please, check #}
                        {% else %}
                            {% if data_item.source_citizen == 'Громадянин України' %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_lastname' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_lastname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_firstname' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_firstname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_middlename' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_middlename) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_birthday' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_birthday) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_taxNumber' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_taxNumber) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_regAddress' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_regAddress) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_actualAddress' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_actualAddress) }}</span>
                                    </div>
                                </div>

                            {% elif data_item.source_citizen == 'Іноземний громадянин' %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_eng_fullname' ) }}</span>
                                        <span>{{ display_val(data_item.source_eng_fullname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ukr_fullname' ) }}</span>
                                        <span>{{ display_val(data_item.source_ukr_fullname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_eng_taxNumber' ) }}</span>
                                        <span>{{ display_val(data_item.source_eng_taxNumber) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_eng_regAddress' ) }}</span>
                                        <span>{{ display_val(data_item.source_eng_regAddress) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ukr_regAddress' ) }}</span>
                                        <span>{{ display_val(data_item.source_ukr_regAddress) }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_citizen' ) }}</span>
                                        <span>{{ display_val(data_item.source_citizen) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_company_name' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_company_name) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'source_ua_company_code' ) }}</span>
                                        <span>{{ display_val(data_item.source_ua_company_code) }}</span>
                                    </div>
                                </div>
                            {% endif%}
                        {% endif %}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _( 'person' ) }}</span>
                                <span>{{ display_val(data_item.person) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ВИД ДОХОДУ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            <div class="col-12">
                                <span>{{ display_val(data_item.otherObjectType) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# РОЗМІР (ВАРТІСТЬ) #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.sizeIncome) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ІНФОРМАЦІЯ ЩОДО ПРАВА НА ОБ'ЄКТ #}
                        {# todo: check #}
                        {{ display_val(data_item.person_who_care) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}