{% if step_data and not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">№</th>
                <th>{{ _("Загальна інформація") }}</th>
                <th>{{ _("Місцезнаходження") }}</th>
                <th>{{ _("Вартість на дату набуття права або за останньою грошовою оцінкою") }}</th>
                <th>{{ _("Інформація щодо прав на об'єкт") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td>{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# ЗАГАЛЬНА ІНФОРМАЦІЯ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _("Вид об'єкта: ") }}</span>
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            {% if data_item.otherObjectType %}
                                <div class="col-12">
                                    <span class="color-1">{{ _("Інший вид об'єкта: ") }}</span>
                                    <span>{{ display_val(data_item.otherObjectType) }}</span>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <span class="color-1">{{ _("Дата набуття права: ") }}</span>
                                <span>{{ display_val(data_item.owningDate) }}</span>
                            </div>
                            <div class="col-12">
                                <span class="color-1">Загальна площа (м<sup><small>2</small></sup>): </span>
                                <span>{{ display_val(data_item.totalArea) }}</span>
                            </div>
                        </div>
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _("Реєстраційний номер (кадастровий номер для земельної ділянки): ") }}</span>
                                <span>{{ display_val(data_item.regNumber) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# МІСЦЕЗНАХОДЖЕННЯ #}
                        <div class="row mb-2 mr-1">
                            {% if data_item.country|string == "1" %}
                                <div class="col-12">
                                    <span class="color-1">{{ _("Країна: ") }}</span>
                                    <span>{{ declaration.get_country(data_item.country) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Поштовий індекс: ") }}</span>
                                    <span>{{ display_val(data_item.ua_postCode) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Населений пункт: ") }}</span>
                                    <span>{{ display_val(data_item.ua_cityType) }}</span>
                                </div>
                                {% if data_item.ua_streetType %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Тип: ") }}</span>
                                        <span>{{ display_val(data_item.ua_streetType) }}</span>
                                    </div>
                                {% endif%}
                                {% if data_item.ua_street %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Назва: ") }}</span>
                                        <span>{{ display_val(data_item.ua_street) }}</span>
                                    </div>
                                {% endif%}
                                <div class="col-12">
                                    <span class="color-1">{{ _("Номер будинку: ") }}</span>
                                    <span>{{ display_val(data_item.ua_houseNum) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1"> {{ _("Номер корпусу: ") }}</span>
                                    <span>{{ display_val(data_item.ua_housePartNum) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Номер квартири: ") }}</span>
                                    <span>{{ display_val(data_item.ua_apartmentsNum) }}</span>
                                </div>
                            {% else %}{# if data_item.country != '1' #}
                                <div class="col-12">
                                    <span class="color-1">{{ _("Країна: ") }}</span>
                                    <span>{{ declaration.get_country(data_item.country) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Поштовий індекс: ") }}</span>
                                    <span>{{ display_val(data_item.postCode) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Адреса (англійською): ") }}</span>
                                    <span>{{ display_val(data_item.loc_engLivingAddress) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1"> {{ _("Адреса (українською): ") }}</span>
                                    <span>{{ display_val(data_item.loc_ukrLivingAddress) }}</span>
                                </div>
                            {% endif%}{# if data_item.country == '1' #}
                        </div>
                    </td>
                    <td>{# ВАРТІСТЬ НА ДАТУ НАБУТТЯ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.cost_date_assessment)|amount_format }}</span>
                            </div>
                        </div>
                    </td>

                    <td>{# ІНФОРМАЦІЯ ЩОДО ПРАВ НА ОБ'ЄКТ #}
                        {% include 'steps/_rights.jinja' with context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ _("У суб'єкта декларування чи членів його сім'ї відсутні об'єкти для декларування в цьому розділі.") }}
{% endif %}
