{% if step_data and not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">№</th>
                <th>{{ _("Зв'язок із суб'єктом декларування") }}</th>
                <th>{{ _("Прізвище, ім'я, по батькові") }}</th>
                <th>{{ _("Громадянство") }}</th>
                <th>{{ _("Податковий номер") }}</th>
                <th>{{ _("Серія та номер паспорта громадянина України або ID-картка або свідоцтво про народження") }}</th>
                <th>{{ _("Унікальний номер запису в Єдиному державному демографічному реєстрі") }}</th>
                <th>{{ _("Зареєстроване місце проживання") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for person in step_data %}
                {% set related_person = step_data[person] %}
                <tr>
                    <td>{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# Зв'язок із суб'єктом декларування #}
                        {{ display_val(related_person.subjectRelation) }}
                    </td>
                    <td>{# Прізвище, ім'я, по батькові #}
                        {% if related_person.citizenship == '1' %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _("Прізвище: ") }}</span>
                                    <span>{{ display_val(related_person.lastname) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Ім'я: ") }}</span>
                                    <span>{{ display_val(related_person.firstname) }}</span>
                                </div>
                                {% if related_person.middlename %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("По батькові: ") }}</span>
                                        <span>{{ display_val(related_person.middlename) }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            {% if related_person.changedName|string == "1" %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Прізвище: ") }}</span>
                                        <span>{{ display_val(related_person.previous_lastname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Ім'я: ") }}</span>
                                        <span>{{ display_val(related_person.previous_firstname) }}</span>
                                    </div>
                                    {% if related_person.previous_middlename %}
                                        <div class="col-12">
                                            <span class="color-1">{{ _("Попереднє по батькові: ") }}</span>
                                            <span>{{ display_val(related_person.previous_middlename) }}</span>
                                        </div>
                                    {% endif%}
                                </div>
                            {% endif%}{# if related_person.changedName|string == "1" #}
                        {% else %}{# if related_person.citizenship != '1' #}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _("Повне ім'я (англійською): ") }}</span>
                                    <span>{{ display_val(related_person.eng_full_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Повне ім'я (українською): ") }}</span>
                                    <span>{{ display_val(related_person.ukr_full_name) }}</span>
                                </div>
                            </div>
                            {% if related_person.changedName|string == "1" %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Попереднє повне ім’я (англійською): ") }}</span>
                                        <span>{{ display_val(related_person.previous_eng_full_name) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Попереднє повне ім’я (українською): ") }}</span>
                                        <span>{{ display_val(related_person.previous_ukr_full_name) }}</span>
                                    </div>
                                </div>
                            {% endif%}{# if related_person.changedName|string == "1" #}
                        {% endif %}{# if related_person.citizenship == '1' #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _("Дата народження: ") }}</span>
                                <span>{{ display_val(related_person.birthday) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# Громадянство #}
                        {% if related_person.citizenship %}
                            {{ declaration.get_country(related_person.citizenship) }}
                        {% else %}
                            {{ 'Без громадянства' }}
                        {% endif %}
                    </td>
                    <td>{# Податковий номер #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>
                                    {% if related_person.citizenship|string == "1" %}
                                        {{ display_val(related_person.taxNumber) }}
                                    {% else %}
                                        {{ display_val(related_person.eng_identification_code) }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>{# passport #}
                        {% if related_person.citizenship|string == "1" %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span>{{ display_val(related_person.passport) }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if related_person.citizenship|string == "1" %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span>{{ display_val(related_person.unzr) }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </td>{# unzr #}
                    <td>{# actual_living_place #}
                        {% if related_person.citizenship|string == "1" %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _("Країна: ") }}</span>
                                    <span>{{ declaration.get_country(related_person.country) }}</span>
                                </div>
                                {% if related_person.postCode %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Поштовий індекс: ") }}</span>
                                        <span>{{ display_val(related_person.postCode) }}</span>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <span class="color-1">{{ _("Населений пункт: ") }}</span>
                                    <span>{{ display_val(related_person.cityType) }}</span>
                                </div>
                                {% if related_person.streetType %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Тип: ") }}</span>
                                        <span>{{ display_val(related_person.streetType) }}</span>
                                    </div>
                                {% endif %}

                                {% if related_person.street %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Назва: ") }}</span>
                                        <span>{{ display_val(related_person.street) }}</span>
                                    </div>
                                {% endif %}

                                {% if related_person.ua_houseNum %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Номер будинку: ") }}</span>
                                        <span>{{ display_val(related_person.ua_houseNum) }}</span>
                                    </div>
                                {% endif %}

                                {% if related_person.housePartNum %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Номер корпусу: ") }}</span>
                                        <span>{{ display_val(related_person.housePartNum) }}</span>
                                    </div>
                                {% endif %}

                                {% if related_person.apartmentsNum %}
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Номер квартири: ") }}</span>
                                        <span>{{ display_val(related_person.apartmentsNum) }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="row mb-2 mr-1">
                                <div class="col-12">
                                    <span class="color-1">{{ _("Місце проживання (англійською): ") }}</span>
                                    <span>{{ display_val(related_person.eng_full_address) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _("Місце проживання (українською): ") }}</span>
                                    <span>{{ display_val(related_person.ukr_full_address) }}</span>
                                </div>
                            </div>
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ _("У суб'єкта декларування чи членів його сім'ї відсутні об'єкти для декларування в цьому розділі.") }}
{% endif %}
