{% if step_data and not step_data['empty'] %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">{{ _('№') }}</th>
                <th>{{ _("Джерело доходу") }}</th>
                <th>{{ _("Вид доходу") }}</th>
                <th>{{ _("Розмір (вартість)") }}</th>
                <th>{{ _("Інформація про особу, якої стосується") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td class="doc-num-row-col">{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# ДЖЕРЕЛО ДОХОДУ #}
                        {% if data_item.revenue_source %}
                            {# todo: not sure what to do. Dima please, check #}
                        {% else %}
                            {% if data_item.source_citizen == 'Громадянин України' %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Прізвище: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_lastname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Ім'я: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_firstname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("По батькові: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_middlename) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Дата народження: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_birthday) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Податковий номер: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_taxNumber) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Зареєстроване місце проживання: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_regAddress) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Місце фактичного проживання: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_actualAddress) }}</span>
                                    </div>
                                </div>

                            {% elif data_item.source_citizen == 'Іноземний громадянин' %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Повне ім'я (англійською): ") }}</span>
                                        <span>{{ display_val(data_item.source_eng_fullname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Повне ім'я (українською): ") }}</span>
                                        <span>{{ display_val(data_item.source_ukr_fullname) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Ідентифікаційний номер: ") }}</span>
                                        <span>{{ display_val(data_item.source_eng_taxNumber) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Місце проживання (англійською): ") }}</span>
                                        <span>{{ display_val(data_item.source_eng_regAddress) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Місце проживання (українською): ") }}</span>
                                        <span>{{ display_val(data_item.source_ukr_regAddress) }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mb-2 mr-1">
                                    <div class="col-12">
                                        <span class="color-1">{{ _( 'Джерело доходу: ' ) }}</span>
                                        <span>{{ display_val(data_item.source_citizen) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Найменування: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_company_name) }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span class="color-1">{{ _("Код в Єдиному державному реєстрі юридичних осіб, фізичних осіб – підприємців та громадських формувань: ") }}</span>
                                        <span>{{ display_val(data_item.source_ua_company_code) }}</span>
                                    </div>
                                </div>
                            {% endif%}
                        {% endif %}
                    </td>
                    <td>{# ВИД ДОХОДУ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            <div class="col-12">
                                <span>{{ display_val(data_item.otherObjectType) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# РОЗМІР (ВАРТІСТЬ) #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.sizeIncome) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ІНФОРМАЦІЯ ЩОДО ПРАВА НА ОБ'ЄКТ #}
                        {# todo: check #}
                        {% include 'steps/_care.jinja' with context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {{ _("У суб'єкта декларування чи членів його сім'ї відсутні об'єкти для декларування в цьому розділі.") }}
{% endif %}