    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _( 'lastname' ) }}</div>
        <div class="col-7 align-self-end border-bottom">{% if step_data.lastname %}{{ step_data.lastname }} {% endif %}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _( 'firstname' ) }}</div>
        <div class="col-7 align-self-end border-bottom">{% if step_data.firstname %}{{ step_data.firstname }} {% endif %}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _( 'middlename' ) }}</div>
        <div class="col-7 align-self-end border-bottom">{% if step_data.middlename %}{{ step_data.middlename }} {% endif %}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _( 'taxNumber' ) }}</div>
        <div class="col-7 align-self-end border-bottom">{% if step_data.taxNumber %}{{ step_data.taxNumber }} {% endif %}</div>
    </div>
    {% if step_data.changedName %}
	    <fieldset class="line-height">
	        <legend><i>{{ _('changed_name') }}</i></legend>
	        <div class="row mb-3 mr-1">
	            <div class="col-5 align-self-end color-1">{{ _( 'previous_lastname' )}}</div>
	            <div class="col-7 align-self-end border-bottom">{% if step_data.previous_lastname %}{{ step_data.previous_lastname }} {% endif %}</div>
	        </div>
	        <div class="row mb-3 mr-1">
	            <div class="col-5 align-self-end color-1">{{ _( 'previous_firstname' )}}</div>
	            <div class="col-7 align-self-end border-bottom">{% if step_data.previous_firstname %}{{ step_data.previous_firstname }} {% endif %}</div>
	        </div>
	        <div class="row mb-3 mr-1">
	            <div class="col-5 align-self-end color-1">{{ _( 'previous_middlename' )}}</div>
	            <div class="col-7 align-self-end border-bottom">{% if step_data.previous_middlename %}{{ step_data.previous_middlename }} {% endif %}</div>
	        </div>
	    </fieldset>
    {% endif %}

    <fieldset class="line-height">
        <legend><i>{{ _('work_place') }}</i></legend>
        <div class="row mb-3 mr-1">
            <div class="col-12 align-self-end color-1">{{ _('workPlace') }}</div>
            <div class="col-12 align-self-end border-bottom">{% if step_data.workPlace %}{{ step_data.workPlace }}{% endif %}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-12 align-self-end color-1">{{ _('workPost') }}</div>
            <div class="col-12 align-self-end border-bottom">{% if step_data.workPost %}{{ step_data.workPost }}{% endif %}</div>
        </div>
    </fieldset>

    <fieldset class="line-height">
        <legend><i>{{ _('work_category') }}</i></legend>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('postType') }}</div>
            <div class="col-7 align-self-end border-bottom">{% if step_data.postType %}{{ step_data.postType }}{% endif %}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('postCategory') }}</div>
            <div class="col-7 align-self-end border-bottom">{% if step_data.postCategory %}{{ step_data.postCategory }}{% endif %} </div>
        </div>
    </fieldset>