<div class="row mb-0">
    <div class="col-lg-6">
        <div>{{ step_data.declaration_type }}</div>
        <div></div>
    </div>
    <div class="col-lg-6">
        {{ step_data.declaration_period }}
    </div>
</div>