{% if step_data %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table border corner-round dataTable">
            <thead>
            <tr>
                <th class="doc-num-row-col">{{ _('№') }}</th>
                <th>{{ _('table_header_organization_v3') }}</th>
                <th>{{ _('table_header_objectType') }}</th>
                <th>{{ _('table_header_sizeAssets') }}</th>
                <th>{{ _('table_header_step12_rights') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in step_data %}
                {% set data_item = step_data[item] %}
                <tr>
                    <td class="doc-num-row-col">{# № #}
                        {{ loop.index }}
                    </td>
                    <td>{# УСТАНОВА, В ЯКІЙ ВІДКРИТІ ТАКІ РАХУНКИ АБО ДО ЯКОЇ ЗРОБЛЕНІ ВІДПОВІДНІ ВНЕСКИ #}
                        <div class="row mb-2 mr-1">
                            {% if data_item.organization_type == 'Юридична особа, зареєстрована за кордоном' %}
                                <div class="col-12">
                                    <span>{{ display_val(data_item.organization_type) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_eng_company_name' ) }}</span>
                                    <span>{{ display_val(data_item.organization_eng_company_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_ukr_company_name' ) }}</span>
                                    <span>{{ display_val(data_item.organization_ukr_company_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_eng_company_code' ) }}</span>
                                    <span>{{ display_val(data_item.organization_eng_company_code) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_eng_company_address' ) }}</span>
                                    <span>{{ display_val(data_item.organization_eng_company_address) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_ukr_company_address' ) }}</span>
                                    <span>{{ display_val(data_item.organization_ukr_company_address) }}</span>
                                </div>
                            {% elif data_item.organization_type == 'Юридична особа, зареєстрована в Україні'%}
                                <div class="col-12">
                                    <span>{{ display_val(data_item.organization_type) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_ua_company_name' ) }}</span>
                                    <span>{{ display_val(data_item.organization_ua_company_name) }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="color-1">{{ _( 'organization_ua_company_code' ) }}</span>
                                    <span>{{ display_val(data_item.organization_ua_company_code) }}</span>
                                </div>
                            {% else %}
                                <div class="col-12">
                                    <span>{{ display_val(data_item.organization) }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.person) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ВИД АКТИВУ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span>{{ display_val(data_item.objectType) }}</span>
                            </div>
                            <div class="col-12">
                                <span>{{ display_val(data_item.otherObjectType) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# РОЗМІР АКТИВУ #}
                        <div class="row mb-2 mr-1">
                            <div class="col-12">
                                <span class="color-1">{{ _( 'sizeObligation' ) }}</span>
                                <span>{{ display_val(data_item.sizeAssets) }}</span>
                            </div>
                            <div class="col-12">
                                <span class="color-1">{{ _( 'assetsCurrency' ) }}</span>
                                <span>{{ display_val(data_item.assetsCurrency) }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{# ІНФОРМАЦІЯ ЩОДО ПРАВА НА ОБ'ЄКТ #}
                        {% include 'steps/_rights.jinja' with context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}