{% extends "base.jinja" %}

{% block bodyclass %}front{% endblock %}
    {% block infobox %}
    <section id="infobox">
        <div class="container">
            <div class="row">
                <div class="col{% if hp_news %} col-md-4{% else %} big-about{% endif %}">
                    <p class="mb10">
                        <a class="mediaimage" href="{{ url("wagtail_serve", "about/") }}">
                            <img alt="" src="{{ static("images/anonim.png") }}" class="img-circle" />
                        </a> <i>{{ page.body|richtext }}</i>
                    </p>
                    <a href="{{ url("wagtail_serve", "about/") }}" class="classic green">Дізнатися детально про проект</a>
                </div>
                {% if hp_news %}
                <div id="top-news">
                    {% if hp_news.image %}
                    <div class="col col-md-4">
                        <a href="{{ hp_news.url }}" class="block">
                            <img class="img-responsive" src="{{ hp_news.image.file|thumbnail_url("homepage_news") }}" />
                        </a>
                    </div>
                    {% endif %}
                    <div class="col{% if hp_news.image %} col-md-4{% else %} col-md-8{% endif %}">
                        <span class="topMarker">ТОП-новина:</span>
                        <a href="{{ hp_news.url }}" class="block nd">
                            <h3 class="text-left">{{ hp_news.title }}</h3>
                        </a>
                        <p class="text-left">{{ hp_news.lead|richtext }} <a href="{{ hp_news.url }}" class="block">Детальніше…</a></p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block newslist %}
    {% if latest_news %}
    <section id="newslist" >
        <div class="container">            
            <div class="row">
                <h3 class="text-center">Інші новини декларацій</h3>

                {% for row in latest_news|batch(2) %}
                <div class="newsBox">
                    {% for news in row %}
                    <div class="newsRow col-sm-6">
                        <span class="newsDate">{{ news.date_added|time("H:i") }}, {{ news.date_added|date }}</span>
                        <a class="newsTitle blue{% if news.important %} important-news{% endif %}" href="{{ news.url }}">{{ news.title }}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <a class="classic gree text-right pull-right" href="{{ url("wagtail_serve", "news/") }}">Усі новини</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block social %}
{% endblock %}

{% block content %}
    <div class="cp"></div>
    <!-- clear padding --> 
{% endblock %}

{% block graph %}
    <section id="graph" class="on-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="widget_help">ТОП-15 областей за медіанним рівнем доходів чиновників. Клікніть на заголовок колонки, щоб відсортувати таблицю. Для того, щоб перейти на <a href="{{ url("business_intelligence") }}">сторінку аналітики</a> для конкретної області, клікніть на строку в таблиці</div>
                    <div class="table-responsive">
                        <table class="first table">
                          <thead>
                            <tr class="header">
                              <th>Регіон</th>
                              <td id="colname_one">Дохід</td>
                              <td id="colname_two">Дохід сім'ї</td>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                    </div>
                    <div id="example"></div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

