{% extends "static.jinja" %}

{% block bodyclass %}not-front  {% endblock %}

{% block page_name -%}
{{ page.title }}
{%- endblock %}

{% block page_header -%}
{{ page.title }}
{%- endblock %}

{% block static_content %}
<p class="newsDate">{{ page.date_added|time("H:i") }}, {{ page.date_added|date }}</p>

{% if page.image %}
    {{ image(page.image, "fill-390x220", class="img-responsive pull-left onpage-img") }}
{% endif %}

{{ page.body|richtext }}
{% endblock %}