{% extends "static.jinja" %}

{% block bodyclass %}not-front  {% endblock %}

{% block page_name -%}
{{ page.title }}
{%- endblock %}

{% block page_header -%}
{{ page.title }}
{%- endblock %}

{% block static_content %}
{{ page.body|richtext }}
{% endblock %}