{% extends "static.jinja" %}

{% block bodyclass %}not-front  {% endblock %}

{% block page_name -%}
	{% if LANGUAGE_CODE == "en" and page.title_en %}
		{{ page.title_en }}
	{% else %}
		{{ page.title }}
	{% endif %}
{%- endblock %}

{% block page_header -%}
	{% if LANGUAGE_CODE == "en" and page.title_en %}
		{{ page.title_en }}
	{% else %}
		{{ page.title }}
	{% endif %}
{%- endblock %}

{% block static_content %}
	{% if LANGUAGE_CODE == "en" and page.body_en %}
		{{ page.body_en|richtext }}
	{% else %}
		{{ page.body|richtext }}
	{% endif %}
{% endblock %}