html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #EEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;

    &.not-front {
        &:before {
            content: '';
            width: 100%;
            height: 5px;
            display: block;

            @include greenGradient();
        }
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#page {
    padding-bottom: 80px;
    /* Height of the footer*/
}

i {
    font-style: normal;
    //font-family: 'arsenalitalic';
}

a, a:hover,
a:focus {
    color: $decl-green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1#page-header,
h1.page-header {
    color: $decl-green;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 10px;
    clear: both;
    @include rft(24, 30);
}

h1#page-header > span,
h1.page-header > span {
    border-bottom: 3px $decl-green solid;
}

.sub-header {
    margin: 0;
    font-size: 20px;
    clear: both;

    .date {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        opacity: 0.7;
    }
}

.page-content {
    margin-top: 20px;
    margin-bottom: 30px;

    @media(min-width:768px) {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.clr {
    clear: both;
    height: 1px;
}

.white {
    color: #FFFFFF;
}

.sm {
    font-size: 13px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt20 {
    margin-top: 20px;
}

.block {
    display: block;
}

a.ajaxx {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.nd {
    text-decoration: none !important;
}

a.classic {
    text-decoration: underline;
}

.green {
    color: $decl-green;
}

a.blue,
.breadcrumb a,
a.white:hover,
#glossarium td a {
    color: #2196f3;
}

#unsubscribe-vol {
    display: block;
    clear: both;
    margin-right: 9px;
    /* FIXME */
}

#top {
    background: url(../images/header.jpg) no-repeat center top;
    display: block;
    height: 60px;
    text-align: center;
}

.svg-image {
    line-height: 0;
    font-size: 0;

    svg {
        max-height: 100%;
        max-width: 100%;
        line-height: 0;
        font-size: 0;
    }
}

svg:not(:root) {
    overflow: hidden;
}

.logo {
    display: block;
    height: auto;
    margin-top: 10px;

    svg {
        width: 70px;
        height: 80px;
    }
}

.on-white {
    background: #FFFFFF;
}

#nav-search {
    .searchbox {
        .ex-search-link {
            text-align: right;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            color: black;
            //font-family: 'arsenalbold';
            margin-top: 5px;

            &:hover {
                color: $decl-green;
            }
        }
    }
}

#graph {
    padding: 15px 0;

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 1px 3px;
    }

    .table > thead > tr > th {
        border: none;
    }
}

#graph .social {
    margin: 0;
    min-height: 20px;
}

.graph-link img {
    margin-left: auto;
    margin-right: auto;
}

.graph-link span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

#top-news > div:first-child {
    border-left: 1px solid white;
}

#top-news h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}

.topMarker {
    text-transform: uppercase;
    font-size: 16px;
}

#newslist {
    padding-bottom: 30px;
}

#newslist h3 {
    text-transform: uppercase;
    color: $decl-green;
    margin-bottom: 30px;
    margin-top: 30px;
}

.newsBox {
    padding: 7px 12px;
}

.newsBox {
    display: block;
    height: 100%;
    clear: both;
    overflow: auto;
}

.newsBox:nth-child(odd) {
    background: none;
}

.newsBox:nth-child(even) {
    background: #eee;
}

.newsDate,
.newsTitle {
    display: table-cell;
}

.newsDate {
    white-space: nowrap;
    padding-right: 25px;
    font-size: 14px;
    color: #7c7c7c;
}

#stats {
    font-size: 16px;
    line-height: 1;
    margin-top: -20px;
}

#stats .digits {
    //font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #e95000;
}

#stats p {
    margin-bottom: 5px;
    color: black;
}

#infobox a#closeme span:before {
    content: "\e014";
    font-size: 20px;
    color: #A6A6A6;
}

.modal .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.modal {
    background: url("../images/overlay.png") repeat;
}

.modal-dialog {
    top: 30%;
}

.modal-header {
    background: #2196f3;
    padding-bottom: 24px !important;
    color: #fff;
}

.box {
    background: #fff;
    padding: 24px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.34);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.34);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.34);
    border-radius: 2px;
    border: 0;
    position: relative;
    height: 100%;
}

.chesno .box {
    background: #fff url(../images/chesno_logo_uk.png) no-repeat right -120px bottom -20px;
}

.nacp .box {
    background: #fff url(../images/nacp_logo.png) no-repeat right bottom;
}

.chesno.list-group-item .box {
    background-position: right 0px bottom 5px;
}

#glossarium {}

#glossarium table {
    margin-bottom: 0;
}

#glossarium-index a {
    color: #000000;
}

#glossarium-index .g_i {
    margin-right: 5px;
}

#glossarium-index .g_i a {
    padding: 3px 5px;
}

#glossarium-index .empty a {
    color: #cdcdd0;
}

#glossarium-index .active a,
#glossarium-index .g_i a:hover {
    color: $decl-green;
    background: #FFFFFF;
    text-decoration: none;
}

.cp {
    display: block;
    padding-bottom: 80px;
}

fieldset[disabled] .form-control,
.form-control-wrapper .form-control,
.form-control,
fieldset[disabled] .form-control:focus,
.form-control-wrapper .form-control:focus,
.form-control:focus,
fieldset[disabled] .form-control.focus,
.form-control-wrapper .form-control.focus,
.form-control.focus {
    border-bottom: 1px solid $decl-green;
}

#searchbox {
    background: $decl-green;
    padding-top: 125px;
    padding-bottom: 80px;
    margin-bottom: 40px;
}

#searchbox .btn {
    padding-top: 25px;
    padding-bottom: 22px;
}

#searchbox .input-group {
    background: #fff;
    padding-left: 20px;
}

.input-group .form-control {
    border-width: 0;
}

#searchbox input {
    font-size: 24px;
    padding-bottom: 10px;
    padding: 20px 0;
}

#searchbox fieldset[disabled] .form-control:not(textarea):not(select),
#searchbox .form-control-wrapper .form-control:not(textarea):not(select),
#searchbox .form-control:not(textarea):not(select),
#searchbox fieldset[disabled] .form-control:focus:not(textarea):not(select),
#searchbox .form-control-wrapper .form-control:focus:not(textarea):not(select),
#searchbox .form-control:focus:not(textarea):not(select),
#searchbox fieldset[disabled] .form-control.focus:not(textarea):not(select),
#searchbox .form-control-wrapper .form-control.focus:not(textarea):not(select),
#searchbox .form-control.focus:not(textarea):not(select) {
    height: 68px;
}

#searchbox select.form-control {
    height: 63px;
}

#searchbox select[multiple].form-control,
#searchbox select[multiple].form-control:focus,
#searchbox select[multiple].form-control.focus {
    height: 125px;
}

#searchbox .form-control-wrapper .material-input:after {
    height: 58px;
}

#searchbox .form-control-wrapper .input-lg ~ .material-input:after {
    height: 86px;
}

.tt-dropdown-menu {
    text-align: left;
}

.typeahead a strong {
    color: #e95000;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 75%;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    background-color: #fff;
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

.tt-hint {
    color: #999;
}

/*
.fullscreen_post_bg {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-size: cover;
background-position: 50% 50%;
-webkit-transition: opacity .25s ease-out;
-moz-transition: opacity .25s ease-out;
-ms-transition: opacity .25s ease-out;
-o-transition: opacity .25s ease-out;
transition: opacity .25s ease-out;
z-index:-98;
}

.fullscreen_post_bg:before {
content: '';
position: fixed;
top: 50%;
left: 0;
right: 0;
opacity: .4;
filter: alpha(opacity=40);
background-color: #151515;
height: 200px;
margin-top: -100px;
margin-top: -117px;
-webkit-box-shadow: 0 0 50px 50px #151515;
-moz-box-shadow: 0 0 50px 50px #151515;
box-shadow: 0 0 50px 50px #151515;
z-index:-98;
}

.fullscreen_post_bg img {
display: none;
}  */

.search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}

.search-box + label .search-icon {
    color: black;
}

.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #00695c;
}

.search-box:hover + label .search-icon {
    color: white;
}

.search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 600px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}

.search-box:focus + label .search-icon {
    color: black;
}

.search-box:not(:focus) {
    text-indent: -5000px;
}

#search-submit {
    position: relative;
    left: -5000px;
}

.search-icon {
    position: relative;
    left: -55px;
    top: 9px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.sub-header .glyphicon {
    padding-right: 10px;
}

span.social {
    display: inline-block;

    @media (min-width: 767px) {
        float: right;
        margin-top: 25px;
    }
}

.front span.social {
    float: left;
    margin-bottom: 40px;
}

span.social iframe,
span.social .fb_iframe_widget,
span.social .twitter-share-button,
span.social .disqus-comments-count {
    float: right;
    margin-right: 10px;
    line-height: 20px;
}

h1#page-header span.social {
    border-bottom: none;
    font-size: 12px;
    padding: 20px 0;
    padding-left: 50px;
}

ol.social-list {
    list-style: none;
    background: none;
    padding: 8px 0;
    margin-top: 17px;
}

ol.social-list > li {
    display: inline-block;
}

.feed {
  padding: 0 10px 0 25px;
  background: url("../images/feed-icon.png") no-repeat 0 50%;
  background-size: 20px 20px;
  color: #2196f3;
}
.feed:hover {
  color: #2196f3;
}

@media (max-width: 767px) {
    h1#page-header > span,
    h1.page-header > span {
        padding: 0;
    }

    h1 {
        span.social {
            display: block;
            float: none;
        }
    }
}

#disqus_thread {
    background: white;
    padding: 20px;
    margin: -20px 0 40px;
}

/* General print styles */

@media print {
    #navbar,
    .on-white #top,
    #breadcrumbs,
    #page-header,
    .sub-header,
    #footer {
        display: none !important;
    }

    .container {
        width: auto;
        padding: 0;
    }

    .page-content .box {
        padding: 0;
    }
}

#search-form::-webkit-input-placeholder {
    color: silver;
}

#search-form:-moz-placeholder {
    color: silver;
}

#search-form::-moz-placeholder {
    color: silver;
}

#search-form::-ms-input-placeholder {
    color: silver;
    opacity: 1;
}

.big-about {
    font-size: 16px;
}

.onpage-img {
    margin-right: 30px;
    margin-bottom: 10px;
}

.important-news {
    font-weight: bold;
}

.alert a {
    text-decoration: underline;
}

.alert a:hover {
    text-decoration: none;
}
