html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body.menu-is-open {
  @media (max-width: 1023px) {
    .page {
      height: 100%;
      overflow: hidden;
    }
  }
}

.content {
  @include ext-background(#F7F9FA);

  &__main {
    padding-top: 0;
    @include ext-background($white);
    @media all and (min-width: 1024px) {
      padding-bottom: 80px;
    }
  }
}

.hidden {
  display: none;
}
