@import "pages/main-page";
@import "pages/search-page";
@import "pages/404-page";
@import "pages/profile-page";
@import "pages/analytics-page";
@import "pages/compare-page";
@import "pages/declaration-page";
@import "pages/regions-page";
