<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _( 'lastname' ) }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.lastname) }}</div>
</div>
<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _( 'firstname' ) }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.firstname) }}</div>
</div>
<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _( 'middlename' ) }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.middlename) }}</div>
</div>
<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _( 'taxNumber' ) }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.taxNumber) }}</div>
</div>
<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _('passport') }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.passport) }}</div>
</div>
<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _('unzr') }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.unzr) }}</div>
</div>
<div class="row mb-3 mr-1">
    <div class="col-5 align-self-end color-1">{{ _('birthday') }}</div>
    <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.birthday) }}</div>
</div>

{% if step_data.changedName %}
    <fieldset class="line-height">
        <legend><i>{{ _('changed_name') }}</i></legend>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _( 'previous_lastname' )}}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.previous_lastname) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _( 'previous_firstname' )}}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.previous_firstname) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _( 'previous_middlename' )}}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.previous_middlename) }}</div>
        </div>
    </fieldset>
{% endif %}


<fieldset class="line-height">
    <legend><i>{{ _('actual_living_place') }}</i></legend>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('country') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.country) }}</div>
    </div>

{% if not step_data.country or step_data.country in [1, "1"] %}
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('postCode') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.postCode) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('cityType') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.cityType) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('streetType_v3') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.streetType) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('street_v3') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.street) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('houseNum') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.houseNum) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('housePartNum') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.housePartNum) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('apartmentsNum') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.apartmentsNum) }} </div>
    </div>
{% else %}
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('eng_postCode') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.eng_reg_postCode) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('loc_engLivingAddress') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.eng_reg_address) }} </div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('loc_ukrLivingAddress') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.ukr_reg_address) }} </div>
    </div>
{% endif %}

</fieldset>

<fieldset class="line-height">
    <legend class="line-height"><i>{{ _('reg_living_address') }}</i></legend>

{% if step_data.sameRegLivingAddress %}
    <div class="mb-3">
        <div class="align-self-end color-1">{{ _('sameRegLivingAddress') }}</div>
    </div>
{% else %}
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('country') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ _('actual_country') }}</div>
    </div>

    {% if not step_data.actual_country or step_data.actual_country in [1, "1"] %}
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('postCode') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_postCode) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('cityType') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_cityType) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('streetType_v3') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_streetType) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('street_v3') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_street) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('houseNum') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_houseNum) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('housePartNum') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_housePartNum) }}</div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('apartmentsNum') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.actual_apartmentsNum) }}</div>
        </div>
    {% else %}
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('eng_actualPostCode') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.eng_actualPostCode) }}</div>
        </div>
        <div class="row mb-3 mr-1">
                <div class="col-5 align-self-end color-1">{{ _('loc_engLivingAddress') }}</div>
                <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.eng_actualAddress) }}>/div>
        </div>
        <div class="row mb-3 mr-1">
            <div class="col-5 align-self-end color-1">{{ _('loc_ukrLivingAddress') }}</div>
            <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.ukr_actualAddress) }}</div>
        </div>
    {% endif %}
</fieldset>
{% endif %}

<fieldset class="line-height">
    <legend><i>{{ _('work_place') }}</i></legend>
    <div class="row mb-3 mr-1">
        <div class="col-12 align-self-end color-1">{{ _('workPlace') }}</div>
        <div class="col-12 align-self-end border-bottom">{{ display_val(step_data.workPlace) }}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-12 align-self-end color-1">{{ _('workPost') }}</div>
        <div class="col-12 align-self-end border-bottom">{{ display_val(step_data.workPost) }}</div>
    </div>
</fieldset>

<fieldset class="line-height">
    <legend><i>{{ _('work_category') }}</i></legend>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('postType') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.postType) }}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-5 align-self-end color-1">{{ _('postCategory') }}</div>
        <div class="col-7 align-self-end border-bottom">{{ display_val(step_data.postCategory) }}</div>
    </div>
</fieldset>

<fieldset class="line-height">
    <div class="row mb-3 mr-1">
        <div class="col-12 align-self-end color-1">{{ _('responsiblePosition') }}</div>
        <div class="col-12 align-self-end border-bottom">{{ display_val(step_data.responsiblePosition) }}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-12 align-self-end color-1">{{ _('corruptionAffected') }}</div>
        <div class="col-12 align-self-end border-bottom">{{ display_val(step_data.corruptionAffected) }}</div>
    </div>
    <div class="row mb-3 mr-1">
        <div class="col-12 align-self-end color-1">{{ _('public_person') }}</div>
        <div class="col-12 align-self-end border-bottom">{{ display_val(step_data.public_person) }}</div>
    </div>
</fieldset>
