/* <input type="text" class="n-input"> */

.n-input {
  font-family: Inter, Verdana, Arial;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 13px;
  background: $white;
  width: 100%;
  outline: none;
  color: $base;
  border: 1px solid #C4C7CC;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  &:focus {
    border-color: $green;
  }
  @media all and (min-width: 1024px) {
    font-size: 16px;
    padding: 9px 16px;
    height: 40px;
  }
  &::-webkit-input-placeholder {
    color: #C4C7CC;
  }
  &::-moz-placeholder {
    color: #C4C7CC;
  }
  &:-ms-input-placeholder {
    color: #C4C7CC;
  }
  &:-moz-placeholder {
    color: #C4C7CC;
  }
  &__wrapper {
    display: flex;
    @media all and (max-width: 420px) {
      flex-direction: column;
    }
  }
  &--has-error {
    background: white;
    border: 2px solid #FC3F33;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 16px;
  }
  &__error {
    color: #FC3F33;
    line-height: 40px;
    &::before {
      content: '!';
      display: inline-block;
      background-color: rgba(252, 63, 51, 0.2);
      border-radius: 10px;
      line-height: 20px;
      height: 20px;
      margin-right: 8px;
      text-align: center;
      vertical-align: middle;
      width: 20px;
    }
  }
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}