.n-select {
  position: relative;
  &__selected {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    padding-right: 16px;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-color: $base transparent transparent transparent;
      border-width: 4px;
      border-style: solid;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -2px;
    }
    &_active:before {
      border-color: transparent transparent $green transparent;
      margin-top: -6px;
    }
    @media all and (min-width: 1024px) {
      font-size: 16px;
      font-weight: 400;
      padding: 11px 34px 11px 16px;
      line-height: 1;
      background: $white;
      border-radius: 2px;
      border: 1px solid #EEEFF2;
      cursor: pointer;
      min-width: 180px;
      box-sizing: border-box;
      &:before {
        right: 16px;
      }
      &_active {
        border-color: $green;
      }
    }
  }
  &__items {
    background: $white;
    border: 1px solid #EEEFF2;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    margin-top: 8px;
    padding: 10px 0;
    display: none;
    min-width: 160px;
    white-space: nowrap;
  }
  &__item {
    font-size: 12px;
    cursor: pointer;
    padding: 3px 17px;
    font-weight: 500;
    &_active {
      color: $green;
    }
    &:hover {
      background: darken($white, 2%);;
    }
    @media all and (min-width: 1024px) {
      font-size: 16px;
      font-weight: 400;
      padding: 7px 17px;
    }
  }
}