.n-radio, .n-checkbox {
  position: relative;
  overflow: hidden;
  &__label {
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 27px;
    display: block;
    transition: color 0.3s linear;
    &:hover {
      color: $green;
    }
    &-text {
      display: inline-block;
      line-height: 16px;
    }
    &-box {
      width: 14px;
      height: 14px;
      background: $white;
      border-radius: 2px;
      border: 1px solid #c4c7cc;
      box-shadow: 0 0 2px #c4c7cc;
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: url("/images/icon/checked.svg") center no-repeat;
        background-size: 100% 100%;
        opacity: 0;
        transition: opacity 0.3s linear;
      }
    }
  }
  &__input {
    position: absolute;
    left: -100px;
    opacity: 0;
    &:checked + label .n-radio__label-box:before,
    &:checked + label .n-checkbox__label-box:before{
      opacity: 1;
    }
  }
}

.n-radio {
  &__label-box {
    border-radius: 50%;
    &:before {
      border-radius: 50%;
    }
  }
}