@import "components/form";
@import "components/btn";
@import "components/n-table";
@import "components/n-tooltip";
@import "components/action-icon";
@import "components/mobile-menu-link";
@import "components/block-title";
@import "components/main-menu";
@import "components/logo-block";
@import "components/project-menu";
@import "components/project-description-block";
@import "components/subscription-block";
@import "components/social-link";
@import "components/social-block";
@import "components/copyright-block";
@import "components/advantages-block";
@import "components/promo-block";
@import "components/main-social-block";
@import "components/action-link";
@import "components/card-actions";
@import "components/count-block";
@import "components/deep-search";
@import "components/search-form";
@import "components/lang-switch";
@import "components/account-block";
@import "components/search-card";
@import "components/pager";
@import "components/monitoring-block";
@import "components/sort-block";
@import "components/mobile-menu";
@import "components/tabs";
@import "components/request-block";
@import "components/close-btn";
@import "components/drop-down-btn";
@import "components/popup";
@import "components/email-notification";
@import "components/login-block";
@import "components/add-request-block";
@import "components/progress-block";
@import "components/about-block";
@import "components/donate-form";
@import "components/donate-block";
@import "components/api-block";
@import "components/analytics-tabs";
@import "components/chart-legend";
@import "components/compare-card";
@import "components/compare-popup";
@import "components/personal-info";
@import "components/declaration-card";
@import "components/dynamics-info";
@import "components/tenders";
@import "components/contents";
@import "components/declaration-details";
@import "components/help-block";
@import "components/alert";
@import "components/chartjs";
@import "components/ab";