div#bi_container{
  font-family: Roboto;
  font-size: 12px;
  color: #8D622D;
  color: gray;
  
}
table {
  border-collapse: collapse;
  /*font: 10px sans-serif;*/
  width: 720px;
}

th {
  font-weight: normal;
  text-align: left;
  padding-right: 6px;
  min-width: 43px;
  width:160px;

}

table.dataTable th.sorting_desc{
  cursor: s-resize;

}

table.dataTable th.sorting_asc{
  cursor: n-resize;

}


tbody tr:first-child td {
  padding-top: 2px;
}

tbody td {
  padding: 0;
  /*border-left: solid 1px #8D622D;*/
}

tbody rect {
  fill: orange;

  fill-opacity: 0.4;
}
tbody rect.line {
  fill: crimson;
  fill-opacity: 0.2;
}

tbody rect.median {
  fill: #98AFC7;
  fill: #BCC6CC;
  fill-opacity: 1;
}


tbody tr:hover rect {
  fill: steelblue;
  fill-opacity: 1;
}

tr.header th, td{
  font-weight: 400;
}
tr{
  margin-bottom: 0px;
}


tbody tr:nth-child(odd) {
   background-color: #efefef;
}

#main_table{
  width: 80%;
  float: left;
}

#chart_table{
  width: 40%;
  float: left;
}

tr td:first-child {
  width: 300px;
}

tr td:nth-child(5) {
  width: 20px;
}

#download{
  position: relative;
  top: -20px;
  left: 10px;
  width: 680px;
}

td a{
  color: #2C3539;
  text-decoration: none;
  
}

select {
    padding:3px;
    margin: 0;
    margin-right: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

div#example_paginate {
    position: relative;
    right: -200px;
    top: 5px;
}