table.first {
  border-collapse: collapse;
  /*font: 10px sans-serif;*/
  width: 720px;
  float: left;
  margin-left: 40px; 
}

.first th {
  font-weight: normal;
  text-align: left;
  padding-right: 6px;
  min-width: 43px;
  width:260px;
}

.first thead td {
  cursor: s-resize;
}

.first tbody tr:first-child td {
  padding-top: 2px;
}

.first tbody td {
  padding: 0;
  /*border-left: solid 1px #8D622D;*/
}

.first tbody rect {
  fill: orange;

  fill-opacity: 0.4;
}


.first tbody rect.median {
  fill: #98AFC7;
  fill: #BCC6CC;
  fill-opacity: 1;
}


.first tbody tr:hover circle , line:hover {
  fill: steelblue;
  fill-opacity: 1;
}

.first tr.header th, td{
  font-weight: 800;
}

.first tr{
  margin-bottom: 0px;
}


.first tbody tr:nth-child(odd) {
   background-color: #efefef;
}

.first circle.median {
  fill: #e95000;
}

.first tr.header{
  margin-bottom: 10px;
  height: 35px;
}

#widget_help {
  float: left; width: 30%; margin-top: 30px; font-size: 1.2em;
}

#colname_one{
  padding-left: 80px;
}

#colname_two{
  padding-left: 60px;
}