/* ============================================================================
   Declaration Results main
============================================================================ */

.declaration-block {
    font: 16px/1.28571em "Times New Roman", Times, "FreeSerif", "Nimbus Roman No9 L", serif;
}

/* @group Declaration-head
  --------------------------------------------------------------------------- */

.declaration-head {
    font-size: 1em;
    font-family: "Times New Roman", Times, "FreeSerif", "Nimbus Roman No9 L", serif;
    text-align: center;
    margin: 1em 0 2em;
    font-weight: normal;
}

.declaration-head__em {
    display: block;
    text-transform: uppercase;
    font-size: 1.619em;
    line-height: 1.35004em;
}

/* @end */

/* ============================================================================
  Table support
============================================================================ */

/* @group Table generic
  --------------------------------------------------------------------------- */

.weiss-table {
    width: 100%;
    empty-cells: hide;
    border-spacing: 0;
    border-collapse: collapse;
    border-width: 0;
    margin-bottom: 15px;
    table-layout: fixed;
}

.weiss-table td,
.weiss-table th {
    text-align: left;
    vertical-align: middle;
}

.weiss-table thead td,
.weiss-table thead th {
    font-weight: bold;
    text-align: center;
}

.weiss-table tfoot {
    font-size: .9em;
}

.weiss-table tfoot td {
    text-align: center;
    border: none;
}

/* @end */

/* @group Table helpers
  --------------------------------------------------------------------------- */

.weiss-table .weiss-table__cell_unstyled {
    border-color: transparent;
}

.weiss-table .weiss-table__cell_unspaced {
    padding: 0;
}

.weiss-table .weiss-table__cell_bd-r {
    border-color: transparent;
    border-right: 1px solid #434343;
}

.weiss-table .weiss-table__cell_bd-l {
    border-color: transparent;
    border-left: 1px solid #434343;
}

.weiss-table .weiss-table__cell_fwn {
    font-weight: normal;
}

.weiss-table .weiss-table__psdo-th {
    font-weight: bold;
}

/* @end */

/* @group Table styling
  --------------------------------------------------------------------------- */

.weiss-table_decl caption {
    font-size: 1em;
    line-height: 1.4299em;
    font-weight: bold;
    margin-bottom: 1em;
}

.weiss-table_decl td,
.weiss-table_decl th {
    padding: 5px;
    border: 1px solid #434343;
    text-align: center;
    vertical-align: middle;
}

.weiss-table_decl th {
    text-align: left;
}

/* @end */

/* ============================================================================
   Form support
============================================================================ */

/* @group Form Layout
  --------------------------------------------------------------------------- */

.l-weiss-form__row {
    display: block;
    margin: 10px 0;
    position: relative;
}

.l-weiss-form__item {
    line-height: 30px;
    display: block;
    float: left;
    padding: 0 5px 0 0;
    position: relative;
}

table.l-weiss-form__row {
    border-spacing: 0;
    border-collapse: collapse;
    border-width: 0;
}

td.l-weiss-form__item {
    float: none;
    vertical-align: middle;
}

.weiss-form fieldset.l-weiss-form__row {
    margin: 10px 0;
}

.weiss-form legend.l-weiss-form__item {
    padding: 0 5px 0 0;
}

/* @end */

/* @group Form field sets
  --------------------------------------------------------------------------- */

.weiss-form .weiss-form__set {
    padding: 30px 0 0;
    position: relative;
    border: none;
}

.weiss-form .weiss-form__set-legend {
    font: bold 1em/2 "Times New Roman", Times, "FreeSerif", "Nimbus Roman No9 L", serif;
    margin: 0;
    padding: 0;
    border: none;
}

.weiss-form .weiss-form__set-legend span {
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Styles */

.weiss-form .weiss-form__set.weiss-form__set_paper {
    margin: 1em 0;
    padding: 25px 0 0;
}

.weiss-form .weiss-form__set_main.weiss-form__set_paper {
    padding: 40px 10px 10px;
    border: 1px solid #434343;
}

.weiss-form .weiss-form__set_main.weiss-form__set_paper > .weiss-form__set-legend span {
    text-align: center;
    border-bottom: 1px solid #434343;
}

.weiss-form__set_notes.weiss-form__set {
    font-family: Arial, FreeSans, sans-serif;
    padding: 20px;
    background-color: lightyellow;
}

/* @end */

/* ============================================================================
  INCLUDE CLASSES A
============================================================================= */

.i-clfx:before,
.l-weiss-form__row:before,
.i-clfx:after,
.l-weiss-form__row:after {
    content: "";
    display: table;
}

.i-clfx:after,
.l-weiss-form__row:after {
    clear: both;
}

.i-wai {
    border: none;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
}
