@mixin gi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
X - equal to the letter-tracking value in Photoshop
S - the font-size in pixels
*/
@mixin letter-spacing($x, $s) {
  letter-spacing: $x * $s / 1000 * 1px;
}

@mixin rft($mysizeValue-min, $mysizeValue-max) {

  $delta: $mysizeValue-max - $mysizeValue-min;
  $step: $delta / 3;

  font-size: $mysizeValue-min * 1px;

  @media (min-width: $screen-sm-min) {
    font-size: $mysizeValue-max - $step * 2 * 1px;
  }
  @media (min-width: $screen-md-min) {
    font-size: ($mysizeValue-max - $step) * 1px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: $mysizeValue-max * 1px;
  }
}