@mixin gi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
X - equal to the letter-tracking value in Photoshop
S - the font-size in pixels
*/
@mixin letter-spacing($x, $s) {
  letter-spacing: $x * $s / 1000 * 1px;
}