{% from "_search_form.jinja" import ex_search_form  with context %}
{% extends "base.jinja" %}

{% block extrahead %}
    {% stylesheet 'css_infographics' %}
{% endblock %}

{% block bodyclass %}not-found{% endblock %}

{% block social %}{% endblock %}

{% block content %}
    <div class="content container">
        <div class="page-404">
            <div class="page-404__search">
                {{ ex_search_form('', false) }}
            </div>

            <h1 class="page-404__title">{{ _("404. Сторінка не знайдена.") }}</h1>

            <div class="page-404__text">
                {{ _("На жаль, такої сторінки не існує. Але не засмучуйтесь, скористайтесь пошуком або верхнім меню.") }}
            </div>

            <div class="page-404__link-block">
                <a class="page-404__home-link" href="/">{{ _("На головну") }}</a>
            </div>
        </div>
    </div>
{% endblock %}
