{% macro banner_one() -%}
    <section id="infobox">
        <div class="container">
            <div class="infobanner infobanner--bi">
                <div class="infobanner-content">
                    <div class="infobanner-text text-center">
                        <p class="infobanner-top-text">BigData проти корупції:<br> по е-деклараціях чиновників запущено<br> потужний аналітичний модуль</p>
                        <a href="/BI/" class="btn button-cta">Подивитись на магію</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}