{% macro banner_one() -%}
    <section id="infobox">
        <div class="container">
            <div class="infobanner">
                <div class="infobanner-content">
                    <div class="infobanner-text text-center">
                        <p class="infobanner-top-text">Потрібна допомога у пошуку та розшифровці декларацій</p>
                        <a href="http://sotnya.org.ua/" target="_blank" class="btn btn-info button-cta" id="joinus">Долучіться до розшифровки</a>
                        <p>або допоможіть знайти <a href="http://goo.gl/forms/OTbHz2FVbj" target="_blank">такі</a> декларації</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}