{% macro decl_teaser(declaration, on_decl_page=False) %}
    <div data-declid="{{ declaration.meta.id }}" class="{% if on_decl_page %}selected {% endif %} decl-item item col-sm-12 col-md-6 col-lg-4 grid-group-item{% if declaration.declaration.source == "CHESNO" %} chesno{% elif declaration.declaration.source == "NACP" %} nacp{% endif %}" itemscope itemtype="http://schema.org/Person">
        <div class="box">
            {% if declaration.aggregated %}
            <a href="#" class="add2compare-list" title="Додати у список порівнянь">
                <i class="fa fa-times" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
            </a>
            {% endif %}
            <h3>
            {% if declaration.meta.id %}
            <a href="{{ url("details", declaration_id=declaration.meta.id) }}" itemprop="name">{{ declaration._full_name(language) }}</a>
            {% else %}
            {{ declaration._full_name(language) }}
            {% endif %}
        </h3>
            <ul class="tags_list">
                <li class="type">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    {% if declaration.intro.declaration_year %}{{ declaration.intro.declaration_year }}<span>,</span>{% endif %}
                    {% if declaration.intro.doc_type %}{{ declaration._declaration_type(language) }}<span>,</span>{% endif %}
                    {% if declaration.intro.corrected %}{{ _("Уточнена") }} <span>,</span>{% endif %}
                </li>
                {% if declaration.general.post.actual_region %}
                <li><a href="{{ url('region', region_name=declaration.general.post.actual_region) }}" itemprop="homeLocation">{{ declaration._actual_region(language) }}</a><span>,</span></li>
                {% elif declaration.general.post.region %}
                <li><a href="{{ url('region', region_name=declaration.general.post.region) }}" itemprop="homeLocation">{{ declaration._region(language) }}</a><span>,</span></li>
                {% endif %}
                {% if declaration.general.post.office %}
                <li><a href="{{ url('office', office_name=declaration.general.post.office) }}">{{ declaration._office(language) }}</a><span>,</span></li>
                {% endif %}
                {% if declaration.general.post.post %}
                <li itemprop="jobTitle">{{ declaration._position(language) }}</li>
                {% endif %}
                {% if declaration.intro.date %}
                <li class="date"><span class="glyphicon glyphicon-calendar"></span> {{ _("подана") }} {{ declaration.intro.date|datetime }}</li>
                {% endif %}
            </ul>
        </div>
        <input type="hidden" name="declaration_id" value="{{ declaration.meta.id }}" />
    </div>
{% endmacro %}
