{% macro lang_switcher(LANGUAGES) -%}
<div class="lang-switch header__lang-switch">
    {% for language_code, language_name in LANGUAGES %}
        {% if LANGUAGE_CODE != language_code %}
            <div class="lang-switch lang-switch__selected">
                <a href="{{ translate_url(request, language_code) }}">
                    {% if language_code == "uk" %}
                        UA
                    {% else %}
                        {{ language_code|upper }}
                    {% endif %}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{%- endmacro %}
