{% macro ex_search_form(query, deepsearch) -%}
        <div id="ex-search-form">
            <form class="box" action="{{ url("search") }}" method="GET" id="ex-form">

                <div class="input-group search-string">
                    <input type="text" name="q" class="form-control search-name" id="search-form" placeholder="Наприклад: Айварас Абромавичус; Суддя; Хмельницька область; Державна фіскальна служба" autocomplete="off" value="{% if query %}{{ query }}{% endif %}" />
                    <span id="search_scope" class="input-group-btn">
                        <div class="checkbox"><label><input type="checkbox" name="deepsearch" {% if deepsearch %}checked="checked"{% endif %}> <span>Шукати скрізь</span></label></div>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                    </span>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4 col col-1">
                        <!-- Рік -->
                        <div class="fieldset-container">
                            <fieldset>
                                <legend>Рік:</legend>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Рік:
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-as-select" aria-labelledby="dropdownYear" data-linked-input="search-field-year">
                                        <li><a href="#" data-value="">Рік:</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" data-value="2011">2011</a></li>
                                        <li><a href="#" data-value="2012">2012</a></li>
                                        <li><a href="#" data-value="2013">2013</a></li>
                                        <li><a href="#" data-value="2014">2014</a></li>
                                        <li><a href="#" data-value="2015">2015</a></li>
                                        <li><a href="#" data-value="2016">2016</a></li>
                                        <li><a href="#" data-value="2017">2017</a></li>
                                  </ul>
                                </div>
                                <input id="search-field-year" name="declaration_year" class="linked-input" type="hidden" />
                            </fieldset>

                            <!-- Тип документу -->
                            <fieldset>
                                <legend>Тип документу:</legend>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDocType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Тип документу:
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-as-select" aria-labelledby="dropdownDocType" data-linked-input="search-field-doctype">
                                        <li><a href="#" data-value="">Тип документу:</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" data-value="Щорічна">Щорічна</a></li>
                                        <li><a href="#" data-value="Перед звільненням">Перед звільненням</a></li>
                                        <li><a href="#" data-value="Після звільнення">Після звільнення</a></li>
                                        <li><a href="#" data-value="Декларація кандидата">Декларація кандидата</a></li>
                                        <li><a href="#" data-value="Форма змін">Форма змін</a></li>
                                    </ul>
                                </div>
                                <input id="search-field-doctype" name="doc_type" class="linked-input" type="hidden" />
                            </fieldset>
                        </div>
                    </div>

                    <!-- Тип посади -->
                    <div class="col-sm-6 col-md-4 col col-2">
                        <fieldset>
                            <legend>Тип посади:</legend>
                            <span class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="post_type" value="державної">
                                        <span>Посада державної служби</span></label>
                                </div>
                            </span>
                            <span class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="post_type" value="місцевого">
                                        <span>Посада в органах місцевого самоврядування</span></label>
                                </div>
                            </span>
                            <span class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="post_type" value="юридичної">
                                        <span>Посадова особа юридичної особи публічного права</span></label>
                                </div>
                            </span>
                        </fieldset>
                    </div>

                    <!-- Регіон -->
                    <div class="col-sm-6 col-md-4 col col-3">
                        <fieldset>
                            <legend>Регіон:</legend>
                            <div class="dropdown form-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownRegion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Регіон:
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-as-select" aria-labelledby="dropdownDocType" data-linked-input="search-field-region">
                                    <li><a href="#" data-value="">Регіон:</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" data-value="м. Київ">м. Київ</a></li>
                                    <li><a href="#" data-value="Вінницька область">Вінницька область</a></li>
                                    <li><a href="#" data-value="Волинська область">Волинська область</a></li>
                                    <li><a href="#" data-value="Дніпропетровська область">Дніпропетровська область</a></li>
                                    <li><a href="#" data-value="Донецька область">Донецька область</a></li>
                                    <li><a href="#" data-value="Житомирська область">Житомирська область</a></li>
                                    <li><a href="#" data-value="Закарпатська область">Закарпатська область</a></li>
                                    <li><a href="#" data-value="Запорізька область">Запорізька область</a></li>
                                    <li><a href="#" data-value="Івано-Франківська область">Івано-Франківська область</a></li>
                                    <li><a href="#" data-value="Київська область">Київська область</a></li>
                                    <li><a href="#" data-value="Кіровоградська область">Кіровоградська область</a></li>
                                    <li><a href="#" data-value="Львівська область">Львівська область</a></li>
                                    <li><a href="#" data-value="Луганська область">Луганська область</a></li>
                                    <li><a href="#" data-value="Миколаївська область">Миколаївська область</a></li>
                                    <li><a href="#" data-value="Одеська область">Одеська область</a></li>
                                    <li><a href="#" data-value="Полтавська область">Полтавська область</a></li>
                                    <li><a href="#" data-value="Рівненська область">Рівненська область</a></li>
                                    <li><a href="#" data-value="Сумська область">Сумська область</a></li>
                                    <li><a href="#" data-value="Тернопільська область">Тернопільська область</a></li>
                                    <li><a href="#" data-value="Харківська область">Харківська область</a></li>
                                    <li><a href="#" data-value="Херсонська область">Херсонська область</a></li>
                                    <li><a href="#" data-value="Хмельницька область">Хмельницька область</a></li>
                                    <li><a href="#" data-value="Черкаська область">Черкаська область</a></li>
                                    <li><a href="#" data-value="Чернівецька область">Чернівецька область</a></li>
                                    <li><a href="#" data-value="Чернігівська область">Чернігівська область</a></li>
                                    <li><a href="#" data-value="Кримська Автономна Республіка">Кримська Автономна Республіка</a></li>
                                    <li><a href="#" data-value="Севастополь">м. Севастополь</a></li>
                                </ul>
                            </div>
                            <input id="search-field-region" class="linked-input" type="hidden" name="region_value" />

                            <div class="form-group">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="region_type" value="region" id="search-field-region_type-1">
                                  Регіон реєстрації
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="region_type" value="actual_region" id="search-field-region_type-2">
                                  Регіон фактичного приживання
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="region_type" value="estate_region" id="search-field-region_type-3">
                                  Регіон задекларованної нерухомості
                                </label>
                              </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
                <a id="clear-filters" href="#">Скинути усі фільтри</a>
            </form>
        </div>
{%- endmacro %}
