{% macro _checkbox(field, id, name, value, label) %}
<div class="{{ field['block_name'] }}__param-item n-checkbox">
    <input type="checkbox"
        id="{{ id }}"
        name="{{ name }}"
        value="{{ value }}"
        class="n-checkbox__input"
        {% if name in request.GET and value in request.GET.getlist(name) %} checked="checked"{% endif %}
    />
    <label for="{{ id }}"
        class="n-checkbox__label">
        <span class="n-checkbox__label-box"></span>
        <span class="n-checkbox__label-text">
            {{ label }}
        </span>
    </label>
</div>
{% endmacro %}

{% macro ex_search_form(query, deepsearch) -%}
    <form class="search-form" action="{{ url("search") }}" method="GET">
        <div class="search-form__columns">
            <div class="search-form__left">
                <div class="search-form__input-wrap">
                    <input
                        type="text"
                        name="q"
                        class="n-input search-form__input"
                        autocomplete="off"
                        value="{% if query %}{{ query }}{% endif %}"
                        placeholder="{{ _("Наприклад: Айварас Абромавичус; Cуддя; Хмельницька область") }}">
                    <div class="search-form__everywhere n-checkbox">
                        <input type="checkbox"
                            id="deepsearch"
                            name="deepsearch"
                            class="n-checkbox__input"
                            {% if deepsearch %}checked="checked"{% endif %}>
                        <label for="deepsearch"
                            class="n-checkbox__label search-form__everywhere-label"
                            title="{{ _("Шукати по всьому тексту декларації, а не тільки по імені та посаді") }}">
                            <span class="n-checkbox__label-box"></span>
                            <span class="n-checkbox__label-text">{{ _("всюди") }}</span>
                        </label>
                    </div>
                </div>
                <button class="n-btn n-btn_ico n-btn_search search-form__search">{{ _("Шукати") }}</button>
            </div>

            <div class="search-form__right">
                <button class="n-btn n-btn_white search-form__deep-search">
                    {{ _("Детальний пошук") }}
                    <span class="search-form__deep-search-count filter-count"></span>
                </button>
            </div>
        </div>

        <div class="deep-search search-form__deep-search-block">
            <div class="deep-search__title">{{ _("Я шукаю декларацію") }}</div>
            <div class="deep-search__filter{% if 'declaration_year[]' in request.GET %} opened{% endif %}">
                <div class="deep-search__filter-title">{{ _("Рік") }}</div>
                <div class="deep-search__filter-body">
                    <div class="filter-year">
                        {% for year in range(CURR_YEAR, 2010, -1) %}
                            <div class="filter-year__item n-checkbox">
                                <input type="checkbox"
                                    id="{{ year }}"
                                    name="declaration_year[]"
                                    value="{{ year }}"
                                    class="n-checkbox__input"
                                    {% if 'declaration_year[]' in request.GET and year|string in request.GET.getlist('declaration_year[]') %} checked="checked"{% endif %}>
                                <label for="{{ year }}" class="n-checkbox__label">
                                    <span class="n-checkbox__label-box"></span>
                                    <span class="n-checkbox__label-text">{{ year }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
 
            {% set fields = [
                {
                    'label': {
                        'desktop': _('Тип документу чи посади'),
                        'mobile': _('Тип документу'),
                    },
                    'opened': 'doc_type[]' in request.GET or 'post_type[]' in request.GET,
                    'class_name': 'filter__document-position',
                    'block_name': 'position-filter',
                    'values': [
                        {
                            'group_name': 'Тип документу',
                            'input_name': 'doc_type[]',
                            'class_name': 'position-filter__document',
                            'options': [
                                ['Щорічна', 'Перед звільненням', 'Кандидата на посаду'],
                                ['Після звільнення', 'Форма змін'],
                            ],
                        },
                        {
                            'group_name': 'Тип посади',
                            'input_name': 'post_type[]',
                            'class_name': 'position-filter__position',
                            'options': [
                                [
                                    {'value': 'державної', 'label': 'Державна служба'},
                                    {'value': 'місцевого', 'label': 'Орган місцевого самоврядування'},
                                ],
                                [
                                    {'value': 'юридичної', 'label': 'Посадова особа юридичної особи публічного права'},
                                ]
                            ]
                        },
                    ],
                },
                {
                    'label': _('Ризик-фактори'),
                    'opened': 'flag[]' in request.GET,
                    'class_name': 'filter__document-risk',
                    'block_name': 'risk-filter',
                    'values': [
                        {
                            'input_name': 'flag[]',
                            'class_name': 'risk-filter__risk',
                            'options': [ ENABLED_FLAGS ]
                        },
                    ],
                },
                {
                    'label': {
                        'desktop': _('Регіон та область'),
                        'mobile': _('Регіон'),
                    },
                    'opened': 'region_type[]' in request.GET or 'region_value[]' in request.GET,
                    'class_name': 'deep-search__filter-region',
                    'block_name': 'by-region-filter',
                    'values': [
                        {
                            'group_name': 'Регіон',
                            'input_name': 'region_type[]',
                            'class_name': 'region-type-filter',
                            'options': [
                                [
                                    {'value': 'actual_region', 'label': 'Регіон фактичного проживання'},
                                    {'value': 'region', 'label': 'Регіон реєстрації'},
                                    {'value': 'estate_region', 'label': 'Регіон задекларованої нерухомості'},
                                ]
                            ]
                        },
                        {
                            'group_name': 'Область',
                            'input_name': 'region_value[]',
                            'class_name': 'region-filter',
                            'options': [
                                [
                                    {'label': 'м. Київ', 'value': 'м. Київ'},
                                    {'label': 'Вінницька', 'value': 'Вінницька область'},
                                    {'label': 'Волинська', 'value': 'Волинська область'},
                                    {'label': 'Дніпропетровська', 'value': 'Дніпропетровська область'},
                                    {'label': 'Донецька', 'value': 'Донецька область'},
                                    {'label': 'Житомирська', 'value': 'Житомирська область'},
                                    {'label': 'Закарпатська', 'value': 'Закарпатська область'},
                                    {'label': 'Запорізька', 'value': 'Запорізька область'},
                                    {'label': 'Івано-Франківська', 'value': 'Івано-Франківська область'},
                                    {'label': 'Київська', 'value': 'Київська область'},
                                    {'label': 'Кіровоградська', 'value': 'Кіровоградська область'},
                                    {'label': 'Львівська', 'value': 'Львівська область'},
                                    {'label': 'Луганська', 'value': 'Луганська область'},
                                    {'label': 'Миколаївська', 'value': 'Миколаївська область'},
                                    {'label': 'Одеська', 'value': 'Одеська область'},
                                    {'label': 'Полтавська', 'value': 'Полтавська область'},
                                    {'label': 'Рівненська', 'value': 'Рівненська область'},
                                    {'label': 'Сумська', 'value': 'Сумська область'},
                                    {'label': 'Тернопільська', 'value': 'Тернопільська область'},
                                    {'label': 'Харківська', 'value': 'Харківська область'},
                                    {'label': 'Херсонська', 'value': 'Херсонська область'},
                                    {'label': 'Хмельницька', 'value': 'Хмельницька область'},
                                    {'label': 'Черкаська', 'value': 'Черкаська область'},
                                    {'label': 'Чернівецька', 'value': 'Чернівецька область'},
                                    {'label': 'Чернігівська', 'value': 'Чернігівська область'},
                                    {'label': 'Кримська Автономна Республіка', 'value': 'Кримська Автономна Республіка'},
                                    {'label': 'Севастополь', 'value': 'Севастополь'},
                                ]
                            ]
                        },
                    ],
                },
            ] %}

            {% for field in fields %}
                <div class="deep-search__filter{% if field['class_name'] %} {{ field['class_name'] }}{% endif %}{% if field['opened'] %} opened{% endif %}">
                    <div class="deep-search__filter-title">
                        {% if 'desktop' in field['label'] %}
                            <div class="desktop">{{ _(field['label']['desktop']) }}</div>
                            <div class="mobile">{{ _(field['label']['mobile']) }}</div>
                        {% else %}
                            {{ field['label'] }}
                        {% endif %}
                        <div class="filter-count"></div>
                    </div>

                    <div class="deep-search__filter-body">
                        <div class="{{ field['block_name'] }}">
                            {% for group in field['values'] %}
                                <div class="{{ field['block_name'] }}__param{% if group['class_name'] %} {{ group['class_name'] }}{% endif %}">
                                    {% set group_number = loop.index %}
                                    {% if group['group_name'] %}
                                        <div class="{{ field['block_name'] }}__param-title">{{ _(group['group_name']) }}</div>
                                    {% endif %}
                                    <div class="{{ field['block_name'] }}__param-items">
                                        {% for column in group['options'] %}
                                            {% set column_number = loop.index %}
                                            <div class="{{ field['block_name'] }}__param-column">
                                                {% if field['block_name'] == 'risk-filter' %}
                                                    {% for key, option in column.items() %}
                                                        {# {% set id = 'document-' + field['block_name'] + '-' + group_number + '-' + column_number + '-' + loop.index %} #}
                                                        {% set id = "document-%s-%s-%s-%s"|format(field['block_name'], group_number, column_number, loop.index) %}
                                                        {{ _checkbox(field, id, group['input_name'], key, option['name']) }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for option in column %}
                                                        {% set id = "document-%s-%s-%s-%s"|format(field['block_name'], group_number, column_number, loop.index) %}
                                                        {% set value = option['value'] if 'value' in option else option %}
                                                        {{ _checkbox(field, id, group['input_name'], value, _(option['label']) if 'label' in option else _(option)) }}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="deep-search__bottom">
                <div class="deep-search__count-block count-block">
                    <div class="count-block__title">{{ _("Кількість фільтрів:") }}</div>
                    <div class="count-block__count filter-count">0</div>
                </div>
                <button class="deep-search__btn deep-search__reset n-btn n-btn_gray">{{ _("Скинути всі") }}</button>
                <button class="deep-search__btn n-btn">{{ _("Застосувати") }}</button>
            </div>
        </div>
    </form>
{%- endmacro %}

{% macro sort_direction(request, defaultSortField) -%}
    {% set field = request.GET['sort'] if 'sort' in request.GET else defaultSortField %}
    
    {% if field.endswith('_desc') %}
        <a href="?{{ replace_arg(request, 'sort', field, field[:-5]) }}"
            class="sort-block__icon sort-block__icon_asc"></a>
    {% else %}
        <a href="?{{ replace_arg(request, 'sort', field, field + '_desc') }}"
            class="sort-block__icon sort-block__icon_desc"></a>
    {% endif %}
{% endmacro %}