{% extends "static.jinja" %}

{% block page_name -%}
Про проект
{%- endblock %}

{% block page_header -%}
Про проект
{%- endblock %}

{% block static_content %}
            <p>Назвадомену.in.ua - це дуже хороший такий і корисний проект Канцелярської сотні. У нас все гарно.</p>

            <p>Ми виклали декларації чиновників, щоб прості люди змогли порівняти задекларовані доходи з реальними витратами.</p>

            <p><b>Робота з волонтерами у нас побудована в 3 етапи:</b></p>
            <ol>
                <li>Ви заповнюєте <a id="call-modal-form" class="ajaxx blue" href="#">форму</a> зі своїми контактними данними.</li> 
                <li>Ми надсилаємо вам тестове завдання витам шось гарно, та патріотично робите красіво та надсилаєте нам у відповідь.</li>
                <li>Ми довіряємо вам та поступово вводимо у свою команду, та слухаємо ваші ідеї. Десь так.</li>
            </ol>
{% endblock %}