{% extends "static.jinja" %}

{% block page_name -%}
Про проект
{%- endblock %}

{% block page_header -%}
Про проект
{%- endblock %}

{% block static_content %}
<p>Вас вітає проект Канцелярської сотні — «Декларації». Це – наймасштабніша в Україні спроба електронізувати декларації чиновників, та зробити їх легкодоступними для аналізу.</p>
<p>Як це працює і навіщо потрібно?</p>
<p>Новий антикорупційний закон зобов’язує усіх чиновників, суддів, прокурорів, депутатів – всіх «державних людей» - заповнити та оприлюднити декларацію про доходи.  Новий люстраційний закон зобов’язує оприлюднити таку декларацію і всіх кандидатів на посади. За приблизними підрахунками декларації заповнять і оприлюднять близько мільйона людей.</p>
<p>І що? А нічого.</p>
<p>Тому що ця публікація буде у формі викладеного файлу зі сканом паперової декларації, заповненої від руки. І ці декларації будуть лежати на безліччі сайтів у непримітних розділах. Навіть переглянути їх важко, не кажучи про аналіз.</p>
<p>Ініціатива Канцелярська сотня прагне оцифрувати ці декларації, а також декларації попередні років. По-справжньому оцифрувати. Щоб можна було робити автоматичну аналітику, рейтинги, побачити динаміку зростання чиновницьких статків.</p>
<p>Ми просимо вас долучитись до цієї роботи. Адже Канцелярська сотня – це ви.</p>
<p>За три місяці наша група проаналізувала кілька тисяч декларацій. Ми розробили зручну електронну анкету, з перевіркою та підказками. Допомогти дуже просто. Витратьте 15 хвилин, пройдіть за посиланням та внесіть інформацію з паперової декларації у форму.</p>
<p>Ваша робота  безцінна для контролю за чиновниками. Окрім цього гарантуємо багато вражень від їхніх декларацій.</p>
<p>Також, якщо у вас є змога, можете допомогти проекту грошима, жодних сторонніх джерел фінансування у нього немає. Моя картка 5168 7423 3713 2520 (ПриватБанк).</p>
<p><br />З вдячністю, ініціативна група Канцелярської сотні.</p>

<p class="text-right"><em>У розробці проекту брали участь: Денис Бігус, Дмитро Чаплинський, Ольга Макарова, Артем Глувчинський,<br/> Дмитро Нечипоренко, Андрій Турик, Дмитро Гамбаль, Гліб Козак, Володимир Гоцик, Олександр Ботезату</em></p>
<p class="text-right"><em>Автори висловлюють вдячність Громадському люстраційному комітету за допомогу у зборі декларацій</em></p>

{% endblock %}