{% extends "static.jinja" %}

{% block page_name -%}
Відкритий API
{%- endblock %}

{% block page_header -%}
Відкритий API
{%- endblock %}

{% block static_content %}
<p>Проект «Декларації» надає доступ до всіх наявних даних у машинозчитуваному форматі JSON за допомогою простого відкритого API.</p>
<p>Для доступу до даних у форматі JSON достатньо додати параметр адресної строки "format=json" до майже будь-якої сторінки.</p>
<p>Наразі через відкритий API доступні такі URL:</p>
<ul>
    <li>Всі регіони - <a href="http://declarations.com.ua/region?format=json">http://declarations.com.ua/region?format=json</a></li>
    <li>Посади за регіоном - http://declarations.com.ua/region/&lt;регіон&gt;?format=json (наприклад, <a href="http://declarations.com.ua/region/Загальнодержавний?format=json">http://declarations.com.ua/region/Загальнодержавний?format=json</a>)</li>
    <li>Декларації за регіоном та відомством - http://declarations.com.ua/region/&lt;регіон&gt;/&lt;відомство&gt;?format=json&amp;page=&lt;номер сторінки&gt; (наприклад, <a href="http://declarations.com.ua/region/Загальнодержавний/Міністерство юстиції?format=json&amp;page=2">http://declarations.com.ua/region/Загальнодержавний/Міністерство юстиції?format=json&amp;page=2</a>)</li>
    <li>Декларації за відомством, незалежно від регіону - http://declarations.com.ua/office/&lt;відомство&gt;?format=json&amp;page=&lt;номер сторінки&gt; (наприклад, <a href="http://declarations.com.ua/office/Міністерство юстиції?format=json&amp;page=2">http://declarations.com.ua/office/Міністерство юстиції?format=json&amp;page=2</a>)</li>
    <li>Довільний пошук - http://declarations.com.ua/search?q=&lt;пошуковий запит&gt;&amp;format=json&amp;page=&lt;номер сторінки&gt; (наприклад, <a href="http://declarations.com.ua/search?q=Суддя&amp;format=json&amp;page=2">http://declarations.com.ua/search?q=Суддя&amp;format=json&amp;page=2</a>)</li>
    <li>Окрема декларація - http://declarations.com.ua/declaration/&lt;ID декларації&gt;?format=json (наприклад, <a href="http://declarations.com.ua/declaration/5257?format=json">http://declarations.com.ua/declaration/5257?format=json</a>)</li>
</ul>
<p>В тих випадках, де наявний параметр адресної строки "page", у результатах використовується нумерація сторінок для скорочення кількості даних, що передаються.</p>
<p>Інформація щодо нумерації доступна за ключем "paginator" у словнику з ключем "results". Наприклад:
<pre>"paginator": {"per_page": 30, "count": 1139, "num_pages": 38}</pre></p>
<p>Це означає що за даним запитом існує 1139 декларацій, розподілених на 38 сторінок по 30 декларацій на одну сторінку. Нумерація починається з одиниці.</p>
<p>Якщо у такому запиті не вказати параметр "page", то будуть передані результати для першої сторінки.</p>
<p>Повну схему даних окремої декларації можна подивитись у <a href="https://github.com/dchaplinsky/declarations.com.ua/blob/master/declarations_site/catalog/data/mapping_defs.json">відкритому сховищі проекту на GitHub.</a></p>
<p>Також можете ознайомитися з <a href="https://gist.github.com/dchaplinsky/ce215a4c5b7ccef24c35">прикладом програми на python</a>, що використовує API щоб завантажити та зберегти усі декларації з сайту (потребує бібліотеки requests):</p>
<script src="https://gist.github.com/dchaplinsky/ce215a4c5b7ccef24c35.js"></script>
{% endblock %}