{# <span data-sugg_text="{{ result.hl|striptags }}"><span>{{ result.hl|safe }}</span></span>


 #}
<div class="search-form__autocomplete-item">
    <div class="search-form__autocomplete-name"><span>{{ result.hl|safe }}</div>
</div>