{% from "_social.jinja" import social -%}{% from "_spotter.jinja" import login_button -%}<!DOCTYPE html>
<html lang="uk" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block html_desc %}{% endblock %}">
        <meta name="author" content="">
        <title>{% block html_title %}Електронні декларації чиновників та депутатів{% endblock %}</title>

        {% stylesheet 'css_all' %}
        <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css' />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="canonical" href="https://declarations.com.ua{{ request.path }}" />
        <meta property="og:image" content="https://declarations.com.ua{{ static("images/logo_big.png") }}" />
        {% block extrahead %}{% endblock %}
        <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-61411581-1', 'auto');
                  ga('send', 'pageview');</script>

    </head>

{% set calling_page = page.url if page else "" %}
<body class="{% block bodyclass %}{% endblock %}">
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=137769152977340";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
        <div>
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-4 text-left">
                            <a href="{{ url("wagtail_serve", "") }}" class="logo pull-left">
                                <img src="{{ static("images/logo_big.png") }}" width="40" height="40" class="inline-logo" /><img src="{{ static("images/logo.png") }}" width="135" height="33" alt="" />
                            </a>
                        </div>
                        <div class="col col-xs-8 text-left pull-right" id="top-toolbar">
                            <a href="http://sotnya.org.ua/" target="_blank" class="btn btn-info pull-right" id="joinus">Долучитись до розшифровки</a>
                            {{ login_button(request.get_full_path()) }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-search">
                <div class="container">
                    <div class="row">

                        <nav id="navbar" class="navbar navbar-inverse navbar-default col-lg-9 col-md-8 col-sm-8 col-xs-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span><span class="glyphicon glyphicon glyphicon-remove"></span> </button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse pull-left">
                                <ul class="nav navbar-nav">
                                    <li class="joinus"><a href="http://sotnya.org.ua/" target="_blank">Долучитись до розшифровки</a></li>
                                    {% for menuitem in top_menu %}
                                    <li><a href="{{ menuitem.link }}">{{ menuitem.caption }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>

                        <div id="front-searchbox" class="searchbox col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <form action="{{ url("search") }}" method="GET">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" id="search-form" placeholder="Наприклад: Айварас Абромавичус; Суддя; Хмельницька область; Державна фіскальна служба" autocomplete="off" value="{% if query %}{{ query }}{% endif %}" />
                                    <span id="search_scope" class="input-group-btn">
                                        <div class="checkbox"><label><input type="checkbox" name="deepsearch" {% if deepsearch %}checked="checked"{% endif %}> <span>Шукати скрізь</span></label></div>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        <div id="stats" class="col col-lg-3 col-md-4 col-sm-4 text-left hidden-xs pull-right">
                            <p>Відкрито <span class="digits">{{ total_persons }}</span> чиновників</p>
                            <p>Оброблено <span class="digits">{{ total_declarations }}</span> декларацій</p>
                            <p>Долучився <span class="digits">3001</span> волонтер</p>
                        </div>

                    </div>
                </div>
            </div>

            {% block infobox %}
            {% endblock %}

            {% block newslist %}
            {% endblock %}

            {% block graph %}
            {% endblock %}

            {% block social %}
            {% endblock %}

            </div> <!--div class=""-->
        {% block content %}
        {% endblock %}

        <footer id="footer">
            <div class="container">
                <div class="copirights-logos">
                    <div class="cl-block">
                        <a class ="clogos clogos_cs" href="https://www.facebook.com/kancelaristy?"  target="_blank">Канцелярська сотня</a>
                        <span class="ctext">Проект канцелярської сотні</span>
                    </div>
                    <div class="cl-block">
                        <a class ="clogos clogos_slab" href="http://schroedingerscatlab.com/" target="_blank">Лабораторія кота Шрьодінгера</a>
                        <span class="ctext">Фронтенд Лабораторії кота Шрьодінгера</span>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    {% javascript 'js_all' %}

    {% block extra_js %}
    {% endblock %}
</body>
</html>
