{% from "_social.jinja" import social -%}{% from "_spotter.jinja" import login_button with context -%}{% from "_lang_switcher.jinja" import lang_switcher with context -%}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block html_desc %}{% endblock %}">
        <meta name="author" content="">
        <title>{% block html_title %}{{ _("Електронні декларації чиновників та депутатів") }}{% endblock %}</title>

        {% stylesheet 'css_all' %}
        <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css' />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="canonical" href="https://declarations.com.ua{{ request.path }}" />
        <meta property="og:image" content="https://declarations.com.ua{{ static("images/logo_big.png") }}" />

        {% for language_code, language_name in LANGUAGES %}
            <link rel="alternate" hreflang="{{ language_code }}" href="{{ translate_url(request, language_code) }}" />
        {% endfor %}

        <link rel="alternate" hreflang="x-default" href="{{ translate_url(request, "uk") }}" />

        {% block extrahead %}{% endblock %}
        <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-61411581-1', 'auto');
                  ga('send', 'pageview');</script>
        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>

        <script>
          var googletag = googletag || {};
          googletag.cmd = googletag.cmd || [];
        </script>

        <script>
          googletag.cmd.push(function () {
            if (window.innerWidth > 1504) {
              var stickyBannerRight;
              var stickyBannerLeft;
              if (window.location.pathname === "/") {
                stickyBannerRight = googletag.defineSlot('/56301415/declarations_160x600_right', [[160, 600], [120, 600]], 'div-gpt-ad-1531830029689-4').addService(googletag.pubads());
                stickyBannerLeft = googletag.defineSlot('/56301415/declarations_160x600_left', [[160, 600], [120, 600]], 'div-gpt-ad-1531830029689-5').addService(googletag.pubads());
              } else if (window.location.pathname.match(/declaration/) != null) {
                stickyBannerRight = googletag.defineSlot('/56301415/declarations_news_160x600_right', [[160, 600], [120, 600]], 'div-gpt-ad-1531830029689-4').addService(googletag.pubads());
                stickyBannerLeft = googletag.defineSlot('/56301415/declarations_news_160x600_left', [[160, 600], [120, 600]], 'div-gpt-ad-1531830029689-5').addService(googletag.pubads());
              } else {
                stickyBannerRight = googletag.defineSlot('/56301415/declarations_rest_160x600_right', [[160, 600], [120, 600]], 'div-gpt-ad-1531830029689-4').addService(googletag.pubads());
                stickyBannerLeft = googletag.defineSlot('/56301415/declarations_rest_160x600_left', [[160, 600], [120, 600]], 'div-gpt-ad-1531830029689-5').addService(googletag.pubads());
              }
            }
            if (window.innerWidth > 988) {
              googletag.defineSlot('/56301415/declarations_970x90_3', [[970, 90], [768, 90]], 'div-gpt-ad-1531830029689-0').addService(googletag.pubads());
              googletag.defineSlot('/56301415/declarations_970x90_2', [[970, 90], [768, 90]], 'div-gpt-ad-1531830029689-1').addService(googletag.pubads());
              googletag.defineSlot('/56301415/declarations_970x90', [[970, 90], [768, 90]], 'div-gpt-ad-1531830029689-2').addService(googletag.pubads());
            }

            if (window.innerWidth < 639) {
              var mobileBanner;
              if (window.location.pathname === "/") {
                mobileBanner = googletag.defineSlot('/56301415/declarations_320x50', [320, 50], 'div-gpt-ad-1531830029689-3').addService(googletag.pubads());
              } else if (window.location.pathname.match(/declaration/) != null) {
                mobileBanner = googletag.defineSlot('/56301415/declarations_news_320x50', [320, 50], 'div-gpt-ad-1531830029689-3').addService(googletag.pubads());
              } else {
                mobileBanner = googletag.defineSlot('/56301415/declarations_rest_320x50', [320, 50], 'div-gpt-ad-1531830029689-3').addService(googletag.pubads());
              }
            }

            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();

            googletag.pubads().addEventListener("slotRenderEnded", function (event) {
              if (mobileBanner === event.slot) {
                document.getElementById("mobileBannerWrapper").style.display = 'block';
              }
              if (stickyBannerRight === event.slot || stickyBannerLeft === event.slot) {
                document.getElementById("stickyBannerWrapper").style.display = 'block';
                document.getElementById("footer").setAttribute("style", "position:relative!important; z-index:3");
                document.getElementsByClassName("chatbot-menu")[0].setAttribute("style", "z-index:3");
              }
            });
          });
        </script>

    </head>

{% set calling_page = page.url if page else "" %}
<body class="{% block bodyclass %}{% endblock %}">
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=137769152977340";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    {% block branding %}{% endblock %}
    {% block brandingtop %}{% endblock %}
    <div class="page">
        <div class="alert alert--info" style="padding: 10px; text-align: center">{{ _("Увага! Ми майже закінчили додавання декларацій за 2021 рік, що були відсутні на нашому сайті через істотну модернізацію Реєстру НАЗК") }}<br/>{{ _("Ми продовжуємо опрацювання певних помилок і документів (форми істотних змін, рідкі випадки складних декларацій, переклад англійською).") }}<br/>{{ _("Будь ласка, дивіться оригінал декларації і якщо ви знайшли помилку - повідомте про неї ") }}<a href="mailto:bihus.info+dec@gmail.com">{{ _("сюди") }}</a><br/>{{ _("Якщо цей текст зник - все знову працює!") }}</div>
        <header>
            {% block header %}
                <div class="header">
                    <div class="header__inner">
                        <div class="header__column header__mobile">
                            <div class="mobile-menu-link">
                                <div class="mobile-menu-link__line"></div>
                                <div class="mobile-menu-link__line"></div>
                                <div class="mobile-menu-link__line"></div>
                            </div>

                            {{ lang_switcher(LANGUAGES, 'header__lang-switch-mobile') }}
                        </div>

                        <div class="header__column">
                            <div class="logo-block">
                                <a href="{{ url("wagtail_serve", "") }}" class="logo-block__link">
                                    <img class="logo-block__img_desktop" src="{{ static("images/logo.svg") }}" alt="Bihus logo">
                                    <img class="logo-block__img_mobile" src="{{ static("images/logo-mobile.svg") }}" alt="Bihus logo">
                                </a>
                            </div>

                            <div class="header__menu main-menu">
                                {% for menuitem in top_menu %}
                                    <div class="main-menu__item">
                                        <a href="{{ menuitem.link }}" class="main-menu__link{% if menuitem.extra_class %} {{ menuitem.extra_class }}{% endif %}">{{ menuitem.translated_caption }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="header__column">
                            <button class="compare-block header__compare modal__trigger hidden" data-modal-id="compare__popup">
                                <div class="action-icon action-icon_dark compare-block__icon">
                                    <img src="{{ static("images/icon/compare-black.svg") }}" alt="" class="action-icon__img">
                                    <div class="action-icon__count action-icon__count-compared"></div>
                                </div>
                            </button>

                            <div class="account-block header__account">
                                {{ login_button(request.get_full_path()) }}
                            </div>

                            {{ lang_switcher(LANGUAGES, 'header__lang-switch') }}

                            <div class="header__support support-project-block">
                                <a class="n-btn support-project-block__btn"
                                data-width="664px"
                                href="https://donate.bihus.info/">{{ _("Підтримати проект") }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="mobile-menu">
                        <div class="mobile-menu__close-btn"></div>
                        <div class="mobile-menu__inner">
                            <div class="mobile-menu__top">
                                <img src="{{ static("images/logo.svg") }}" alt="Bihus logo" class="mobile-menu__logo">
                            </div>

                            <div class="mobile-menu__items">
                                {% for menuitem in top_menu %}
                                    <div class="mobile-menu__item">
                                        <a class="mobile-menu__link{% if menuitem.extra_class %} {{ menuitem.extra_class }}{% endif %}" href="{{ menuitem.link }}">{{ menuitem.translated_caption }}</a>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="mobile-menu__description">
                                {{ _("Bihus.info об'єднує антикорупційні проекти, які створює ГО \"ТОМ 14\" та ГО \"Канцелярська сотня\".") }}
                            </div>

                            <a class="n-btn mobile-menu__donation"
                               data-width="664px"
                               href="https://donate.bihus.info/">{{ _("Підтримати проект") }}</a>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block banner970_1 %}
            {% endblock %}

            {% block newslist %}
            {% endblock %}

            {% block banner970_2 %}
            {% endblock %}

            {% block social %}
            {% endblock %}

        </header>
        {% block content %}
        {% endblock %}

        <div class="footer">
            <div class="container footer__inner">
                <div class="footer__top">
                    <div class="project-menu">
                        <div class="project-menu__title">{{ _("Проекти") }}</div>

                        <div class="project-menu__items">
                            <div class="project-menu__item">
                                <a href="https://declarations.com.ua/" class="project-menu__link">{{ _("декларації") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://bihus.info/projects/laboratoriya-vikrittiv/" class="project-menu__link">{{ _("лабораторія викриттів") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://kotyky.org.ua/" class="project-menu__link">{{ _("котики") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://bihus.info/projects/push" class="project-menu__link">{{ _("тисни!") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://ring.org.ua/" class="project-menu__link">{{ _("ring") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://www.youtube.com/playlist?list=PLj1W_YfyNdvmEDcNS9pAVpfBs8DKYCkvv" class="project-menu__link">{{ _("підсумки дна") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://www.youtube.com/playlist?list=PLj1W_YfyNdvlgQKoXEIdx3D4eVR4HlAtJ" class="project-menu__link">{{ _("наші гроші") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://bihus.info/projects/programa-intervyu-vono-yak/" class="project-menu__link">{{ _("он воно як") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="http://posipaky.info/" class="project-menu__link">{{ _("посіпаки") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="http://posipaky-2.info/" class="project-menu__link">{{ _("посіпаки 2") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://bihus.info/projects/gra-sliv/" class="project-menu__link">{{ _("гра слів") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://bihus.info/projects/blogi-0/" class="project-menu__link">{{ _("блоги") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://declarations.com.ua/business-intelligence/" class="project-menu__link">{{ _("nevid") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://bihus.info/projects/elektronne-bti-ebti" class="project-menu__link">{{ _("e.БТІ") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://garnahata.in.ua/" class="project-menu__link">{{ _("гарнахата") }}</a>
                            </div>
                            <div class="project-menu__item">
                                <a href="https://svoi.bihus.info/" class="project-menu__link">{{ _("свої люди") }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__medium">

                    <div class="project-description-block">
                        <img src="{{ static("images/logo-white.svg") }}" alt="Bihus logo" class="project-description-block__logo">
                        <div class="project-description-block__text">
                            {{ _("Bihus.info об'єднує антикорупційні проекти, які створює ГО \"ТОМ 14\" та ГО \"Канцелярська сотня\".") }}
                        </div>
                    </div>

                    <div class="footer__subscription subscription-block">
                        <div class="subscription-block__title">{{ _("Підписатися на розсилку") }}</div>
                        <iframe frameborder="0" src="https://secure.esputnik.com.ua/23oNbk6320s" width="80%" height="109" scrolling="no"></iframe>
                        {# <form class="subscription-block__form subscription-form">
                            <div class="subscription-form__input-wrap">
                                <input class="n-input subscription-form__input" placeholder="Введіть ваш e-mail">
                            </div>
                            <button class="n-btn subscription-form__btn">Підписатись</button>
                        </form> #}
                    </div>
                </div>

                <div class="footer__bottom">
                    <div class="social-block">
                        <div class="social-block__title">{{ _("Ми у соцмережах") }}</div>
                        <div class="social-block__items">
                            <div class="social-block__item">
                                <a href="https://www.facebook.com/bihus.info/" class="social-block__link social-link">
                                    <img src="{{ static("images/social/facebook-white.svg") }}" alt="Facebook" class="social-link__icon">
                                    <span class="social-link__title">Facebook</span>
                                </a>
                            </div>

                            <div class="social-block__item">
                                <a href="https://twitter.com/BihusInfo" class="social-block__link social-link">
                                    <img src="{{ static("images/social/twitter-white.svg") }}" alt="Twitter" class="social-link__icon">
                                    <span class="social-link__title">Twitter</span>
                                </a>
                            </div>

                            <div class="social-block__item">
                                <a href="https://www.youtube.com/bihusinfo" class="social-block__link social-link">
                                    <img src="{{ static("images/social/youtube-white.svg") }}" alt="YouTube" class="social-link__icon">
                                    <span class="social-link__title">YouTube</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="copyright-block footer__copyright">{{ _("Bihus.info &copy; 2015 - 2020") }}</div>
                </div>
            </div>
        </div>

        {# <footer id="footer">
            <div class="container wide-container">
                <div class="row">
                    <div class="col-md-4 col wh100-col">
                        <div class="media wh100">
                            <div class="media-left">
                                <a href="https://bihus.info/projects/go-kancelarska-sotna" target="_blank" title="Канцелярська сотня">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#wh100") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                {{ _('"Канцелярська сотня" - ініціатива зі створення інформаційних проектів із залученням тисяч волонтерів в інтернеті.') }}
                                <a class="more-link" href="https://bihus.info/projects/go-kancelarska-sotna" target="_blank" title="Канцелярська сотня">{{ _("Детальніше") }}</a>
                            </div>
                        </div>
                        <h4>{{ _('Інші проекті ГО "Канцелярська сотня":') }}</h4>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://declarations.com.ua/" target="_blank" title="{{ _("Декларації") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#logo") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://declarations.com.ua/" target="_blank" title="{{ _("Декларації") }}"><h5 class="media-heading">{{ _("Декларації") }}</h5></a>
                                <p>{{ _("Найбільша база декларацій українських чиновників, з адаптованим повнотекстовим пошуком та аналітичною системою.") }}
                                    <a class="more-link" href="https://bihus.info/projects/deklaracii" target="_blank" title="{{ _("Декларації") }}">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="http://posipaky.info/" target="_blank" title="ПОСІПАКИ">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#posipaky") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="http://posipaky.info/" target="_blank" title="ПОСІПАКИ"><h5 class="media-heading">ПОСІПАКИ</h5></a>
                                <p>{{ _("Відкрита база даних помічників народних депутатів Верховної Ради України, створена з інформації агенції журналістських розслідувань “Слідство.Інфо”.") }}
                                    <a class="more-link" href="https://bihus.info/projects/posipaki" target="_blank" title="ПОСІПАКИ">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://declarations.com.ua/business-intelligence/" target="_blank" title="НЕВІД (DRAGNET)">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#nevid") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://declarations.com.ua/business-intelligence/" target="_blank" title="НЕВІД (DRAGNET)"><h5 class="media-heading">{{ _("НЕВІД (DRAGNET)") }}</h5></a>
                                <p>{{ _("IT-проект «Невід» (Dragnet) - це розробка програмно-аналітичного блоку ініціативи “Декларації”, створеної активістами “Канцелярської сотні” у 2014-му році.") }}
                                    <a class="more-link" href="https://bihus.info/projects/nevid-dragnet" target="_blank" title="НЕВІД (DRAGNET)">{{ _("Детальніше") }}</a></p>

                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://bihus.info/projects/elektronne-bti-ebti" target="_blank" title="ЕЛЕКТРОННЕ БТІ (ЕБТІ)">
                                    <span class="svg-image inline-logo no-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#wh100") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://bihus.info/projects/elektronne-bti-ebti" target="_blank" title="ЕЛЕКТРОННЕ БТІ (ЕБТІ)"><h5 class="media-heading">{{ _("ЕЛЕКТРОННЕ БТІ (ЕБТІ)") }}</h5></a>
                                <p>{{ _("Проект “Електронне БТІ” є продовженням створення серії інструментів, які розширюють доступ до даних про нерухомість.") }}
                                    <a class="more-link" href="https://bihus.info/projects/elektronne-bti-ebti" target="_blank" title="{{ _("ЕЛЕКТРОННЕ БТІ (ЕБТІ)") }}">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://garnahata.in.ua/" target="_blank" title="{{ _("ГАРНАХАТА") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#garnahata") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://garnahata.in.ua/" target="_blank" title="{{ _("ГАРНАХАТА") }}"><h5 class="media-heading">{{ _("ГАРНАХАТА") }}</h5></a>
                                <p>{{ _("Cтартував одночасно із відкриттям Міністерством юстиції офіційного Реєстру речових прав на нерухоме майно. Простіше кажучи – реєстру нерухомості.") }}
                                    <a class="more-link" href="https://bihus.info/projects/garnahata" target="_blank" title="{{ _("ГАРНАХАТА") }}">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col bihus-col">
                        <div class="bihusinfo-subblock">
                            <a class="footer-logo" href="https://bihus.info/about" target="_blank"><span class="svg-image inline-logo bihis-inverse"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#bihus-inverse") }}"></use></svg></span></a>
                            <p>{{ _('Bihus.info об\'єднує антикорупційні проекти, які створює ГО "ТОМ 14" та ГО "Канцелярська сотня".') }} <a target="_blank" class="more-link" href="https://bihus.info/about">{{ _("Детальніше") }}</a></p>
                        </div>
                        <div class="bihusinfo-subblock">
                            <div class="twitter_button"><a class="twitter-follow-button" href="https://twitter.com/BihusInfo" data-size="large" data-show-count="false">{{ _("Follow @BihusInfo") }}</a></div>
                            <div><div class="g-ytsubscribe" data-channel="nashigroshiTV" data-layout="default" data-count="default"></div></div>
                            <div><div class="fb-page" data-href="https://www.facebook.com/bihus.info/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bihus.info/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bihus.info/">{{ _("BIHUS.info") }}</a></blockquote></div></div>
                        </div>
                        <div class="esputnik-mail bihusinfo-subblock">
                            <h3>{{ _("Підпишись на новини") }}</h3>
                            <iframe frameborder="0" src="https://secure.esputnik.com.ua/23oNbk6320s" width="80%" height="109" scrolling="no"></iframe>
                        </div>
                    </div>
                    <div class="col-md-5 col vol14-col">
                        <div class="media tom14">
                            <div class="media-left">
                                <a href="https://bihus.info/projects/go-tom-14" target="_blank" title="{{ _("ТОМ 14") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#tom14") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                {{ _('Громадська організація "ТОМ 14". Центр журналістських розслідувань.') }} <a class="more-link" href="https://bihus.info/projects/go-tom-14" target="_blank" title="{{ _("ТОМ 14") }}">{{ _("Детальніше") }}</a>
                            </div>
                        </div>
                        <h4>{{ _('Проекти ГО "ТОМ 14":') }}</h4>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://www.youtube.com/playlist?list=PLj1W_YfyNdvlgQKoXEIdx3D4eVR4HlAtJ" target="_blank" title='ТЕЛЕПРОГРАМА "НАШІ ГРОШІ"'>
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#ng") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://www.youtube.com/playlist?list=PLj1W_YfyNdvlgQKoXEIdx3D4eVR4HlAtJ" target="_blank" title='ТЕЛЕПРОГРАМА "НАШІ ГРОШІ"'><h5 class="media-heading">{{ _('ТЕЛЕПРОГРАМА "НАШІ ГРОШІ"') }}</h5></a>
                                <p>{{ _('Проект антикорупційних розслідувань "Наші гроші. Головна ідея програми - викриття корупційних схем українських чиновників.') }}
                                    <a class="more-link" href="https://bihus.info/projects/teleprograma-nasi-grosi" target="_blank" title='{{ _('ТЕЛЕПРОГРАМА "НАШІ ГРОШІ"') }}'>{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://bihus.info/projects/push" target="_blank" title="{{ _("ТИСНИ!") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#push") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://bihus.info/projects/push" target="_blank" title="{{ _("ТИСНИ!") }}"><h5 class="media-heading">{{ _("ТИСНИ!") }}</h5></a>
                                <p>{{ _('Юридична ініціатива ГО "ТОМ 14", спрямована на підтримку роботи журналістів після виходу розслідувань.') }}
                                    <a class="more-link" href="https://bihus.info/projects/push" target="_blank" title="{{ _("ТИСНИ!") }}">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://www.youtube.com/playlist?list=PLj1W_YfyNdvmEDcNS9pAVpfBs8DKYCkvv" target="_blank" title="{{ _("ПІДСУМКИ ДНА") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#dno") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://www.youtube.com/playlist?list=PLj1W_YfyNdvmEDcNS9pAVpfBs8DKYCkvv" target="_blank" title="{{ _("ПІДСУМКИ ДНА") }}"><h5 class="media-heading">{{ _("ПІДСУМКИ ДНА") }}</h5></a>
                                <p>{{ _("Чесна та відверта програма про наше сьогодення. Хіба що трохи занадто емоційна. В форматі 5 хвилин говоримо на актуальні теми.") }}
                                    <a class="more-link" href="https://bihus.info/projects/pidsumki-dna" target="_blank" title="ПІДСУМКИ ДНА">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://bihus.info/projects/narodne-nazk" target="_blank" title="{{ _("НАРОДНЕ НАЗК") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#pnazk") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://bihus.info/projects/narodne-nazk" target="_blank" title="{{ _("НАРОДНЕ НАЗК") }}"><h5 class="media-heading">{{ _("НАРОДНЕ НАЗК") }}</h5></a>
                                <p>{{ _("Розслідувально-аналітичний проект ГО “ТОМ 14”. Стартував одразу після оприлюднення перших електронних декларацій.") }}
                                    <a class="more-link" href="https://bihus.info/projects/narodne-nazk" target="_blank" title="{{ _("НАРОДНЕ НАЗК") }}">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                        <div class="media project-list">
                            <div class="media-left">
                                <a href="https://www.youtube.com/watch?v=pn7sKSGRFgs&list=PLj1W_YfyNdvlHBH2PRbNw7BWacrG35uTl" target="_blank" title="{{ _("НАШІ ГРОШІ. ДОСУДИЛИСЯ.") }}">
                                    <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#dosud") }}"></use></svg></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="https://www.youtube.com/watch?v=pn7sKSGRFgs&list=PLj1W_YfyNdvlHBH2PRbNw7BWacrG35uTl" target="_blank" title="{{ _("НАШІ ГРОШІ. ДОСУДИЛИСЯ.") }}"><h5 class="media-heading">{{ _("НАШІ ГРОШІ. ДОСУДИЛИСЯ.") }}</h5></a>
                                <p>{{ _("Телевезійний спецпроект про суди, суддів і судову реформу. За півроку «Досудилися» опублікували понад два десятки телерозслідувань.") }}
                                    <a class="more-link" href="https://bihus.info/projects/nasi-grosi-dosudilisa" target="_blank" title="{{ _("НАШІ ГРОШІ. ДОСУДИЛИСЯ.") }}">{{ _("Детальніше") }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row copyrights">
                    <div class="copyrights-logos col-md-6">
                        <div class="cl-block">
                            <a class="clogos_cs" href="https://www.facebook.com/kancelaristy?"  target="_blank">
                                <span class="svg-image"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#wh100gray") }}"></use></svg></span>
                            </a>
                            <span class="ctext">{(("Проект канцелярської сотні"))}</span>
                        </div>
                        <div class="cl-block">
                            <a class="clogos_slab" href="http://schroedingerscatlab.com/" target="_blank">
                                <span class="svg-image"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#laba") }}"></use></svg></span>
                            </a>
                            <span class="ctext">{{ _("Фронтенд Лабораторії кота Шрьодінгера") }}</span>
                        </div>
                        <div class="cl-block">
                            <a class="clogos_ok" href="http://okfactory.it/" target="_blank">
                                <span class="svg-image"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#okfactorygray") }}"></use></svg></span>
                            </a>
                            <span class="ctext">SEO<br>optimization</span>
                        </div>
                    </div>

                    <div class="col-md-6 copyrights-text">
                        <p>{{ _("У розробці проекту брали участь: Денис Бігус, Дмитро Чаплинський, Ольга Макарова, Артем Глувчинський, Володимир Фльонц, Андрій Ульяненко, Дмитро Нечипоренко, Андрій Турик, Дмитро Гамбаль, Гліб Козак, Володимир Гоцик, Олександр Ботезату, Ігор Рубан, Кирило Захаров") }}</p>
                        <p>{{ _("Автори висловлюють вдячність Громадському люстраційному комітету й Громадському руху Чесно за допомогу у зборі декларацій") }}</p>
                    </div>

                </div>
            </div>
        </footer> #}
    </div>

    {# <div class="chatbot-menu">
        <div class="btn trigger">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div class="icons">
            <div class="rotater">
                <a href="https://join.skype.com/bot/aa05e543-5918-49bb-88e6-ae8064345dd8" target="_blank" title="skype">
                    <div class="btn btn-icon">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="rotater">
                <a href="http://telegram.me/declbot" target="_blank" title="telegram">
                    <div class="btn btn-icon">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="rotater">
                <a href="https://www.messenger.com/t/237009933449862" target="_blank" title="messenger">
                    <div class="btn btn-icon">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="rotater">
                <a href="https://bihus.info/bot-dla-posuku-deklaracii-vidteper-u-facebook-telegram-i-skype" target="_blank" title="messenger">
                    <div class="btn btn-icon question">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
        <span>{{ _("Чат боти декларацій") }}</span>
    </div> #}

    <div id="compare__popup" class="popup" style="display: none">
        <div class="popup__wrap">
            <div class="popup__content" style="opacity: 1;">
                <div class="popup__close close-btn"></div>
                <div class="compare-popup">
                    <form method="GET" action="{{ url("compare") }}">
                        <div class="compare-popup__title">{{ _("Список порівнянь") }}</div>
                            <div class="compare-popup__body">
                                <div class="compare-popup__top">
                                    <div class="compare-popup__sort" style="visibility: hidden">
                                        <div class="sort-block">
                                            <div class="sort-block__title">{{ _("Сортувати по:") }}</div>
                                            <div class="sort-block__select">
                                                <div class="n-select">
                                                    <div class="n-select__selected">{{ _("Дата додавання") }}</div>
                                                    <div class="n-select__items">
                                                        <div class="n-select__item">{{ _("П.І.Б") }}</div>
                                                        <div class="n-select__item n-select__item_active">{{ _("Дата додавання") }}</div>
                                                        <div class="n-select__item">{{ _("Рік") }}</div>
                                                        <div class="n-select__item">{{ _("Кiлькiсть флагiв") }}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sort-block__icon sort-block__icon_desc"></div>
                                        </div>
                                    </div>

                                    <div class="compare-popup__open-link">{{ _("Відкрити всі картки") }}</div>
                                </div>

                                <div class="compare-popup__items">
                                </div>

                                <div class="compare-popup__actions">
                                    <div class="compare-popup__count-block count-block">
                                        <div class="count-block__title">{{ _("У порівняннях:") }}</div>
                                        <div class="count-block__count filter-count"></div>
                                    </div>

                                    <div class="compare-popup__btns">
                                        <button class="compare-popup__btn compare-popup__btn-clear n-btn n-btn_gray">{{ _("Очистити") }}</button>
                                        <button class="compare-popup__btn n-btn">{{ _("Порівняти") }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {# <div class="modal fade decl-compare-modal" tabindex="-1" role="dialog">
        <form method="GET" action="{{ url("compare") }}">
            <div class="modal-dialog container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ _("Список порівнянь") }}</h4>
                    </div>
                    <div class="modal-body">
                        <h2 class="empty-message">{{ _("Це сторінка порівняння декларацій. Ви не додали жодної декларації і нам нема чого порівнювати. Зробіть це. Зробіть швидше.") }}</h2>
                        <div class="compare-container"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info compare-list-action hidden" type="submit"><i class="fa fa-balance-scale" aria-hidden="true"></i> {{ _("Порівняти") }}</button>
                        <a class="btn btn-info clear-compare-list hidden" href="#" data-dismiss="modal"><i class="fa fa-trash-o" aria-hidden="true"></i> {{ _("Очистити список") }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div> #}

    <script type="text/javascript" src="{{ url('javascript-catalog') }}"></script>
    {% javascript 'js_all' %}

    {% block extra_js %}
    {% endblock %}

    <script type="text/html" id="popup-template">
        <div class="popup" style="display: block;">
            <div class="popup__wrap">
                <div class="popup__content">
                    <div class="popup__close close-btn"></div>
                </div>
            </div>
        </div>
</script>

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

    <script src="https://apis.google.com/js/platform.js"></script>
    <script>
        function onYtEvent(payload) {
            if (payload.eventType == 'subscribe') {
                // Add code to handle subscribe event.
            } else if (payload.eventType == 'unsubscribe') {
                // Add code to handle unsubscribe event.
            }
            if (window.console) { // for debugging only
                window.console.log('YT event: ', payload);
            }
        }
    </script>

    <div id="mobileBannerWrapper"
         style="display:none; width: 320px; height: 50px; left: 50%; margin-left: -160px; z-index: 9999999; position: fixed; bottom: 10px;">
        <div onclick="closeMobileBanner()"
             id="mobileBannerCloseButton"
             style="position: absolute; top: -22px; font-size: 14px; background-color: rgb(51, 51, 51); height: 22px; width: 55px; text-align: center; color: white;">
            close
        </div>
        <div id='div-gpt-ad-1531830029689-3'>
            <script>
              googletag.cmd.push(function () {
                googletag.display('div-gpt-ad-1531830029689-3');
              });
            </script>
        </div>
    </div>

    <script>
      function closeMobileBanner() {
        document.getElementById("mobileBannerWrapper").style.display = 'none';
        document.getElementById("mobileBannerCloseButton").style.display = 'none';
      }
    </script>
</body>
</html>
