{% extends "base.jinja" %}

{% block extrahead %}
{% endblock %}

{% block bodyclass %}not-front bi-analytics-page{% endblock %}

{% block infobox %}
{% endblock %}
{% block content %}
<section id="page" style="min-height: 600px">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Загальни дани</a></li>
            <li role="presentation"><a href="#incomes_and_assets" aria-controls="incomes_and_assets" role="tab" data-toggle="tab">Доходы и активы</a></li>
            <li role="presentation"><a href="#liabilities" aria-controls="liabilities" role="tab" data-toggle="tab">Обязательства и выдатки</a></li>
            <li role="presentation"><a href="#realty" aria-controls="realty" role="tab" data-toggle="tab">Недвижимость</a></li>
            <li role="presentation"><a href="#vehicles" aria-controls="vehicles" role="tab" data-toggle="tab">Транспорт</a></li>
            <li role="presentation"><a href="#risks" aria-controls="risks" role="tab" data-toggle="tab">Риск-анализ</a></li>
            <li role="presentation"><a href="#regions" aria-controls="regions" role="tab" data-toggle="tab">Региональный разрез</a></li>
            <li role="presentation"><a href="#list_of_declarants" aria-controls="list_of_declarants" role="tab" data-toggle="tab">Список декларантов</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="general">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=509df4e3-c87f-4a4f-b2bd-dabcb506d2ca&opt=currsel&select=clearall' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="incomes_and_assets">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=1c1e23d1-d729-472f-85d3-cd477113f925&opt=currsel&select=clearall' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="liabilities">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=bcb0b49a-4b9f-4a4f-8042-0c478d7f8e35&opt=currsel&select=clearall' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="realty">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=17ebd8ec-ec98-4851-b1d2-a5aaebce08ad&opt=currsel&select=clearall' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="vehicles">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=1a34f05f-8594-48eb-98df-9378a7ee5ca8&opt=currsel&select=clearall' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="risks">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=b3d23282-6d01-4331-a6df-46cb43be7bc1&opt=currsel&select=clearall' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="regions">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=e6c6953b-24df-41ca-a0c2-fb2076ceba12&opt=currsel&select=clearall'' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="list_of_declarants">
                <iframe src='http://seim/declar/single/?appid=7ac49f6f-c580-4139-97d0-2025e52f04bb&sheet=0666db7e-eff0-4bc3-a05b-e073c207861c&opt=currsel&select=clearall'' style='border:none; width: 100%; height: 600px;'></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
{% endblock %}
