{% extends "base.jinja" %}
{% from "_advantages.jinja" import advantages %}
{% from "_search_form.jinja" import ex_search_form with context %}

{% block extrahead %}
{% endblock %}

{% block bodyclass %}not-front bi-analytics-page{% endblock %}

{% block infobox %}
{% endblock %}
{% block content %}
<div class="content container">
    <div class="analytics-page">
        <div class="analytics-page__search">
            {{ ex_search_form('', false) }}
        </div>
        <div class="analytics-page__header">
            <h1 class="analytics-page__title">{{ _("Аналітика") }}</h1>
            <div class="analytics-page__select">
                <div class="n-select">
                    <div class="n-select__selected">{{ _("Інструкції та дані") }}</div>
                    <div class="n-select__items">
                        <div class="n-select__item">
                            <a href="/static/data/manual_final.pdf" target="_blank">{{ _("Інструкція") }}</a>
                        </div>
                        <div class="n-select__item">
                            <a href="/static/data/declarations_for_bi.csv.bz2" target="_blank">{{ _("Дані у СSV (більше трьох мільйонів рядків)") }}</a>
                        </div>
                        <div class="n-select__item">
                            <a href="https://docs.google.com/spreadsheets/d/1gkimFwc9g-Yi3HvdrA5lh8iQZ6tqIJnG3dLBIgnUmqY/edit?usp=sharing" target="_blank">{{ _("Опис формату даних") }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="analytics-page__iframe">
            <iframe src='https://bi.brdo.com.ua/extensions/Declarations/index.html'></iframe>
        </div>

        <div class="analytics-page__thank-to">
            <div>
                <a href="http://qlik.rbcgrp.com/" target="_blank" class="analytics-page__thank-to-rbc"></a>
            </div>
            <div>
                <a href="http://en.brdo.com.ua/" target="_blank" class="analytics-page__thank-to-brdo"></a>
            </div>
            <div>
                <a href="https://bihus.info/projects/go-kancelarska-sotna" target="_blank" title="{{ _("Канцелярська сотня") }}" class="analytics-page__thank-to-wh100">
                    <svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#wh100") }}"></use></svg>
                </a>
            </div>
        </div>

        {{ advantages('analytics-page__advantages') }}
    </div>
</div>
{% endblock %}
