{% extends "base.jinja" %}

{% block extrahead %}
{% endblock %}

{% block bodyclass %}not-front bi-analytics-page{% endblock %}

{% block infobox %}
{% endblock %}
{% block content %}
<section id="page" style="min-height: 600px">
    <div id="bi">
        <ul class="nav bi-nav wizard" role="tablist">
            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=509df4e3-c87f-4a4f-b2bd-dabcb506d2ca&opt=currsel'>Загальні дані</a></li>
            <li role="presentation"><a href="#incomes_and_assets" aria-controls="incomes_and_assets" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=1c1e23d1-d729-472f-85d3-cd477113f925&opt=currsel'>Доходи та активи</a></li>
            <li role="presentation"><a href="#liabilities" aria-controls="liabilities" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=bcb0b49a-4b9f-4a4f-8042-0c478d7f8e35&opt=currsel'>Зобов’язання та видатки</a></li>
            <li role="presentation"><a href="#realty" aria-controls="realty" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=17ebd8ec-ec98-4851-b1d2-a5aaebce08ad&opt=currsel'>Нерухомість</a></li>
            <li role="presentation"><a href="#vehicles" aria-controls="vehicles" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=1a34f05f-8594-48eb-98df-9378a7ee5ca&opt=currsel'>Транспорт</a></li>
            <li role="presentation"><a href="#risks" aria-controls="risks" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=b3d23282-6d01-4331-a6df-46cb43be7bc1&opt=currsel'>Ризик-аналіз</a></li>
            <li role="presentation"><a href="#regions" aria-controls="regions" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=e6c6953b-24df-41ca-a0c2-fb2076ceba12&opt=currsel'>Регіональний зріз</a></li>
            <li role="presentation"><a href="#list_of_declarants" aria-controls="list_of_declarants" role="tab" data-toggle="tab" data-iframe-src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=0666db7e-eff0-4bc3-a05b-e073c207861c&opt=currsel'>Список декларантів</a></li>
        </ul>
        <div class="tab-content">
            <div class="text-center">
                <a href="/static/data/manual_final.pdf" target="_blank" class="btn btn-info subnav btn-green">Інструкція <i class="fa fa-info" aria-hidden="true"></i></a>
                <a href="#" id="cta" class="btn btn-info subnav">Далі <i class="fa fa-step-forward" aria-hidden="true"></i></a>
            </div>
            <div role="tabpanel" class="tab-pane active bi-frame" id="general">
                <iframe src='https://bi.brdo.com.ua/single/?appid=8e5a910b-c3a6-42f3-a891-a4c9f10ab4bc&sheet=509df4e3-c87f-4a4f-b2bd-dabcb506d2ca&opt=currsel'></iframe>
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="incomes_and_assets">
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="liabilities">
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="realty">
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="vehicles">
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="risks">
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="regions">
            </div>
            <div role="tabpanel" class="tab-pane bi-frame" id="list_of_declarants">
            </div>
        </div>
    </div>
    <ul class="thank-to">
        <li>
            <a href="http://qlik.rbcgrp.com/" target="_blank" class="rbc"></a>
        </li>
        <li>
            <a href="http://en.brdo.com.ua/" target="_blank" class="brdo"></a>
        </li>
        <li>
            <a href="https://bihus.info/projects/go-kancelarska-sotna" target="_blank" title="Канцелярська сотня" class="wh100">
                <span class="svg-image inline-logo media-object"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static("images/svg-images-sprite.svg#wh100") }}"></use></svg></span>
            </a>
        </li>
    </ul>
</section>
{% endblock %}