{% extends "base.jinja" %}
{% from "_search_results.jinja" import search_results with context %}
{% from "_search_form.jinja" import ex_search_form with context %}
{% from "_decl_teaser.jinja" import decl_teaser with context %}

{% block bodyclass %}not-front compare-page{% endblock %}

{% block content %}
<div class="content container">
    <div class="compare-page">
        <div class="compare-page__search">
            {{ ex_search_form('', false) }}
        </div>

        <div class="compare-page__header">
            <a href="#" class="compare-page__help-link">Як порівнювати декларації?</a>
            
            {% if results %}
                <h1 class="compare-page__title">{{ _("Декларації, що були використані для порівняння") }}</h1>
            {% endif %}
        </div>

        <div class="compare-page__items">
            {% if results %}
                {{ search_results(results, true) }}
            {% endif %}
        </div>

        {% if results %}
                <div class="compare-page__chart">
                    <canvas id="decl_global"></canvas>
                </div>

                <div class="compare-page__chart">
                    <canvas id="decl_incomes"></canvas>
                </div>

                <div class="compare-page__chart">
                    <canvas id="decl_assets"></canvas>
                </div>

                <div class="compare-page__chart">
                    <canvas id="decl_realty"></canvas>
                </div>

                <div class="compare-page__chart">
                    <canvas id="decl_land"></canvas>
                </div>

                <div class="compare-page__chart">
                    <canvas id="decl_cars"></canvas>
                </div>

        {% endif %}
        {# <div class="compare-page__chart">
            <div class="chart-legend">
                <div class="chart-legend__item">
                    <div class="chart-legend__item-color" style="background: #00bff2;"></div>
                    <div class="chart-legend__item-name">{{ _("Дохід") }}</div>
                </div>

                <div class="chart-legend__item">
                    <div class="chart-legend__item-color" style="background: #ed3024;"></div>
                    <div class="chart-legend__item-name">{{ _("Грошові активи") }}</div>
                </div>

                <div class="chart-legend__item">
                    <div class="chart-legend__item-color" style="background: #fb0;"></div>
                    <div class="chart-legend__item-name">{{ _("Фінансові зобов’язання") }}</div>
                </div>

                <div class="chart-legend__item">
                    <div class="chart-legend__item-color" style="background: #b3d245;"></div>
                    <div class="chart-legend__item-name">{{ _("Витрати") }}</div>
                </div>

            </div>

            <img src="img/chart.svg" class="compare-page__chart-img" alt="{{ _("Доходи та грошові активи VS витрати та зобовязання") }}">
        </div> #}

        <div class="advantages-block compare-page__advantages">
            <div class="advantages-block__items">
                <div class="advantages-block__item">
                    <div class="advantages-block__item-title">{{ _("Чат-боти") }}</div>
                    <div class="advantages-block__item-text">
                        {{ _("Ми створили кишенькових помічників — чат-ботів у популярних месенджерах") }}
                    </div>
                    <div class="advantages-block__bots">
                        <div class="advantages-block__bots-items">

                            <a href="http://telegram.me/declbot" class="advantages-block__bot-link social-link">
                                <img src="{{ static("images/bots/telegram.svg") }}" alt="telegram" class="social-link__icon">
                            </a>

                            <a href="https://www.messenger.com/t/237009933449862" class="advantages-block__bot-link social-link">
                                <img src="{{ static("images/bots/messenger.svg") }}" alt="messenger" class="social-link__icon">
                            </a>

                            <a href="https://join.skype.com/bot/aa05e543-5918-49bb-88e6-ae8064345dd8" class="advantages-block__bot-link social-link">
                                <img src="{{ static("images/bots/skype.svg") }}" alt="skype" class="social-link__icon">
                            </a>

                        </div>

                        <a href="https://bihus.info/bot-dla-posuku-deklaracii-vidteper-u-facebook-telegram-i-skype" class="advantages-block__instruction-link">{{ _("Покрокова iнструкцiя")}}</a>
                    </div>
                </div>

                <div class="advantages-block__item">
                    <div class="advantages-block__item-title">{{ _("Порівняння") }}</div>
                    <div class="advantages-block__item-text">
                        {{ ("Додавайте декларантів у список порівнянь та дивіться аналіз за різними показниками") }}
                    </div>
                </div>

                <div class="advantages-block__item">
                    <div class="advantages-block__item-title">{{ _("Моніторинг") }}</div>
                    <div class="advantages-block__item-text">
                        {{ ("Слідкуйте за змінами чи появою нових документів по E-mail, RSS та у месенжерах") }}
                    </div>
                </div>

                <div class="advantages-block__item">
                    <div class="advantages-block__item-title">{{ _("Аналітика") }}</div>
                    <div class="advantages-block__item-text">
                        {{ ("Ми зробили круту аналітику і поділили ії на 8 розділів для вашої зручності") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block static_content %}
{% endblock %}

{% endblock %}

{% block extra_js %}
    {% if results %}
        <script type="text/javascript">
            window.incomes_data = {{ incomes_data|safe }};
            window.assets_data = {{ assets_data|safe }};
            window.incomes_vs_expenses_data = {{ incomes_vs_expenses_data|safe }};
            window.land_data = {{ land_data|safe }};
            window.realty_data = {{ realty_data|safe }};
            window.cars_data = {{ cars_data|safe }};
            window.urls = {{ urls|safe }};
        </script>

        {% javascript 'js_charts' %}
    {% else %}
        <script type="text/javascript">
            $(function() {
                $('.header__compare').click();
            });
        </script>
    {% endif %}
{% endblock %}