{% extends "base.jinja" %}
{% from "_search_results.jinja" import search_results with context %}
{% from "_procurements.jinja" import procurements_details %}
{% from "_spotter.jinja" import spotter_button %}
{% from "_decl_teaser.jinja" import decl_teaser with context %}

{% block html_title -%}
{% if meta %}{{ meta.title }}{% else %}
{{ _("Декларації:") }} {{ declaration._full_name(language) }}{% if declaration.declaration.source == "NACP" %} {{ _("від НАЗК") }}{% endif %}{% endif %}
{%- endblock %}

{% block html_desc %}{% if meta %}{{ meta.description }}{% else %}{{ _("Д​екларації") }}{% if declaration.declaration.source == "NACP" %} {{ _("НАЗК") }}{% endif %} {{ _("про майно, доходи, витрати та зобов'язання фінансового характеру") }} {{ declaration.general.last_name }} {{ declaration.general.name }} {{ _("за") }} {{ declaration.intro.declaration_year }} {{ _("рік онлайн у відкритій базі даних проекту") }}{% endif %}{% endblock %}

{% block bodyclass %}not-front {% if branding_link %}branding-page {% endif %}declaration-page {% if declaration.declaration.source == "NACP" %}declaration-page-nacp{% endif %}{% endblock %}


{% block infobox %}
    <section id="infobox">
        <div class="container">
            <div id="stickyBannerWrapper" style="display:none; position: relative; z-index: 2; ">
                <div style="position: absolute; left: -170px; width: 160px">
                    <div style="width: 160px; height: 600px; position: fixed; top: 0;">
                        <div id='div-gpt-ad-1531830029689-5'>
                            <script>
                              googletag.cmd.push(function () {
                                googletag.display('div-gpt-ad-1531830029689-5');
                              });
                            </script>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; right: -170px; width: 160px">
                    <div style="width: 160px; height: 600px; position: fixed; top: 0;">
                        <div id='div-gpt-ad-1531830029689-4'>
                            <script>
                              googletag.cmd.push(function () {
                                googletag.display('div-gpt-ad-1531830029689-4');
                              });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infobanner infobanner--bi">
                <div class="infobanner-content">
                    <a class="banner-link" href="https://donate.bihus.info/" title="{{ _("Підтримай Bihus.info! | Bihus.info — антикорупційні журналістські розслідування") }}"></a>
                    <div class="infobanner-text text-center">
                        <p class="infobanner-top-text">{{ _("Підтримай команду журналістів та юристів Bihus.info") }}</p>
                        <a href="https://donate.bihus.info/" class="btn button-cta">{{ _("Я з вами") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% if branding_link %}
    {% block branding %}
        <a class="branding branding_ga" href="{{ branding_link }}" data-branding_slug="{{ branding_slug }}" target="_blank"></a>
    {% endblock %}

    {% block brandingtop %}
        <a class="branding-top branding_ga" href="{{ branding_link }}" data-branding_slug="{{ branding_slug }}" target="_blank">
            {% if branding_image %}
                {{ image(branding_image, "original") }}
            {% endif %}
        </a>
    {% endblock %}
{% endif %}

{% block content %}

<div class="decl-teaser">{{ decl_teaser(declaration, True) }}</div>

<section id="page" data-declid="{{ declaration.meta.id }}">
    <div itemscope itemtype="http://schema.org/Person">
        <div class="decl-header-wrap">
            <div class="container rc">
                <div class="breadcrumbs-container">
                    <div id="breadcrumbs">
                        <ol class="breadcrumb pull-left">
                            <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                            <li class="active">{{ _("Результати пошуку") }}</li>
                            <li class="active">{{ declaration._full_name(language) }}</li>
                        </ol>
                    </div>

                    <h1 id="page-header"><span itemprop="name">{{ declaration._full_name(language) }}</span></h1>

                    {% if declaration.general.post.actual_region %}
                    <meta itemprop="homeLocation" content="{{ declaration.general.post.actual_region }}"/>
                    {% elif declaration.general.post.region %}
                    <meta itemprop="homeLocation" content="{{ declaration.general.post.region }}"/>
                    {% endif %}

                    <h2 class="sub-header">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        {% if declaration.intro.declaration_year %}{{ declaration.intro.declaration_year }}<span>,</span>{% endif %}
                <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                {% if declaration.general.post.actual_region %}
                    <a href="{{ url('region', region_name=declaration.general.post.actual_region) }}" itemprop="address">{{ declaration._actual_region(language) }}</a><span>,</span>
                {% elif declaration.general.post.region %}
                    <a href="{{ url('region', region_name=declaration.general.post.region) }}" itemprop="address">{{ declaration._region(language) }}</a><span>,</span>
                {% endif %}
                {% if declaration.general.post.office %}
                    <a href="{{ url('office', office_name=declaration.general.post.office) }}" itemprop="name">{{ declaration._office(language) }}</span></a><span>,</span>
                        {% endif %}
                        {% if declaration.general.post.post %}
                        <span itemprop="jobTitle">{{ declaration._position(language) }}</span><span>,</span>
                        {% endif %}

                        {% if declaration.intro.doc_type %}{{ declaration._declaration_type(language) }}<span>,</span>{% endif %}
                        {% if declaration.intro.corrected %}{{ _("Уточнена") }}<span>,</span>{% endif %}
                        {% if declaration.intro.date %}
                        <span class="date"><span class="glyphicon glyphicon-calendar"></span>{{ _("подана") }} {{ declaration.intro.date|datetime }}</span>
                        {% endif %}
                    </h2>

                </div>

                <div class="watching-block">
                    <p>{{ _("Моніторити декларанта по:") }}</p>
                    <a title="{{ _("Моніторити цей запит по RSS") }}" class="btn btn-raised btn-sm save-search rss-feed"
                       href="{{ SITE_URL }}{{ url('search') }}?{{ "q=%s+%s+%s" % (declaration.general.last_name,
                       declaration.general.name, declaration.general.patronymic) }}&amp;format=rss"><i class="fa fa-rss" aria-hidden="true"></i> RSS</a>
                    {{ spotter_button(_("+ Моніторити декларанта"), "q=%s+%s+%s" % (declaration.general.last_name,
                    declaration.general.name, declaration.general.patronymic), "from-declaration") }}
                </div>
            </div>
        </div>
        {% if declaration.declaration.url %}
        <div class="container page-content{% if declaration.declaration.source == "CHESNO" %} chesno{% elif declaration.declaration.source == "NACP" %} nacp{% endif %}">
        {% else %}
        <div class="container page-content">
        {% endif %}
            
            <div id='div-gpt-ad-1531830029689-0' style="display: none; width: 970px; margin: 15px auto;">
                <script>
                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1531830029689-0'); });
                </script>
            </div>

            {% if declaration.aggregated %}
            <a href="#" class="add2compare-list on-page-button" title="{{ _("Додати у список порівнянь") }}"><i class="fa fa-balance-scale" aria-hidden="true"></i> {{ _("Додати декларацію у список порівнянь") }}</a>
            {% endif %}
            <div class="box">
                {% if declaration.declaration.url %}
                    <div class="d-pdf"><a href="{{ declaration.declaration.url }}" target="_blank" rel="nofollow"><i></i><span>{{ _("Оригінал декларації") }}</span></a></div>
                {% endif %}

                {% if declaration.declaration.source == "NACP" %}
                    <div id="nacp_decl" class="nacp-decl">
                        {{ procurements_details(declaration) }}

                        {% set red_flags = declaration.red_flags() %}
                        {% if red_flags %}
                            <div>
                                <header><h2><span>{{ _("Ризик-аналіз: знайдено ") }}{{ red_flags|count }} {{ red_flags|count|uk_plural(_("червоний прапорець") + "," + _("червоних прапорця") + "," + _("червоних прапорців"))}}</span></h2></header>
                                <div class="decl-redflags">
                                    <a name="redflags"></a>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>{{ _("Прапорець") }}</th>
                                                    <th>{{ _("Опис") }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for flag in red_flags %}
                                                <tr>
                                                    <td class="red-flag-name">
                                                        {{ flag.text }}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if language == "en" %}
                            {{ declaration.raw_en_html()|safe }}
                        {% else %}
                            {{ declaration.raw_html()|safe }}
                        {% endif %}
                        <hr />
                    </div>
                {% else %}
                    {% if language == "en" %}
                        {{ declaration.raw_en_html()|safe }}
                    {% else %}
                        {{ declaration.raw_html()|safe }}
                    {% endif %}
                {% endif %}

                <div class="transliteration-hint">
                    <h4>{{ _("ПІБ іншими мовами") }}</h4>
                    {% set pipe = joiner(", ") %}
                    {% for t in generate_all_names(declaration.general.last_name, declaration.general.name, declaration.general.patronymic) -%}
                    {{ pipe() }}<span itemprop="alternateName">{{ t }}</span>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="relevant-container container">
        {% set similar_declarations = declaration.similar_declarations(language=language, return_full_body=True) %}
        {% if similar_declarations %}
        <h3 id="similar_by_surname">{{ _("Інші декларації, знайдені за ПІБ") }} «{{ declaration._full_name(language) }}»</h3>
        <div class="search-page">
            <div class="row list-group search-results">
                {{ search_results(similar_declarations) }}
            </div>
        </div>
        {% endif %}

        {% set family_declarations = declaration.family_declarations(language=language, return_full_body=True) %}
        {% if family_declarations %}
        <h3 id="similar_by_relations">{{ _("Декларації осіб, що <u>можуть</u> бути родичами декларанта") }}</h3>
        <div class="search-page">
            <div class="row list-group search-results">
                {{ search_results(family_declarations) }}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
{#
{{ _("червоний прапорець")}}
{{ _("червоних прапорця") }}
{{ _("червоних прапорців") }}
#}