{% extends "base.jinja" %}
{% from "_search_results.jinja" import search_results with context %}
{% from "_procurements.jinja" import procurements_details %}
{% from "_spotter.jinja" import spotter_button %}
{% from "_decl_teaser.jinja" import decl_year_type with context %}
{% from "_decl_teaser.jinja" import decl_teaser with context %}
{% from "_youcontrol.jinja" import yc_dossier, yc_check_person %}

{% block html_title -%}
{% if meta %}{{ meta.title }}{% else %}
{{ _("Декларації:") }} {{ declaration._full_name(language) }}{% if declaration.declaration.source == "NACP" %} {{ _("від НАЗК") }}{% endif %}{% endif %}
{%- endblock %}

{% block html_desc %}{% if meta %}{{ meta.description }}{% else %}{{ _("Д​екларації") }}{% if declaration.declaration.source == "NACP" %} {{ _("НАЗК") }}{% endif %} {{ _("про майно, доходи, витрати та зобов'язання фінансового характеру") }} {{ declaration.general.last_name }} {{ declaration.general.name }} {{ _("за") }} {{ declaration.intro.declaration_year }} {{ _("рік онлайн у відкритій базі даних проекту") }}{% endif %}{% endblock %}

{% block bodyclass %}not-front {% if branding_link %}branding-page {% endif %}declaration-page {% if declaration.declaration.source == "NACP" %}declaration-page-nacp{% endif %}{% endblock %}


{% block infobox %}
    <section id="infobox">
        <div class="container">
            <div id="stickyBannerWrapper" style="display:none; position: relative; z-index: 2; ">
                <div style="position: absolute; left: -170px; width: 160px">
                    <div style="width: 160px; height: 600px; position: fixed; top: 0;">
                        <div id='div-gpt-ad-1531830029689-5'>
                            <script>
                              googletag.cmd.push(function () {
                                googletag.display('div-gpt-ad-1531830029689-5');
                              });
                            </script>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; right: -170px; width: 160px">
                    <div style="width: 160px; height: 600px; position: fixed; top: 0;">
                        <div id='div-gpt-ad-1531830029689-4'>
                            <script>
                              googletag.cmd.push(function () {
                                googletag.display('div-gpt-ad-1531830029689-4');
                              });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infobanner infobanner--bi">
                <div class="infobanner-content">
                    <a class="banner-link" href="https://donate.bihus.info/" title="{{ _("Підтримай Bihus.info! | Bihus.info — антикорупційні журналістські розслідування") }}"></a>
                    <div class="infobanner-text text-center">
                        <p class="infobanner-top-text">{{ _("Підтримай команду журналістів та юристів Bihus.info") }}</p>
                        <a href="https://donate.bihus.info/" class="btn button-cta">{{ _("Я з вами") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% if branding_link %}
    {% block branding %}
        <a class="branding branding_ga" href="{{ branding_link }}" data-branding_slug="{{ branding_slug }}" target="_blank"></a>
    {% endblock %}

    {% block brandingtop %}
        <a class="branding-top branding_ga" href="{{ branding_link }}" data-branding_slug="{{ branding_slug }}" target="_blank">
            {% if branding_image %}
                {{ image(branding_image, "original") }}
            {% endif %}
        </a>
    {% endblock %}
{% endif %}

{% block content %}
    <div id='div-gpt-ad-1531830029689-0' style="display: none; width: 970px; margin: 15px auto;">
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1531830029689-0'); });
        </script>
    </div>
    <div class="declaration-page__navigation">
        <a onClick="history.go(-1)" class="n-btn n-btn_ico n-btn_back n-btn--back-fixed declaration-page__back">{{ _("Назад") }}</a>

        <div class="contents declaration-page__contents">
            <button class="n-btn n-btn_ico n-btn_contents contents__open">{{ _("Зміст") }}</button>
            <div class="contents__body">
                <div class="contents__header">
                    <div class="contents__close">
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.01 3H0V5H12.01V8L16 4L12.01 0V3Z" fill="#56B8AD"/>
                        </svg>
                    </div>
                    <div class="contents__title">{{ _("Зміст") }}</div>
                </div>
                <div class="contents__items"></div>
            </div>
        </div>
    </div>
    <div class="content container">
        <div class="declaration-card" data-declid="{{ declaration.meta.id }}" itemscope itemtype="http://schema.org/Person">
            <div class="declaration-card__personal-info">
                <div class="personal-info">
                    <div class="personal-info__top">
                        <div class="personal-info__name" itemprop="name">
                            <span class="youcontrol-tooltip__trigger">
                                {{ declaration._full_name(language) }}
                            </span>
                            {{ yc_check_person('a') }}
                            {{ yc_check_person('b') }}
                            {{ yc_check_person('c') }}
                            {{ yc_check_person('d') }}
                        </div>
                        <div class="personal-info__position">{{ decl_year_type(declaration) }}</div>
                    </div>
                    <div class="personal-info__rows">
                        <div class="personal-info__row">
                            <div class="personal-info__item-name">{{ _("Місце праці") }}</div>
                            <div class="personal-info__item-value" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                                {% if declaration.general.post.actual_region %}
                                    <a href="{{ url('region', region_name=declaration.general.post.actual_region) }}" itemprop="address">{{ declaration._actual_region(language) }}</a>{% if declaration.general.post.office %}<span>,</span>{% endif %}
                                {% elif declaration.general.post.region %}
                                    <a href="{{ url('region', region_name=declaration.general.post.region) }}" itemprop="address">{{ declaration._region(language) }}</a>{% if declaration.general.post.office %}<span>,</span>{% endif %}
                                {% endif %}
                                {% if declaration.general.post.office %}
                                    <a href="{{ url('office', office_name=declaration.general.post.office) }}" itemprop="name" class="youcontrol-tooltip__trigger">{{ declaration._office(language) }}</span></a>
                                {% endif %}
                                {{ yc_dossier('c') }}
                                {{ yc_dossier('d') }}
                                <div>{{ yc_dossier('a') }}</div>
                                <div>{{ yc_dossier('b') }}</div>
                            </div>
                        </div>
                        {% if declaration.general.post.post %}
                            <div class="personal-info__row">
                                <div class="personal-info__item-name">{{ _("Посада") }}</div>
                                <div class="personal-info__item-value" itemprop="jobTitle">
                                        {{ declaration._position(language) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if declaration.intro.date %}
                            <div class="personal-info__row">
                                <div class="personal-info__item-name">{{ _("Дата подачі") }}</div>
                                <div class="personal-info__item-value">{{ declaration.intro.date|datetime }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {# <div class="declaration-card__charts">
                <div class="declaration-card__charts-title">
                    <span>Дaні за <b>2018</b> та динаміка змін за різні роки</span>
                </div>

                <div class="declaration-card__charts-items">
                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">Сума доходів декларанта</div>
                                    <div class="dynamics-info__sum">2.356,234 грн</div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="images/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">Сума доходів членів родини</div>
                                    <div class="dynamics-info__sum">343.345 грн</div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="images/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">Сума грошових активів</div>
                                    <div class="dynamics-info__sum">7.000.000 грн</div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="images/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">Сума грошових активів родини</div>
                                    <div class="dynamics-info__sum">999.999 грн</div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="images/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">земельні ділянки декларанта і родини</div>
                                    <div class="dynamics-info__sum">3 га</div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="images/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">обєкти нерухомості декларанта і родини</div>
                                    <div class="dynamics-info__sum">5</div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="images/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="declaration-card__charts-item">
                        <div class="dynamics-info">
                            <div class="dynamics-info__top">
                                <div class="dynamics-info__left">
                                    <div class="dynamics-info__title">авто декларанта і родини</div>
                                    <div class="dynamics-info__sum">20</div>
                                    <div class="dynamics-info__description dynamics-info__mobile"> Skoda Fabia, Skoda Octavia, Range Rover, Land
                                        Cruiser, Skoda Fabia, Skoda Octavia, Range Rover, Land Cruiser, Skoda Fabia, Skoda
                                        Octavia, Range Rover, Land Cruiser, Skoda Fabia, Skoda Octavia, Range Rover, Land
                                        Cruiser, Skoda Fabia, Skoda Octavia, Range Rover
                                    </div>
                                </div>

                                <div class="dynamics-info__right">
                                    <img src="img/dynamics-chart.svg" class="dynamics-info__chart">
                                </div>
                            </div>

                            <div class="dynamics-info__bottom">
                                <div class="dynamics-info__description"> Skoda Fabia, Skoda Octavia, Range Rover, Land
                                    Cruiser, Skoda Fabia, Skoda Octavia, Range Rover, Land Cruiser, Skoda Fabia, Skoda
                                    Octavia, Range Rover, Land Cruiser, Skoda Fabia, Skoda Octavia, Range Rover, Land
                                    Cruiser, Skoda Fabia, Skoda Octavia, Range Rover
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}

            {% if declaration.declaration.source == "NACP" %}
                {% set red_flags = declaration.red_flags() %}
                {% if red_flags %}
                    <div class="declaration-card__feature">
                        <div class="declaration-card__feature-title">
                            <span>{{ _("Особливості") }}</span>
                        </div>
                        <div class="declaration-card__feature-items">
                            {% for flag in red_flags %}
                                <div class="declaration-card__feature-item">
                                    <div class="declaration-card__feature-item-title">
                                        {{ flag.text }}
                                    </div>
                                    <div class="declaration-card__feature-item-description">
                                        {{ flag.description|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div style="display: none">
                {{ decl_teaser(declaration, true) }}
            </div>
            <div class="declaration-card__actions">
                <div class="declaration-card__btns">
                    {% if declaration.aggregated %}
                        <button class="n-btn n-btn_ico n-btn_compare declaration-card__btn card-actions__action-add-to-compare" data-search-card="#{{ declaration.meta.id }}">
                            {{ _("Додати у порівняння") }}
                        </button>
                    {% endif %}
                    {% if declaration.declaration.url %}
                        <a href="{{ declaration.declaration.url }}" class="n-btn declaration-card__btn" target="_blank" rel="nofollow">
                            <span>{{ _("Оригінал декларації") }}</span>
                        </a>
                    {% endif %}
                    {{ yc_check_person('a', 'declaration-card__btn', 'lg') }}
                    {# <button class="n-btn n-btn_ico n-btn_find declaration-card__btn">Додати у знахідки</button> #}
                </div>

                <div class="declaration-card__monitoring monitoring-block">
                    <div class="monitoring-block__title">
                        {{ _("Моніторити запит:") }}
                    </div>
                    <div class="monitoring-block__btns">
                        {{ spotter_button(_("+ Моніторити декларанта"), "q=%s+%s+%s" % (declaration.general.last_name,
                        declaration.general.name, declaration.general.patronymic), "from-declaration") }}
                        <a href="{{ SITE_URL }}{{ url('search') }}?{{ "q=%s+%s+%s" % (declaration.general.last_name, declaration.general.name, declaration.general.patronymic) }}&amp;format=rss"
                            class="n-btn n-btn_gray monitoring-block__btn">
                            {{ _("RSS") }}
                        </a>
                    </div>
                </div>
            </div>

            <div id='div-gpt-ad-1531830029689-0' style="display: none; width: 970px; margin: 15px auto;">
                <script>
                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1531830029689-0'); });
                </script>
            </div>
            {% if declaration.declaration.source == "NACP" %}
                {{ procurements_details(declaration) }}
            {% endif %}
        </div>

        <div class="declaration-details" data-type="{% if declaration.declaration.source == "NACP" %}1{% else %}2{% endif %}">
            {% if language == "en" %}
                {{ declaration.raw_en_html()|safe }}
            {% else %}
                {{ declaration.raw_html()|safe }}
            {% endif %}
        </div>

        <div class="declaration-page__relevant-container">
            <h3 id="other_wordings"><span>{{ _("ПІБ іншими мовами") }}</span></h3>
            {% set pipe = joiner(", ") %}
            <div class="content-container">
                {% for t in generate_all_names(declaration.general.last_name, declaration.general.name, declaration.general.patronymic) -%}
                {{ pipe() }}<span itemprop="alternateName">{{ t }}</span>
                {%- endfor %}
            </div>
        </div>

        <div class="declaration-page__relevant-container">
            {% set similar_declarations = declaration.similar_declarations(language=language) %}

            {% if similar_declarations["exact"] %}
            <h3 id="exact_by_surname"><span>{{ _("Інші декларації цього декларанта") }}</span></h3>
            <div class="search-page">
                <div class="search-results">
                    {{ search_results(similar_declarations["exact"]) }}
                </div>
            </div>
            {% endif %}

            {% if similar_declarations["maybe"] %}
            <h3 id="similar_by_surname"><span>{{ _("Інші декларації, знайдені за ПІБ") }}</span> «{{ declaration._full_name(language) }}»</h3>
            <div class="search-page">
                <div class="search-results">
                    {{ search_results(similar_declarations["maybe"]) }}
                </div>
            </div>
            {% endif %}

            {% set family_declarations = declaration.family_declarations(language=language) %}
            {% if family_declarations %}
            <h3 id="similar_by_relations">
                <span>{{ _("Декларації осіб, що <u>можуть</u> бути родичами декларанта") }}</span>
            </h3>
            <div class="search-page">
                <div class="search-results">
                    {{ search_results(family_declarations) }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{#
{{ _("червоний прапорець")}}
{{ _("червоних прапорця") }}
{{ _("червоних прапорців") }}
#}