{% extends "base.jinja" %}

{% block html_title -%}
{{ declaration.general.last_name }} {{ declaration.general.name }} {{ declaration.general.patronymic }} - {% if declaration.general.post.post %} {{ declaration.general.post.post }} - {% endif %} декларація за {{ declaration.intro.declaration_year }} рік
{%- endblock %}

{% block html_desc %}Декларація за {{ declaration.intro.declaration_year }} рік {{ declaration.general.last_name }} {{ declaration.general.name }} {{ declaration.general.patronymic }} ({{ declaration.general.post.position }} {{ declaration.general.post.post }}) {% endblock %}

{% block content %}
<section id="page">
    <div class="container" itemscope itemtype="http://schema.org/Person">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("home") }}">Головна</a></li>
                <li class="active">Результати пошуку</li>
                <li class="active">{{ declaration.general.last_name }} {{ declaration.general.name }} {{ declaration.general.patronymic }}</li>
            </ol> 
        </div>

        <h1 id="page-header"><span itemprop="name">{{ declaration.general.last_name }} {{ declaration.general.name }} {{ declaration.general.patronymic }}</span></h1>
        <h2 class="sub-header">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            {{ declaration.intro.declaration_year }}<span>,</span>
            <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
            {% if declaration.general.post.region %}
                <a href="{{ url('region', region_name=declaration.general.post.region) }}" itemprop="address">{{ declaration.general.post.region }}</a><span>,</span>
            {% endif %}
            {% if declaration.general.post.office %}
                <a href="{{ url('office', office_name=declaration.general.post.office) }}" itemprop="name">{{ declaration.general.post.office }}</span></a><span>,</span>
            {% endif %}
            {% if declaration.general.post.post %}
                <span itemprop="jobTitle">{{ declaration.general.post.post }}</span>
            {% endif %}
        </h2>
        <div class="page-content">
            <div class="box">
                {% if declaration.declaration.url %}
                    <div class="d-pdf"><a href="{{ declaration.declaration.url }}" target="_blank"><i></i><span>Оригінал декларації</span></a></div>
                {% endif %}
                {% include 'decl_form.jinja' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}