{% extends "base.jinja" %}

{% block extrahead %}
    {% stylesheet 'css_infographics' %}
{% endblock %}

{% block bodyclass %}not-front bi-analytics-page{% endblock %}

{% block infobox %}
{% endblock %}
{% block content %}
<section id="page">
     <ul>
        {% for y in years_range %}
            <li><a href="{{ url('infographics', y ) }}">{{ y }}</a></li>
        {% endfor %}
    </ul>
    <div id="vizpannel">
        <div id="filterpanel">
           <form name="filters">
              <div>
                 <label>Режим відображення</label><br/>
                 <input type="radio" name="showParameter" value='assets.total' checked id="assets-radio">
                 <label for="assets-radio">Рухоме майно</label><br/>
                 <input type="radio" name="showParameter" value='incomes.total' id="incomes-radio">
                 <label for="incomes-radio">Надходження</label><br/>
                 <input type="radio" name="showParameter" value='estate.total_land' id="land-radio">
                 <label for="land-radio">Земля</label><br/>
                 <input type="radio" name="showParameter" value='estate.total_other' id="apartments-radio">
                 <label for="apartments-radio">Нерухомість</label><br/>
              </div>
              <div>
                 <label>Виділити за регіоном</label>
                 <select id="regionSelector" onchange="switchSelectionByRegions(this.value)" name="select">
                    <option value="">Область не обрано</option>
                 </select>
              </div>
              <div>
                 <label>Виділити за професійною діяльністю</label>
                 <select id="positionSelector" onchange="switchSelectionByPosition(this.value)">
                    <option value="j" selected>Центральна влада</option>
                    <option value="b">Mісцева влада</option>
                    <option value="p">Cудді</option>
                    <option value="h">Прокурори</option>
                    <option value="n">Лікарі</option>
                    <option value="e">Iнспектори</option>
                 </select>
              </div>
           </form>
        </div>
        <div class="viz" id="vse-wrapper">
           <h3>Всі разом</h3>
           <p class="loading" id="vse-loading-indicator">Завантаження...</p>
           <svg id="vse">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
        <div class="viz" id="suddi-wrapper">
           <h3>Судді та службовці Феміди</h3>
           <p class="loading" id="suddi-loading-indicator">Завантаження...</p>
           <svg id="suddi">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
        <div class="viz" id="prokurory-wrapper">
           <h3>Прокурори</h3>
           <p class="loading" id="prokurory-loading-indicator">Завантаження...</p>
           <svg id="prokurory">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
        <div class="viz" id="misceva_vlada-wrapper">
           <h3>Місцева влада</h3>
           <p class="loading" id="misceva_vlada-loading-indicator">Завантаження...</p>
           <svg id="misceva_vlada">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
        <div class="viz" id="centr_vlada-wrapper">
           <h3>Центральна влада</h3>
           <p class="loading" id="centr_vlada-loading-indicator">Завантаження...</p>
           <svg id="centr_vlada">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
        <div class="viz" id="inspector-wrapper">
           <h3>Інспектори</h3>
           <p class="loading" id="inspector-loading-indicator">Завантаження...</p>
           <svg id="inspector">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
        <div class="viz" id="likari-wrapper">
           <h3>Лікарі</h3>
           <p class="loading" id="likari-loading-indicator">Завантаження...</p>
           <svg id="likari">
              <g transform="translate(1,1)"></g>
           </svg>
        </div>
    </div>
</section> 
{% endblock %}

{% block extra_js %}
    {% javascript 'js_infographics' %}
{% endblock %}