{% if declaration._is_change_form() %}
    {% set folder = "cf_steps" %}
    {% set steps = {
        1: _("1. Інформація про субʼєкта декларування"),
        2: _("2. Доходи, у тому числі подарунки"),
        3: _("3. Обʼєкти нерухомості"),
        4: _("4. Цінне рухоме майно - транспортні засоби"),
        5: _("5. Цінні папери"),
        6: _("6. Корпоративні права"),
        7: _("7. Цінне рухоме майно (крім транспортних засобів)"),
        8: _("8. Нематеріальні активи"),
        9: _("9. Видатки"),
    } %}
{% else %}
    {% set folder = "steps" %}
    {% set steps = {
        0: _("1. Тип декларації та звітний період"),
        1: _("2.1. Інформація про субʼєкта декларування"),
        2: _("2.2. Інформація про членів сімʼї субʼєкта декларування"),
        3: _("3. Обʼєкти нерухомості"),
        4: _("4. Обʼєкти незавершеного будівництва"),
        5: _("5. Цінне рухоме майно (крім транспортних засобів)"),
        6: _("6. Цінне рухоме майно - транспортні засоби"),
        7: _("7. Цінні папери"),
        8: _("8. Корпоративні права"),
        9: _("9. Юридичні особи, трасти або інші подібні правові утворення, кінцевим бенефіціарним власником (контролером) яких є суб’єкт декларування або члени його сімʼї"),
        10: _("10. Нематеріальні активи"),
        11: _("11. Доходи, у тому числі подарунки"),
        12: _("12. Грошові активи"),
        17: _("12.1. Інформація щодо банківських та інших фінансових установ, у яких у суб’єкта декларування або членів його сім’ї відкриті рахунки"),
        13: _("13. Фінансові зобов’язання"),
        14: _("14. Видатки та правочини суб’єкта декларування"),
        15: _("15. Робота за сумісництвом суб’єкта декларування"),
        16: _("16. Членство суб’єкта декларування в організаціях та їх органах"),
    } %}
{% endif %}

{% if declaration.nacp_orig.step_1 %}
    {% set personal_info = {
        "firstname": declaration.nacp_orig.step_1.firstname,
        "middlename": declaration.nacp_orig.step_1.middlename,
        "lastname": declaration.nacp_orig.step_1.lastname,
    } %}
{% else %}
    {% set personal_info = {} %}
{% endif %}

{% for step, step_description in steps.items() %}
<div class="declaration-details" data-type="1">
    <div class="card" id="step-data-{{ step}}}">
        <header class="card-header" id="heading-{{ step }}">
            <h2 class="card-header-title">

                <span class="title">{{ step_description }}</span>
            </h2>
        </header>
        <div class="card-body">
            {% if "step_" + step|string in declaration["nacp_orig"] %}
                {% set step_data = declaration["nacp_orig"]["step_" + step|string] %}
            {% else %}
                {% set step_data = {} %}
            {% endif %}
            {% set step_description = "Step description #" + step|string %}
            {% set step_template = folder + '/step_' + step|string + '.jinja' %}
            {% include step_template with context %}
        </div>
    </div>
</div>
{% endfor %}
