{% extends "base.jinja" %}

{% block bodyclass %}not-front body--yc-option-b declaration-page declaration-page-nacp{% endblock %}


{% block content %}
    <div class="declaration-page__navigation">
        <div class="contents declaration-page__contents">
            <button class="n-btn n-btn_ico n-btn_contents contents__open">{{ _("Зміст") }}</button>
            <div class="contents__body">
                <div class="contents__header">
                    <div class="contents__close">
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.01 3H0V5H12.01V8L16 4L12.01 0V3Z" fill="#56B8AD"/>
                        </svg>
                    </div>
                    <div class="contents__title">{{ _("Зміст") }}</div>
                </div>
                <div class="contents__items"></div>
            </div>
        </div>
    </div>
    <div class="content container">
        <ul>
        {% for sample in samples.keys() %}
            <li><a href="{{ url('sample_details', sample )}}">{{ sample }}</a></li>
        {% endfor %}
        </ul>
        {% if declaration %}
            <div class="declaration-card" data-declid="{{ declaration.id }}" itemscope itemtype="http://schema.org/Person">
                <a href="https://declarations.com.ua{{ url('details', 'nacp_' + declaration.id )}}" target="_blank">В старому дизайні</a> <br/>
                <a href="https://public.nazk.gov.ua/documents/{{ declaration.id }}" target="_blank">На сайті НАЗК</a>
            </div>

            {% for step in [0, 1, 2] %}
            <div class="declaration-details" data-type="1">
                <div class="card" id="step-data-{{ step}}}">
                    <header class="card-header" id="heading-{{ step }}">
                        <h2 class="card-header-title">

                            <span class="title">STEP {{ step }}</span>
                        </h2>
                    </header>
                    <div class="card-body">
                        {% set step_data = declaration["data"]["step_" + step|string] %}
                        {% set step_description = "Step description #" + step|string %}
                        {% set step_template = 'steps/step_' + step|string + '.jinja' %}
                        {% include step_template with context%}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h1>Такої декларації не існує, скористайтесь прикладом із переліка вище</h1>
        {% endif %}
    </div>
{% endblock %}
{#
{{ _("червоний прапорець")}}
{{ _("червоних прапорця") }}
{{ _("червоних прапорців") }}
#}