{% extends "base.jinja" %}

{% block bodyclass %}not-front  {% endblock %}

{% block html_title -%}{{ title }}{%- endblock %}

{% block html_desc %}{{ meta_desc }}{% endblock %}

{% block content %}
<section id="page">
    <div class="container">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                <li><a href="{{ url("regions_home") }}">{{ _("Регіони") }}</a></li>
                <li class="active">{{ translator.translate(region_name).translation|escape }}</li>
            </ol> 
        </div>
        <h1 id="page-header"><span>{{ _("Регіони") }}: {{ translator.translate(region_name).translation|escape }}</span></h1>
        <div class="page-content">
            <div class="box">
                <div class="table-responsive">
                    <div id="glossarium">
                        <table class="table table-bordered table-striped">
                            {% for f in facets %}
                            <tr itemscope itemtype="http://schema.org/Organization">
                                <td><a href="{{ url('region_office', region_name=region_name, office_name=f.key) }}"><span itemprop="name">{{ translator.translate(f.key).translation }}</span> ({{ f.doc_count }})</a>
                                <span itemprop="address" style="display: none">{{ region_name|escape }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}