{% extends "base.jinja" %}

{% block html_title -%}
{{ _("Декларації українських чиновників по регіонах в онлайн-доступі: шукай правду тут") }}
{%- endblock %}

{% block html_desc %}
{{ _("Всі оброблені податкові декларації українських чиновників надаються в нашому проекті по регіонах. База постійно поповнюється новими даними про прибутки і податки кожного чиновника.") }}
{% endblock %}

{% block bodyclass %}not-front  {% endblock %}


{% block content %}
<section id="page">
    <div class="container">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                <li class="active">{{ _("Регіони") }}</li>
            </ol> 
        </div>
        <h1 id="page-header"><span>{{ _("Регіони") }}</span></h1>
        <div class="page-content">
            <div class="box">
                <div class="table-responsive">
                    <div id="glossarium">
                        <table class="table table-bordered table-striped">
                            {% for f in facets %}
                            <tr>
                                <td>
                                    {% if f.key %}
                                    <a href="{{ url('region', region_name=f.key) }}">{{ translator.translate(f.key).translation }} ({{ f.doc_count }})</a>
                                    {% else %}
                                    {{ _("Не зазначено") }} ({{ f.doc_count }})
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}