{% extends "base.jinja" %}

{% block bodyclass %}not-front  {% endblock %}

{% block html_title -%}{{ title }}{%- endblock %}

{% block html_desc %}{{ meta_desc }}{% endblock %}

{% block content %}
<section id="page">
    <div class="content container">
        <h1 id="page-header"><span>{{ _("Регіони") }}: {{ translator.translate(region_name).translation|escape }}</span></h1>
        <div class="table-responsive">
            <div id="glossarium">
                <table class="regions__table">
                    {% for f in facets %}
                    <tr itemscope itemtype="http://schema.org/Organization">
                        <td><a href="{{ url('region_office', region_name=region_name, office_name=f.key) }}"><span itemprop="name">{{ translator.translate(f.key).translation }}</span> ({{ f.doc_count }})</a>
                        <span itemprop="address" style="display: none">{{ region_name|escape }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}