{% extends "base.jinja" %}

{% block html_title -%}
Декларації українських чиновників по регіонах в онлайн-доступі: шукай правду тут
{%- endblock %}

{% block html_desc %}
Всі оброблені податкові декларації українських чиновників надаються в нашому проекті по регіонах. База постійно поповнюється новими даними про прибутки і податки кожного чиновника.
{% endblock %}


{% block content %}
<section id="page">
    <div class="container">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">Головна</a></li>
                <li class="active">Регіони</li>
            </ol> 
        </div>
        <h1 id="page-header"><span>Регіони</span></h1>
        <div class="page-content">
            <div class="box">
                <div class="table-responsive">
                    <div id="glossarium">
                        <table class="table table-bordered table-striped">
                            {% for f in facets %}
                            <tr>
                                <td>
                                    {% if f.key %}
                                    <a href="{{ url('region', region_name=f.key) }}">{{ f.key }} ({{ f.doc_count }})</a>
                                    {% else %}
                                    {{ f.key }} ({{ f.doc_count }})
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}