{% extends "base.jinja" %}

{% block content %}
<section id="page">
    <div class="container">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("home") }}">Головна</a></li>
                <li class="active">Регіони</li>
            </ol> 
        </div>
        <h1 id="page-header"><span>Регіони</span></h1>
        <div class="page-content">
            <div class="box">
                <div class="table-responsive">
                    <div id="glossarium">
                        <table class="table table-bordered table-striped">
<!--                            <tr>
                                <th align="left">
                                    <div id="glossarium-index">
                                        <span class="g_i"><a href="#">ВСІ</a></span>
                                        <span class="g_i empty"><a href="#">0-9</a></span>  
                                        <span class="g_i"><a href="#">А</a></span> 
                                        <span class="g_i empty"><a href="#">Б</a></span>
                                        <span class="g_i active"><a href="#">В</a></span> 
                                        <span class="g_i"><a href="#">Г</a></span> 
                                        <span class="g_i"><a href="#">Ґ</a></span> 
                                        <span class="g_i"><a href="#">Д</a></span> 
                                        <span class="g_i empty"><a href="#">Е</a></span> 
                                        <span class="g_i"><a href="#">Є</a></span> 
                                        <span class="g_i empty"><a href="#">Ж</a></span> 
                                        <span class="g_i"><a href="#">З</a></span> 
                                        <span class="g_i"><a href="#">И</a></span> 
                                        <span class="g_i empty"><a href="#">І</a></span> 
                                        <span class="g_i"><a href="#">Ї</a></span> 
                                        <span class="g_i"><a href="#">Й</a></span> 
                                        <span class="g_i empty"><a href="#">К</a></span> 
                                        <span class="g_i empty"><a href="#">Л</a></span> 
                                        <span class="g_i"><a href="#">М</a></span> 
                                        <span class="g_i empty"><a href="#">Н</a></span> 
                                        <span class="g_i"><a href="#">О</a></span> 
                                        <span class="g_i empty"><a href="#">П</a></span> 
                                        <span class="g_i"><a href="#">Р</a></span> 
                                        <span class="g_i"><a href="#">С</a></span> 
                                        <span class="g_i"><a href="#">Т</a></span> 
                                        <span class="g_i"><a href="#">У</a></span> 
                                        <span class="g_i"><a href="#">Ф</a></span> 
                                        <span class="g_i"><a href="#">Х</a></span> 
                                        <span class="g_i"><a href="#">Ц</a></span> 
                                        <span class="g_i empty"><a href="#">Ч</a></span> 
                                        <span class="g_i empty"><a href="#">Ш</a></span> 
                                        <span class="g_i"><a href="#">Щ</a></span> 
                                        <span class="g_i"><a href="#">Ь</a></span> 
                                        <span class="g_i"><a href="#">Ю</a></span> 
                                        <span class="g_i empty"><a href="#">Я</a></span>
                                    </div>
                                </th>
                            </tr>
 -->                        
                            {% for f in facets %}
                            <tr>
                                <td>
                                    {% if f.key %}
                                    <a href="{{ url('region', region_name=f.key) }}">{{ f.key }} ({{ f.doc_count }})</a>
                                    {% else %}
                                    {{ f.key }} ({{ f.doc_count }})
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}