<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% for url in urls %}
  <url>
    <loc>{{ SITE_URL }}{{ url }}</loc>

    {% for language_code, language_name in LANGUAGES %}
    	<xhtml:link rel="alternate" hreflang="{{ language_code }}" href="{{ SITE_URL }}{{ translate_url(url, language_code) }}"/>
    {% endfor %}
	</url>
{% endfor %}
</urlset>