{% extends "base.jinja" %}

{% block content %}
<section id="page">
    <div class="content container">

        <h1 class="main-page__title"><span>{% block page_header %}{% endblock %}</span></h1>

        <div class="page-content">
        {% block static_content %}
        {% endblock %}
        </div>
    </div>
</section>

{% endblock %}