//colors
$decl-green: #01bbae;
$decl-blue: #168df2;
$decl-pen: #3933c5;
$decl-red: #e95000;
$decl-gray-text: #c3c2c2;
$decl-warning: #aa6708;
$bg: #EEE;
$line: #d2d2d2;
$bihus-red: #e13f4c;

//grid
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//bp
$joinus-bp: $screen-sm-min;

$pad: 15px;
$pad20: 20px;