.account-block {
  position: relative;
  &__icon {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    path {
      transition: fill 0.3s linear;
    }
    &:hover path{
      fill: $green;
    }
  }
  &__dropdown {
    margin-top: 13px;
    position: absolute;
    top: 100%;
    border: 1px solid #EEEFF2;
    background: $white;
    z-index: 10;
    display: none;
    right: 0;
    @media all and (min-width: 1024px) {
      left: 0;
      right: auto;
    }
  }
  &__dropdown-top {
    padding: 10px 16px;
  }
  &__user-name {
    font-weight: 600;
  }
  &__user-email {
    font-weight: 600;
    color: #898D93;
    font-size: 12px;
  }
  &__menu {
    padding: 10px 16px;
    border-top: 1px solid #EEEFF2;
  }
  &__menu-item {
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__menu-link, &__logout {
    color: $base;
    display: block;
    transition: color 0.3s linear;
    &:hover {
      color: $green;
    }
  }
  &__menu-link {
    font-weight: 600;
  }
  &__dropdown-bottom {
    padding: 10px 16px;
    border-top: 1px solid #EEEFF2;
  }
}