.action-icon {
  position: relative;
  cursor: pointer;
  path {
    transition: fill 0.3s linear;
  }
  &:hover {
    path {
      fill: #45968d;
    }
    .action-icon__tooltip {
      opacity: 1;
    }
    .action-icon__dropdown {
      display: block;
    }
  }
  &_red:hover {
    path {
      fill: #ce2a1f;
    }
  }
  &__img {
    display: block;
  }
  &__count {
    background: $base;
    color: $white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 8px;
    position: absolute;
    top: -4px;
    left: 15px;
    padding: 2px 5px;
    &:empty {
      display: none;
    }
  }
  &_dark {
    .action-icon__count { background: $green; }
  }
  &__tooltip {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background: $white;
    left: 50%;
    top: -35px;
    border: 1px solid #EEEFF2;
    box-sizing: border-box;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 7px 16px;
    line-height: 1;
    white-space: nowrap;
    color: #898D93;
    font-size: 12px;
    font-weight: 500;
    transform: translate(-50%, 0);
    border-radius: 4px;
    transition: opacity 0.3s linear;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -6px;
      width: 10px;
      height: 10px;
      background: red;
      background: $white;
      transform: rotate(45deg);
      margin-left: -6px;
      border: 1px solid #EEEFF2;
      z-index: 8;
    }
    &:after {
      content: "";
      position: absolute;
      right: 2px;
      bottom: 1px;
      height: 8px;
      left: 2px;
      background: $white;
      z-index: 9;
    }
  }
  &__tooltip-text {
    position: relative;
    z-index: 10;
  }
  &__dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: $white;
    border: 1px solid #EEEFF2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 16px;
    z-index: 10;
    width: 444px;
    @media all and (min-width: 1650px) {
      left: 0;
      right: auto;
    }
  }
  &__dropdown-item {
    padding: 11px 0;
    font-size: 12px;
    border-bottom: 2px dotted rgba($black, 0.08);
    cursor: pointer;
    position: relative;
    transition: color 0.3s linear;
    &:last-child {
      border: none;
    }
    &:hover {
      color: $green;
    }
  }
  &__dropdown-item-complex {
    display: flex;
    justify-content: space-between;
  }
  &__grey {
    color: #898D93;
    &:hover { color: $green; }
  }
  &__strong {
    font-weight: 700;
  }
  &__dropdown-section {
    &:not(:last-child){
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: -16px;
        right: -16px;
        height: 1px;
        background: #EEEFF2;
      }
    }
  }
  &__first-column {
    width: 60%;
  }
  &__last-column {
    width: 30%;
  }
  &__details {
    background: white;
    border: 1px solid #EEEFF2;
    box-sizing: border-box;
    border-radius: 4px;
    display: none;
    padding: 0 16px;
    position: absolute;
    top: 30px;
    width: 444px;
    left: -222px;
    z-index: 1;
    &--visible {
      display: block;
    }
  }
  &__details-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 11px 0;

    &:last-child {
      border-bottom: none;
    }
  }
}