.advantages-block {
  @include ext-background($white);
  padding: 50px 0 80px;
  @media all and (min-width: 1024px) {
    padding-top: 80px;
  }
  &__title {
    font-family: Formular;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    margin: 0 0 40px;
    @media all and (min-width: 1024px) {
      font-size: 36px;
      margin: 0 0 90px;
    }
  }
  &__items {
    &:not(.advantages-block__items_numeric) {
      @media all and (min-width: 1024px) {
        @include flex();
        .advantages-block__item {
          box-sizing: border-box;
          padding-right: 40px;
          &:last-child { padding: 0; }
        }
      }
    }
  }
  &__item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    @media all and (min-width: 1024px) {
      margin: 0;
    }
    &_numeric {
      padding-left: 45px;
      position: relative;
      @media all and (min-width: 1024px) {
        padding-left: 65px;
        margin-bottom: 35px;
      }
    }
  }
  &__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 9px;
    @media all and (min-width: 1024px) {
      font-size: 20px;
    }
  }
  &__item-text {
    &_numeric {
      color: #898D93;
      @media all and (min-width: 1024px) {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__item-number {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 2px solid $green;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -10px;
    font-family: Formular;
    font-weight: 700;
    @media all and (min-width: 1024px) {
      width: 39px;
      height: 39px;
      line-height: 34px;
      font-size: 20px;
      top: -12px;
    }
  }
  &__bots {
    margin-top: 20px;
    &_numeric {
      @media all and (min-width: 1024px) {
        @include flex($align-items: center);
      }
    }
  }
  &__bots-items {
    @include flex($justify-content: flex-start, $align-items: center);
  }
  &__bot-link {
    margin-right: 40px;
    @media all and (min-width: 1024px) {
      margin-right: 20px;
    }
  }
  &__instruction-link {
    font-size: 12px;
    font-weight: 700;
    color: $green;
    margin-top: 20px;
    display: inline-block;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 13px;
      vertical-align: middle;
      margin-left: 7px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      background-image: url('../images/icon/right-green.svg');
    }
    &_btn {
      @media all and (min-width: 1024px) {
        margin: 0;
        text-transform: uppercase;
        padding: 5px 12px 4px 14px;
        color: $white;
        background: $green;
        font-size: 10px;
        border-radius: 2px;
        &:after { background-image: url('../images/icon/right-white.svg'); }
        &:hover {
          background-color: darken($green, 10%);
        }
      }
    }
  }
}