.declaration-card {
  background: $white;
  border: 1px solid #EEEFF2;
  border-radius: 2px;
  padding: 12px 16px;
  margin: 0 -18px;
  @media all and (min-width: 1024px) {
    margin: 0;
    padding: 15px 24px 0;
  }
  &__personal-info {
    border-bottom: 1px solid #EEEFF2;
    margin: 0 -24px;
    padding: 0 24px 11px;
  }
  &__feature {
    padding: 19px 0 30px;
  }
  &__feature-title {
    font-weight: 700;
    position: relative;
    padding-left: 34px;
    margin-bottom: 5px;
    font-size: 12px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 0;
      background: url('../images/icon/feature.svg');
      background-size: 100% auto;
    }
    @media all and (min-width: 1024px) {
      font-size: 14px;
    }
  }
  &__feature-items {
    @media all and (min-width: 1024px) {
      @include flex($flex-wrap: wrap, $justify-content: flex-start);
      margin: 0 -10px;
      max-width: 790px;
    }
  }
  &__feature-item {
    box-sizing: border-box;
    display: flex;
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    @media all and (max-width: 1023px) {
      flex-direction: column;
    }
  }
  &__feature-item-title,
  &__feature-item-description {
    @media all and (min-width: 1024px) {
      width: 50%;
      padding: 0 10px;
    }
  }
  &__feature-item-description {
    color: #555;
  }
  &__charts-title {
    padding-left: 34px;
    position: relative;
    font-size: 12px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 0;
      background: url('../images/icon/chart-title.svg');
      background-size: 100% auto;
    }
    @media all and (min-width: 1024px) {
      font-size: 14px;
    }
  }
  &__charts-items {
    @media all and (min-width: 1024px) {
      @include flex($flex-wrap: wrap, $justify-content: flex-start);
      margin: 0 -8px;
    }
  }
  &__charts-item {
    box-sizing: border-box;
    margin-top: 16px;
    max-width: 550px;
    @media all and (min-width: 1024px) {
      width: 50%;
      padding: 0 8px;
    }
  }
  &__btns {
    @media all and (min-width: 500px) {
      @include flex($justify-content: flex-start);
    }
  }
  &__btn {
    @media all and (min-width: 500px) {
      margin-right: 16px;
    }
    @media all and (max-width: 499px) {
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__actions {
    border-bottom: 1px solid #EEEFF2;
    margin: 18px -16px 0;
    padding: 0 16px 11px;
    @media all and (min-width: 1024px) {
      border-top: 1px solid #EEEFF2;
      @include flex($align-items: center);
      padding: 24px;
      margin: 18px -24px 0;
    }
  }
  &__monitoring {
    @media all and (max-width: 1023px) {
      display: block;
      margin-top: 20px;
      .monitoring-block__title {
        margin: 0 0 12px 0;
      }
      .monitoring-block__btn {
        padding: 10px 16px;
        font-size: 10px;
        text-transform: uppercase;
        box-sizing: border-box;
      }
    }
  }
}