.deep-search {
  background: $white;
  border: 1px solid rgba(17, 17, 17, 0.12);
  border-radius: 4px;
  padding: 18px;
  position: relative;
  display: none;
  &.opened {
    display: block;
  }
  @media all and (min-width: 1024px) {
    padding: 25px 40px;
    &:before {
      content: "";
      width: 23px;
      height: 23px;
      background: $white;
      border: 1px solid rgba(17, 17, 17, 0.12);
      border-radius: 3px;
      position: absolute;
      right: 87px;
      top: -12px;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      width: 50px;
      height: 25px;
      background: $white;
      position: absolute;
      right: 75px;
      top: 0;
    }
  }
  &__title {
    display: none;
    @media all and (min-width: 1024px) {
      font-weight: 700;
      font-size: 16px;
      display: block;
      margin-bottom: 20px;
    }
  }
  &__filter {
    background: $white;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @media all and (min-width: 1024px) {
      border-radius: 4px;
      border: 1px solid #EEEFF2;
    }
    &.opened {
      .deep-search__filter-body {
        display: block;
      }
      .deep-search__filter-title:before {
        transform: rotate(180deg);
      }
      .deep-search__filter-title {
        @media all and (max-width: 1023px) {
          border-color: $green;
          &:before {
            margin-top: -7px;
            border-color: $green transparent transparent transparent;
          }
        }
      }
    }
  }
  &__filter-title {
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #EEEFF2;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 11px 16px;
    cursor: pointer;
    position: relative;
    & .desktop { display: none; }
    & .mobile { display: inline-block; }
    @media all and (min-width: 1024px) {
      padding: 11px 24px;
      border: none;
      border-radius: 0;
      & .desktop { display: inline-block; }
      & .mobile { display: none; }
      &:before {
        content: "";
        position: absolute;
        right: 30px;
        top: 50%;
        width: 24px;
        height: 24px;
        background: url('../images/icon/drop-down.svg') center no-repeat;
        background-size: 100% auto;
        margin-top: -12px;
      }
      &:hover {
        background: darken($white, 2%);;
      }
    }
    @media all and (max-width: 1023px) {
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        width: 0;
        height: 0;
        border-color: $base transparent transparent transparent;
        border-width: 4px;
        border-style: solid;
        margin-top: -2px;
      }
    }
    .filter-count {
      display: inline-block !important;
      margin-left: 7px;
      @media all and (min-width: 1024px) {
        display: none !important;
      }
    }
  }
  &__filter-body {
    padding: 18px;
    border: 1px solid #EEEFF2;
    border-radius: 2px;
    display: none;
    margin-top: 8px;
    @media all and (min-width: 1024px) {
      padding: 28px 24px;
      border: none;
      border-top: 1px solid #EEEFF2;
      border-radius: 0;
      margin: 0;
    }
  }
  &__bottom {
    margin-top: 25px;
    @media all and (min-width: 1024px) {
      @include flex($justify-content: flex-end, $align-items: center);
    }
  }
  &__count-block {
    margin-bottom: 25px;
    @media all and (min-width: 1024px) {
      margin: 0 16px 0 0;
    }
  }
  &__reset {
    @media all and (min-width: 1024px) {
      background: #898D93;
    }
  }
  &__btn {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 auto 10px;
    &:last-child { margin-bottom: 0; }
    @media all and (max-width: 1023px) {
      display: block;
      width: 100%;
      max-width: 400px;
    }
    @media all and (min-width: 1024px) {
      margin: 0 0 0 13px;
      width: 144px;
      padding: 6px 8px;
    }
  }
}

.filter-year {
  @include flex($flex-wrap: wrap, $justify-content: flex-start);
  margin: -7px -11px;
  @media all and (min-width: 1024px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__item {
    padding: 7px 11px;
    width: 33.3%;
    box-sizing: border-box;
    @media all and (min-width: 500px) {
      max-width: 100px;
    }
    @media all and (min-width: 1024px) {
      max-width: none;
    }
  }
}

.position-filter {
  @media all and (min-width: 600px) {
    @include flex();
  }
  &__param {
    @media all and (min-width: 600px) {
      width: 50%;
    }
  }
  &__param-title {
    font-weight: 600;
    margin-bottom: 14px;
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__param-items {
    margin: -6px 0;
    @media all and (min-width: 1024px) {
      @include flex($justify-content: flex-start);
    }
  }
  &__param-item {
    padding: 6px 0;
  }
  &__param-column {
    @media all and (min-width: 1024px) {
      width: 50%;
    }
  }
  &__position {
    margin-top: 20px;
    @media all and (min-width: 600px) {
      margin: 0;
    }
  }
}

.risk-filter {
  &__column {
    @media all and (min-width: 1024px) {
      width: 50%;
    }
  }
  &__item {
    padding: 6px 0;
  }
  &__items {
    margin: -6px 0;
    @media all and (min-width: 1024px) {
      @include flex();
    }
  }
}

.region-filter {
  position: relative;
  &__title {
    font-weight: 600;
    @media all and (max-width: 1023px) {
      border: 1px solid #EEEFF2;
      padding: 3px 16px;
      border-radius: 2px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        width: 0;
        height: 0;
        border-color: $base transparent transparent transparent;
        border-width: 4px;
        border-style: solid;
        margin-top: -3px;
      }
    }
  }
  &__items-wrap {
    @media all and (min-width: 1024px) {
      display: block !important;
    }
    @media all and (max-width: 1023px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 8px;
      display: none;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -19px;
        right: -19px;
        bottom: -16px;
        border: 1px solid #EEEFF2;
        border-top: none;
        border-radius: 0 0 2px 2px;
        background: $white;
        z-index: -1;
      }
    }
  }
  &__items {
    @media all and (min-width: 1024px) {
      @include flex($flex-wrap: wrap, $justify-content: flex-start);
      margin: 0 -10px;
    }
    @media all and (max-width: 1023px) {
      max-height: 200px;
      overflow: auto;
      border: 1px solid #EEEFF2;
      padding: 16px;
      box-sizing: border-box;
      border-radius: 2px;
      background: $white;
    }
  }
  &__item {
    box-sizing: border-box;
    @media all and (min-width: 1024px) {
      width: 20%;
      padding: 0 10px;
      margin-top: 15px;
    }
    @media all and (max-width: 1023px) {
      margin-bottom: 15px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.region-type-filter {
  margin-bottom: 24px;
  &__title {
    font-weight: 600;
    margin-bottom: 15px;
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__items {
    @media all and (min-width: 1024px) {
      @include flex($justify-content: flex-start);
    }
  }
  &__item {
    max-width: 300px;
    margin-bottom: 15px;
    &:last-child { margin-bottom: 0; }
    @media all and (min-width: 1024px) {
      width: 50%;
      margin: 0;
    }
  }
}

.filter-count {
  color: $white;
  background: $green;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
  display: block;
}