.dynamics-info {
  border: 1px solid #EEEFF2;
  padding: 16px;
  border-radius: 2px;
  &__top {
    @media all and (min-width: 500px) {
      @include flex($align-items: stretch);
    }
  }
  &__left {
    @media all and (min-width: 500px) {
      width: 43%;
      box-sizing: border-box;
      padding-right: 20px;
      @include flex($flex-direction: column, $justify-content: space-between);
    }
  }
  &__right {
    margin-top: 16px;
    @media all and (min-width: 500px) {
      margin: 0;
      width: 57%;
    }
  }
  &__title {
    color: #898D93;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    font-size: 9px;
    margin-bottom: 5px;
    @media all and (min-width: 500px) {
      font-size: 11px;
    }
  }
  &__sum {
    font-size: 12px;
    font-weight: 700;
  }
  &__bottom {
    display: none;
    @media all and (min-width: 500px) {
      margin-top: 8px;
      display: block;
    }
  }
  &__description {
    font-size: 10px;
  }
  &__mobile {
    margin-top: 16px;
    @media all and (min-width: 500px) {
      display: none;
    }
  }
  &__chart {
    display: block;
    width: 100%;
    height: auto;
  }
}