@import "form/input";
@import "form/radio";
@import "form/radio-box";
@import "form/n-select";

.n-form {
  &__item {
    margin: 20px 0;
  }
  &__label {
    font-weight: 700;
    margin-bottom: 3px;
  }
}