.lang-switch {
  cursor: pointer;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
  &__selected {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: 1px;
  }
}