.logo-block {
  &__link, &__img {
    display: block;
  }
  &__img_desktop {
    height: 40px;
    display: none;
    @media all and (min-width: 1024px) {
      display: block;
    }
  }
  &__img_mobile {
    height: 28px;
    display: block;
    @media all and (min-width: 1024px) {
      display: none;
    }
  }
}