.main-social-block {
  &__items {
    @media all and (max-width: 1023px) {
      @include flex($justify-content: flex-start);
    }
  }
  &__item {
    margin-right: 40px;
    @media all and (min-width: 1024px) {
      margin: 0 0 30px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link img {
    @media all and (min-width: 1024px) {
      width: 20px;
      height: auto;
    }
  }
}