.main-menu {
  display: none;
  @media all and (min-width: 1024px) {
    @include flex($justify-content: fle-start);
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    color: $base;
    opacity: 0.5;
    line-height: 20px;
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 0.8;
    }
  }
  &__item {
    margin: 0 12px;
    &:first-child {
      margin-left: 0;
    }
    &:first-child {
      margin-right: 0;
    }
  }
}