.social-link {
  color: $white;
  @include flex($justify-content: flex-start, $align-items: center);
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
  &__icon {
    margin-right: 10px;
    flex-shrink: 0;
    &:last-child {
      margin: 0;
    }
  }
}