.tabs {
  @include flex($justify-content: flex-start);
  &__link {
    font-size: 12px;
    font-weight: 700;
    color: $black;
    transition: color 0.3s linear;
    &:hover {
      color: $green;
    }
    &_active {
      color: $green;
      cursor: default;
    }
    @media all and (min-width: 1024px) {
      font-size: 16px;
    }
  }
  &__item {
    padding: 0 6px;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
    @media all and (min-width: 1024px) {
      padding: 0 24px;
    }
  }
  &__tab {
    margin-top: 15px;
  }
}