{% from "_youcontrol.jinja" import yc_dossier, yc_check_person %}

{% macro procurements_details(declaration) -%}
    {% set affiliated_earnings = declaration.get_procurement_earnings_by_year(True) %}
    {% if affiliated_earnings %}
        <div class="declaration-card__tenders">
            <div class="tenders">
                <div class="tenders__top">
                    <div class="tenders__top-inner">
                        <div class="tenders__title" id="tenders"><span>{{ _("Виторг в тендерах компаній") }}</span></div>
                        <div class="tenders__description">
                            {{ affiliated_earnings|sum(attribute='sum_uah')|string|curformat }} {{ _("грн.")}} {{ _("— в яких декларант є бенефіціаром") }}
                        </div>
                    </div>
                </div>

                <div class="tenders__body">
                    <div class="tenders__years-wrap">
                        <table class="tenders__years">
                            <thead>
                            <tr>
                                <th>{{ _("Рік") }}</th>
                                <th>{{ _("Кількість виграних тендерів") }}</th>
                                <th>{{ _("Сума, грн") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for earning in affiliated_earnings|sort(attribute="year", reverse=True) %}
                                <tr>
                                    <td>{{ earning.year }}</td>
                                    <td>{{ earning.count }}</td>
                                    <td><span>{{ earning.sum_uah|string|curformat }}</span> {{ _("грн.") }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% set earnings_by_company = declaration.get_procurement_earnings_by_company(True) %}
                    <div class="tenders__companies">
                        <div class="tenders__companies-header">
                            <div class="tenders__companies-column">
                                <div class="tenders__companies-title">{{ _("Компанія") }}</div>
                            </div>
                            <div class="tenders__companies-column">
                                <div class="tenders__companies-title">{{ _("Кількість виграних тендерів") }}</div>
                            </div>
                            <div class="tenders__companies-column">
                                <div class="tenders__companies-title">{{ _("Сума, грн") }}</div>
                            </div>
                        </div>

                        <div class="tenders__companies-rows">
                        {% for earning in earnings_by_company|sort(attribute="sum_uah", reverse=True) %}
                            <div class="tenders__companies-row">
                                <div class="tenders__companies-column">
                                    <div class="tenders__companies-mobile-title">{{ _("Компанія") }}</div>
                                    <a href="http://z.texty.org.ua/seller/{{ earning.seller__pk }}" target="_blank">
                                        {{ earning.seller__name }}, ЄДРПОУ {{ '{:0>8}'.format(earning.seller__code) }}
                                    </a>
                                    {{ yc_dossier('a') }}
                                    {{ yc_dossier('b') }}
                                    {{ yc_dossier('c') }}
                                </div>
                                <div class="tenders__companies-column">
                                    <div class="tenders__companies-mobile-title">{{ _("Кількість виграних тендерів") }}</div>
                                    {{ earning.count }}
                                </div>
                                <div class="tenders__companies-column">
                                    <div class="tenders__companies-mobile-title">{{ _("Сума") }}</div>
                                    {{ earning.sum_uah|string|curformat }} {{ _("грн.") }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{%- endmacro %}
