{% macro login_button(href) -%}
    {% set path = href|urlencode %}
    <div id="login-button" data-url="{{ url("login_menu") }}">
        <div class="dropdown profile-dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="profile" title="{{ _("Увійти для перегляду підписок та збереженних пошуків") }}"
                data-toggle="dropdown"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ _("Увійти") }} <span class="caret"></span></button>
            <ul class="dropdown-menu signin-menu">
                <li><a class="facebook" href="{{ url("social:begin", "facebook") }}?next={{ path }}"
                     title="Facebook"><span class="glyphicon glyphicon-new-window"></span> {{ _("Через Facebook") }}</a></li>
                <li><a class="google" href="{{ url("social:begin", "google-oauth2") }}?next={{ path }}"
                    title="Google / Gmail"><span class="glyphicon glyphicon-new-window"></span> {{ _("Через Google") }}</a></li>
                <li><a class="email" href="#" data-toggle="modal" data-target="#login-email-modal"
                    title="E-mail"><span class="glyphicon glyphicon-new-window"></span> {{ _("Через E-mail") }}</a></li>
            </ul>
        </div>
        <!-- login modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="x"><span
                            aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="login-label">{{ _("Будь ласка, увійдіть") }}</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>{{ _("Щоб розпочати моніторинг необхідно авторизуватись") }}</p>
                        <ul id="signin" class="signin-menu">
                            <li><a class="facebook" href="{{ url("social:begin", "facebook") }}?next={{ path }}"
                                title="Facebook">Facebook</a></li>
                            <li><a class="google" href="{{ url("social:begin", "google-oauth2") }}?next={{ path }}"
                                title="Google / Gmail">Google / Gmail</a></li>
                            <li><a class="email" href="#" data-toggle="modal" data-target="#login-email-modal"
                                data-dismiss="modal" title="E-mail">E-mail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- login email modal -->
        <div class="modal fade" id="login-email-modal" tabindex="-2" role="dialog" aria-labelledby="login-email-label">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="x"><span
                            aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="login-email-label">{{ _("Введіть e-mail") }}</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div id="login-modal-email-form">
                            <div class="form-group">
                              <label for="login-email-input">{{ _("Введіть адресу з якої ви реєструвались.") }}
                                {{ _("Якщо ви ще не зареєстровані - зареєструйтесь за допомогою Google або Facebook.") }}</label>
                              <input type="email" class="form-control" id="login-email-input" placeholder="E-mail">
                            </div>
                            <button id="btn-send-login-email" class="btn btn-default">{{ _("Надіслати лінк для входу") }}</button>
                        </div>
                        <div id="login-modal-success-message" style="display:none">
                            <p>
                                {{ _("Якщо ви зареєстровані на вказану адресу буде надіслано лист з посиланням для входу.") }}
                                {{ ("Посилання діятиме протягом 15 хвилин.") }}
                            </p>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Закрити") }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login error modal -->
        <div class="modal fade" id="login-error-modal" tabindex="-2" role="dialog" aria-labelledby="login-error-label">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="x"><span
                            aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="login-error-label">{{ _("Помилка входу") }}</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>{{ _("Помилка входу, не надано доступ.") }}</p>
                        <p>
                        <a href="#" class="btn btn-default btn-raised" id="show-login-modal">{{ _("Повторити") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
{% macro spotter_button(label, query_string, from) -%}
{% set e_label = "e-mail" %}
    <a id="save-search" class="btn btn-raised btn-sm save-search" data-target="#login-modal"
        href="{{ url('save_search') }}?{{ query_string }}" data-from="{{ from }}">
        <i class="fa fa-envelope-o" aria-hidden="true"></i> {{ e_label }}</a>
    <div class="modal" id="wait-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h2>{{ _("Зачекайте...") }}</h2>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
{% macro subscribe_chatbot_links() -%}
    {{ _("Також ви можете підписатись і отримувати сповіщення у ваш улюблений месенджер:") }}
    <a href="https://join.skype.com/bot/aa05e543-5918-49bb-88e6-ae8064345dd8">Skype</a>,
    <a href="http://telegram.me/declbot">Telegram</a> {{ _("та") }}
    <a href="https://www.messenger.com/t/237009933449862">Facebook Messenger</a>
{%- endmacro %}
{% macro flash_messages(messages) -%}
    {% if messages %}
    <div class="clearfix"></div>
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissible alert-{% if message.tags %}{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
{%- endmacro %}
