{% extends "base.jinja" %}

{% from "_spotter.jinja" import flash_messages, subscribe_chatbot_links %}
{% from "_search_form.jinja" import ex_search_form with context %}

{% block html_title -%}Мій профіль{%- endblock %}


{% block content %}
<div class="content container">
    <div class="profile-page">
        <div class="profile-page__form-block">
            {{ ex_search_form('', false) }}
        </div>
    </div>
    <div class="profile-page__top">
        <div class="tabs profile-page__tabs">
            <div class="tabs__item">
                <a href="{{ url("search_list") }}" class="tabs__link tabs__link_active">
                    {{ _("Мій профіль") }}
                </a>
            </div>
        </div>
    </div>

    {{ flash_messages(messages) }}
    <div class="profile-page__panel">
        <form class="profile-page__form" method="post">
            <p>{{ _("Для продовження необхідно вказати свій e-mail") }}</p>
            {% csrf_token %}
            {% for field in form %}
                <div class="n-input__wrapper">
                    <input id="{{ field.id_for_label }}"
                        name="{{ field.name }}"
                        class="profile-page__email-input n-input{% if field.errors %} n-input--has-error{% endif %}"
                        value="{{ field.value() }}"
                        placeholder="{{ field.label }}" />
                    {% if field.errors %}
                    <span class="n-input__error">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </span>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="profile-page__actions">
                <button type="submit" class="n-btn profile-page__action">{{ _("Зберегти") }}</button>
                <a href="{{ url('search_list') }}" class="btn btn-link">{{ _("Назад") }}</a>
            </div>
        </form>
    </div>
    <p class="profile-page__footer">
        {{ subscribe_chatbot_links() }}
    </p>
</div>

{% endblock %}
