{% extends "base.jinja" %}

{% from "_spotter.jinja" import flash_messages %}

{% block html_title -%}Мої запити{%- endblock %}


{% block content %}
<section id="page">
    <div class="container">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/">Головна</a></li>
                <li class="active">Мої запити</li>
            </ol>
        </div>
        {{ flash_messages(messages) }}
        <h1 id="page-header"><span>Мої запити</span></h1>
        <div class="page-content">
            <p class="text-center help-footer">
                Щоб створити нове завдання спробуйте щось знайти, а потім нажміть "+ МОНІТОРИТИ ЦЕЙ ЗАПИТ".
            </p>
            <div class="box">
                <div class="table-responsive">
                    <div id="glossarium">
                        <table class="table table-bordered table-striped" id="search-list">
                            <thead>
                                <tr>
                                    <th>Запит</th>
                                    <th>Знайдено</th>
                                    <th>За тиждень</th>
                                    <th>Сповіщення на</th>
                                    <th>Статус</th>
                                    <th>Операції</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in task_list %}
                                <tr>
                                    <td>
                                        <a href="{{ url('search') }}?q={{ task.query }}{%
                                                if task.deepsearch %}&deepsearch=on{% endif %}" title="Перейти до пошуку">
                                            {{ task.query }}{% if task.deepsearch %} (шукати скрізь){% endif %}
                                        </a>
                                    </td>
                                    <td>{{ task.found_total }}</td>
                                    <td>{{ task.found_week }}</td>
                                    <td>{% if task.is_enabled %}
                                        <a href="{{ url('edit_email') }}">{{ task.user.email }}</a>{% else %}-{% endif %}
                                    </td>
                                    <td>{% if task.is_enabled %}В роботі{% else %}На паузі{% endif %}</td>
                                    <td>
                                        <form method="POST" action="{{ url('edit_search', task.id )}}">
                                            {% csrf_token %}
                                            {% if task.is_enabled %}
                                            <button class="btn btn-link" type="submit" name="action"
                                                value="disable">Призупинити</button>
                                            {% else %}
                                            <button class="btn btn-link" type="submit" name="action"
                                                value="enable">Відновити</button>
                                            {% endif %} |
                                            <button  class="btn btn-link delete" type="submit"
                                                name="action" value="delete">Видалити</button>
                                        </form>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">
                                        Тут пусто, спробуйте створити перше завдання.
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
